@model IEnumerable<REIN_MES_System.Models.RS_Roles>
    @using REIN_MES_System.App_LocalResources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}
<p class="position_absolute">
    <a href="@Url.Action("Create", "Roles")" class="btn btn-social btn-linkedin"><i class="fa fa-fw fa-plus-circle"></i> @ResourceGlobal.Create_New</a>
</p>
<table class="table table-bordered table-striped datatable_completes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sort_Order)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Role_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role_Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sort_Order)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Roles", new { id = item.Role_ID })"><i class="fa fa-edit" title="Edit" style="color:blue"></i></a> 
                    <a href="@Url.Action("Details", "Roles", new { id = item.Role_ID })"><i class="fa fa-fw fa-laptop" title="Details" style="color:blueviolet"></i></a> 
                    <a href="@Url.Action("Delete", "Roles", new { id = item.Role_ID })"><i class="fa fa-trash" title="Delete" style="color:red"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    @Scripts.Render("~/Content/theme/plugins/datatables/js")
    @Styles.Render("~/Content/theme/plugins/datatables/css")
    @Scripts.Render("~/Scripts/user_datatable")
}