@model REIN_MES_System.Models.RS_OM_Configuration
@using REIN_MES_System.App_LocalResources;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">

        <div class="form-horizontal">

            <div class="row">
                @Html.ValidationSummary(true)
                <div class="col-md-3" style="display:none;">
                    @Html.LabelFor(model => model.Plant_ID,ResourceDisplayName.Plant_Name, htmlAttributes: new { @class = "" })
                    @Html.DropDownList("Plant_ID", String.Empty)
                    @Html.ValidationMessageFor(model => model.Plant_ID)
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Shop_ID, ResourceDisplayName.Shop_Name, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.DropDownListFor(model => model.Shop_ID, null, ResourceDisplayName.Select_Shop, new { onchange = "", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Shop_ID)
                </div>
                <div class="col-md-5">
                    @Html.LabelFor(model => model.Config_Name, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.TextBoxFor(model => model.Config_Name, new { onchange = "", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Config_Name, null, new { @class = "validation_error" })
                </div>
                @Html.HiddenFor(model => model.OMconfig_ID)

               
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    @Html.Label(ResourceDisplayName.PartGroup_Name, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.DropDownListFor(model => model.SelectedPartgroup_ID, null, String.Empty, new { multiple = "multiple", @class = "form-control", @style = "min-height: 200px" })
                    @Html.ValidationMessageFor(model => model.Partgroup_ID)
                </div>
                <div class="col-md-5">
                    @Html.Label(ResourceDisplayName.Configuration_Description, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.TextBoxFor(model => model.OMconfig_Desc, new { onchange = "", @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.OMconfig_Desc, null, new { @class = "validation_error" })
                </div>
                <input type="hidden" id="selectedPartgroups" name="selectedPartgroups" value="@ViewBag.selectedIds" />
              

            </div>
            <br/>
            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" value="@ResourceGlobal.Save" class="btn btn-primary" />
                     @Html.ActionLink(ResourceDisplayName.Show_All, "Index", null, new { @class = "btn btn-primary" })
                </div>
            </div>

        </div>
    </div>
}

@*<div>
        @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-primary" })
    </div>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $(document).ready(function (e) {
        //var selectedIds = $("#selectedPartgroups").val();

        //var dataarray = selectedIds.split(",");

        //// Set the value
        //$("#Partgroup_ID").val(dataarray);

        //// Then refresh
        //$("#Partgroup_ID").multiselect("refresh");

        $("#Shop_ID").change(function (e) {
            clearSelectBox("SelectedPartgroup_ID");
            var shopId = $(this).val();
            if (shopId) {
                var url = "/OMConfiguration/GetPartgroupByShopId";
                ajaxpack.getAjaxRequest(url, "shopId=" + shopId + "", showPartgroupDetails, "json");
            }
        });

        function showPartgroupDetails() {
            var myajax = ajaxpack.ajaxobj
            var myfiletype = ajaxpack.filetype
            if (myajax.readyState == 4) {

                if (myajax.status == 200 || window.location.href.indexOf("http") == -1) { //if request was successful or running script locally

                    var jsonRes = $.parseJSON(myajax.responseText);
                    SelectOptionHTML(jsonRes, "SelectedPartgroup_ID");
                }
            }
        }

        function SelectOptionHTML(jsonRes, targetId) {
            //var jsonRes = $.parseJSON(myajax.responseText);
            var res = "";
            for (var i = 0; i < jsonRes.length; i++) {
                res += "<option value='" + jsonRes[i].Id + "'>" + jsonRes[i].Value + "</option>";
            }

            res = "<option value=''>" + $("#" + targetId + " option:first").html() + "</option>" + res;
            $("#" + targetId).html(res);
        }

        function clearSelectBox(targetId) {
            var res = "";
            res = "<option value=''>" + $("#" + targetId + " option:first").html() + "</option>";
            $("#" + targetId).html(res);
        }
        $("#SelectedPartgroup_ID").on("change", function () {
            var texts = [];
            $('#SelectedPartgroup_ID :selected').each(function () {
                texts.push($(this).text());
            });
            var strText;
            for (var i = 0; i < texts.length; i++) {
                if (strText == null)
                    strText = texts[i]
                else
                    strText = strText + " + " + texts[i];
            }
            $('#OMconfig_Desc').val(strText);

        });
    });

</script>