@model REIN_MES_System.Models.RS_AM_Line_Supervisor_Mapping

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}


<div>
    
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Employee_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Transferred)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Transferred)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Purgeable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Purgeable)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Inserted_Host)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inserted_Host)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inserted_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inserted_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_Host)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_Host)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_Date)
        </dd>*@

        <dt>
            @Html.DisplayName("Officer Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Employee.Employee_Name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.RS_Employee1.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Employee1.Employee_Name)
        </dd>*@

        @*<dt>
            @Html.DisplayName("Plant Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Plants.Plant_Name)
        </dd>*@

        <dt>
            @Html.DisplayName("Shop Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Shops.Shop_Name)
        </dd>

        <dt>
            @Html.DisplayName("Line Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Lines.Line_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SMM_ID }, new { @class = "btn btn-primary" }) @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-primary" })
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
