@{
    ViewBag.Title = "Manifest Screen";
    Layout = "~/Views/Shared/WithoutSideBar/_Layout.cshtml";
    
}
<div class="row shopForm-wrapper" id="">
    <div class="form-horizontal">
        <input type="hidden" id="hdnStationID" name="hdnSeries" value="@ViewBag.Station_ID_User" />
        <div class="row error-proofing-container">
            @if (ViewBag.EFGeneologyParts != null)
            {
                int i = 0;
                 foreach (var obj in @ViewBag.EFpartGroups)
                {
                    for (int k = 0; k < obj.Qty; k++)
                    {
                        i++;
                        <div id="block_@obj.Partgroup_ID" class="col-md-4">
                            <label class="control-label col-md-5">@obj.Partgrup_Desc.ToString()</label>
                            <div class="col-md-7">
                                <input type="text" name="@obj.Partgroup_ID" data-partgroup="@obj.Partgroup_ID" data-currid="@i" id="@obj.Partgroup_ID@i" maxlength="19" class="form-control scan-nopart ef-part" />
                                <div class="manual-ok-box"><input type="button" class="manual-ok-partgroup btn btn-warning btn-flat" value="Manual Ok" data-partgroup="@obj.Partgroup_ID" /></div>
                            </div>
                        </div>
                    }
                }
                foreach (var obj in @ViewBag.EFGeneologyParts)
                {
                    i++;
                    <div id="block_@obj.Part_No" class="col-md-4">
                        <label class="control-label col-md-5">@obj.Part_No.ToString()</label>
                        <div class="col-md-7">
                            <input type="text" name="@obj.Part_No" data-partno="@obj.Part_No" data-currid="@i" maxlength="19" id="scanpart_@i" class="form-control scanpart ef-part" />
                            <div class="manual-ok-box"><input type="button" class="manual-ok-part btn btn-warning btn-flat" value="Manual Ok" data-partno="@obj.Part_No" /></div>
                        </div>
                    </div>
                }
               
            }
        </div>
        <div class="row"><h4 class="text-center blinker" id="shop-common-notifier"><span></span></h4></div>
    </div>
</div>
<br />
@*Load Parent model based manifest*@
@*added on 7/july/2017*@
<div class="row">
    @*<h4 class="bg-dark text-center pull-left">ShopName : @ViewBag.ShopName </h4>
        <h4 class="bg-dark text-center pull-right">StationName : @ViewBag.StationName</h4>*@
    <div class="col-md-12 sop-wrapper">
        @if (ViewBag.ParentPartsImage != null)
        {
            if (ViewBag.ParentPartsImage.Count > 0)
            {
                <div class="col-md-12">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="nav-tabs-custom">

                        <!-- Tabs within a box -->
                        <ul class="nav nav-tabs pull-right sop-tabs">
                           
                            @if (ViewBag.ParentPartsImage != null)
                            {
                                int i = 0;
                                foreach (var manifest in ViewBag.ParentPartsImage)
                                {
                                    i++;
                                    if (i == 1)
                                    {
                                        <li class="active"><a href="#@manifest.Manifest_ID" data-toggle="tab">@manifest.Part_No</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#@manifest.Manifest_ID" data-toggle="tab">@manifest.Part_No</a></li>
                                    }
                                }

                            }


                        </ul>
                        <div class="tab-content no-padding">
                            @if (ViewBag.ParentPartsImage != null)
                            {
                                int i = 0;
                                foreach (var manifest in ViewBag.ParentPartsImage)
                                {
                                    i++;
                                    if (i == 1)
                                    {
                                        <div class="tab-pane active" id="@manifest.Manifest_ID" style="position: relative;">
                                            <img class="Parent_zoom_img" src="/Content/images/@manifest.Image_Name" data-zoom-image="/Content/images/@manifest.Image_Name" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="tab-pane" id="@manifest.Manifest_ID" style="position: relative;">
                                            <img class="Parent_zoom_img" src="/Content/images/@manifest.Image_Name" data-zoom-image="/Content/images/@manifest.Image_Name" />
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div><!-- /.nav-tabs-custom -->
                </div>
            }
            else
            {
                @*<h6 class="bg-danger">Manifest is not configured against this model!</h6>*@
            }
        }
        else
        {
            @*<h6 class="bg-danger">Manifest is not configured against this model!</h6>*@
        }
    </div>
</div>

@*End*@

<br />
<div class="row">
    <div class="col-md-12 sop-wrapper">
        <div class="col-md-12 text-center manifest-images" id="imageDiv">
            @if (ViewBag.PartsImage != null)
            {
                int i = 0;
                foreach (var item in ViewBag.PartsImage)
                {
                    if (item.Is_ParentModel_Manifest == true)
                    {
                        <div class="col-md-12">
                            <h5>@item.Part_No</h5>
                            <div class="">
                                <img class="Parent_zoom_img" src="/Content/images/@item.Image_Name" data-zoom-image="/Content/images/@item.Image_Name" />
                            </div>
                        </div>
                    }
                    else
                    {
                        i++;
                        if (i % 3 == 0)
                        {
                            <div class="col-md-4">
                                <h5>@item.Part_No</h5>
                                <div class="center-image-wrapper">
                                    <img class="third_zoom_img" src="/Content/images/@item.Image_Name" data-zoom-image="/Content/images/@item.Image_Name" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4">
                                <h5>@item.Part_No</h5>
                                <div class="center-image-wrapper">
                                    <img class="zoom_img" src="/Content/images/@item.Image_Name" data-zoom-image="/Content/images/@item.Image_Name" />
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/Zooming")
    <script type="text/javascript">
     
        var serialChanged;
        function refreshContent() {

            var srno = $("input[name='MainSerialNo']").val();
            // alert(srno);
            $('#shop-floor-content').load('/Manifest/refreshManifest', { SerialNo: srno }, function (response, status, xhr) {
                if (status == "success") {
                    //alert();
                    $("#shop-floor-content .Parent_zoom_img").elevateZoom({
                        //zoomType: "lens",
                        //lensShape: "round",
                        zoomType: "inner",
                        lensSize: 250,
                        //scrollZoom: true,
                        easing: true,
                        //zoomWindowWidth: 300,
                        //zoomWindowHeight: 300

                    });


                    $("#shop-floor-content .zoom_img").elevateZoom({
                        // zoomType : "lens",
                        // lensShape : "round",
                        // zoomType : "inner",
                        // lensSize : 250,
                        // easing : true,
                        scrollZoom: true,
                        easing: true,
                        zoomWindowWidth: 300,
                        zoomWindowHeight: 300
                    });
                    $("#shop-floor-content .third_zoom_img").elevateZoom({
                        // zoomType : "lens",
                        // lensShape : "round",
                        // zoomType : "inner",
                        // lensSize : 250,
                        // easing : true,
                        scrollZoom: true,
                        easing: true,
                        zoomWindowWidth: 300,
                        zoomWindowHeight: 300,
                        zoomWindowPosition: 11
                    });
                    var nextEfPart = $("#shop-floor-content .ef-part").not(":input[readonly]").first();
                    if (nextEfPart.length) {
                        nextEfPart.focus().select();
                    }
                }
            });



            //$.ajax({
            //    url: "/Manifest/Calendar",
            //    type: "GET",
            //    data: { year: ((val * 1) + 1) }
            //})
            //.done(function (partialViewResult) {
            //    $("#shop-floor-content").html(partialViewResult);
            // });
        }

        //function move() {
        //    var bar = $(".current-progress");
        //    var width = 0;
        //    var id = setInterval(frame, 500);
        //    function frame() {
        //        if (width >= 100) {
        //            clearInterval(id);
        //        } else {
        //            width += 0.1;
        //            bar.css('width', width + "%");
        //        }
        //    }
        //}
        $(document).ready(function () { 
           // move();
            window.setInterval(function () {
                $.getJSON('/Manifest/showMESLineStopNotification', function (data) {
                    if (data != null) {
                        if ((data.reasonIdentifier).length > 0) {
                            //alert();
                            $("#shop-floor-content #shop-common-notifier span").html('<i class="fa fa-exclamation-triangle"></i> ' + data.reasonText);
                            $("#shop-floor-content #shop-common-notifier").show();
                            //alert();
                            if (data.reasonIdentifier == "Serial Not Scanned") {
                                $("input[name=srlno]").focus().select();
                            }

                        } else {
                            $("#shop-floor-content #shop-common-notifier span").html("");
                            $("#shop-floor-content #shop-common-notifier").hide();
                        }
                    }

                }).fail(function (jqXHR, textStatus, errorThrown) {
                    $("#shop-floor-content #shop-common-notifier span").text("");
                    $("#shop-floor-content #shop-common-notifier").hide();
                });
            }, 5000);
            $("#shop-floor-content .Parent_zoom_img").elevateZoom({
                //zoomType: "lens",
                //lensShape: "round",
                zoomType: "inner",
                //lensSize: 250,
                //scrollZoom: true,
                easing: true,
                //zoomWindowWidth: 300,
                //zoomWindowHeight: 300
            });
            $("#shop-floor-content .zoom_img").elevateZoom({
                // zoomType : "lens",
                // lensShape : "round",
                // zoomType : "inner",
                // lensSize : 250,
                // easing : true,
                scrollZoom: true,
                responsive: true,
                easing: true,
                zoomWindowWidth: 300,
                zoomWindowHeight: 300
            });
            $("#shop-floor-content .third_zoom_img").elevateZoom({
                // zoomType : "lens",
                //zoomType: "inner",
                //cursor: "crosshair",
                // lensShape : "round",
                // zoomType : "inner",
                // lensSize : 250,
                // easing : true,
                scrollZoom: true,
                easing: true,
                responsive: true,
                zoomWindowWidth: 300,
                zoomWindowHeight: 300,
                zoomWindowPosition: 11
            });

            $("input[name='srlno']").bind('keyup', function (e) {
                var srno = $(this).val();

                if (srno.length > 9) {
                    var code = e.keyCode || e.which;
                    if (code == 13) { //Enter keycode
                        // alert(srno);
                        $(".error-proofing-container").html("<img class='loading-img' src='@(Url.Content("/Content/images/loader2.GIF"))'/>");
                        $("#srlmessage-block").html("");
                        $("#srlmessage-block").removeClass('bg-correct');
                        $("#srlmessage-block").removeClass('bg-error');

                        $(this).parent().removeClass('scanWrong');
                        $(this).parent().removeClass('scanCorrect');
                        $.post("/Manifest/InsertSerialNo", { SerialNo: srno }, function (data) {
                            debugger;
                            $("#srlmessage-block").html(data.message);
                            if (data.status == false && data.message.length > 0) {
                                $(this).parent().addClass('scanWrong');
                                $("#srlmessage-block").addClass('bg-error');
                                timeisUp();
                                refreshContent();
                                $("input[name='srlno']").focus().select();
                            } else {
                                $("input[name='MainSerialNo']").val(srno);
                                $(this).parent().removeClass('scanWrong');
                                $(this).parent().addClass('scanCorrect');

                                $("#srlmessage-block").removeClass('bg-error');

                                refreshContent();
                                getShopDetails();

                                $('img.zoomed').removeData('elevateZoom');//remove zoom instance from image
                                $('.zoomWrapper img.zoomed').unwrap();
                                $('.zoomContainer').remove();

                                serialChanged = true;

                                $("input[name='srlno']").focus().select();
                                if ($("#shop-floor-content .ef-part").not(":input[readonly]").first().length) {
                                    ("#shop-floor-content .ef-part").not(":input[readonly]").first().focus().select();
                                }
                            }
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            // Ajax fail callback function.
                            alert('Please Reload the Page !');
                            $(".error-proofing-container").html('');
                        });
                    }
                }
                
            });
            $('#shop-floor-content').on('keyup', '.scanpart', function (e) {
               
                var code = e.keyCode || e.which;
                if (code == 13) { //Enter keycode
                  //  alert('SCAN PART');
                    debugger;
                    var serialno = $(this).val();
                    var id1 = $(this).prop("id");
                    var partno = $(this).data("partno");
                    $("input[name='" + partno + "']").prop('readonly', true);
                    $('.ef-part').prop('disabled', true);
                    //---------------------This is added by renu for testing----------------
                    var $textlenthscanpart;
                    var $stationId = '@ViewBag.Station_ID_User';
                    if ($stationId == 7) { 
                        $textlenthscanpart = 2;
                    }
                    else {
                        $textlenthscanpart = 5;
                    }
                    //---------------------This is added by renu for testing----------------
                    if (serialno.length > $textlenthscanpart) {

                        var mcode = $("#shop-floor-content #modelCode").val();
                        var mainsrlno = $("input[name='MainSerialNo']").val();
                        var currentID = $(this).data("currid");
                        currentID++;
                        var inputObj = $('*[data-partno="' + partno + '"]');

                        $.getJSON('/Manifest/isErrorProofingOK', { mainserialNo: mainsrlno, childSerialNo: serialno, partNumb: partno }, function (data) {
                            // Ajax success callback function.
                            //$(this).prop('readonly', true);
                            if (data == "true") {
                                inputObj.parent().addClass("EfCorrectPart");
                                inputObj.parent().removeClass("EfWrongPart");
                                inputObj.prop('readonly', true);
                                var nextid = $("#shop-floor-content .ef-part").not(":input[readonly]").first().prop("id");
                                $("#" + nextid).prop('disabled', false);
                                var nextEfPart = $("#shop-floor-content .ef-part").not(":input[readonly]").first();
                                if (nextEfPart.length) {
                                    nextEfPart.focus().select();
                                }
                                else {

                                    $("#srlmessage-block").html("Error Proofing Successfull for " + $("input[name='MainSerialNo']").val().toUpperCase() + " !");
                                    //timeisUp();
                                    $("#srlmessage-block").addClass('bg-correct');
                                    timeisUp();
                                    $("input[name='srlno']").focus();
                                }

                            } else {
                                $("#" + id1).prop('disabled', false);
                                $("#" + id1).prop('readonly', false);
                                inputObj.parent().addClass("EfWrongPart");
                                inputObj.parent().removeClass("EfCorrectPart");
                                inputObj.focus().select();
                            }
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            // Ajax fail callback function.
                            alert('Please Reload the Page !');
                        });
                    }
                    else {
                        $("#" + id1).prop('disabled', false);
                        $("#" + id1).prop('readonly', false);
                        $("#" + id1).parent().addClass("EfWrongPart");
                        $("#" + id1).parent().removeClass("EfCorrectPart");
                        $(this).focus().select();
                    }
                }
            });


            $('#shop-floor-content').on('keyup', '.scan-nopart', function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) { //Enter keycode
                    debugger;
                    var serialno = $(this).val();
                    var id1 = $(this).prop("id");
                    // $("#" + id1).prop('disabled', true);
                    //---------------------This is added by renu for testing----------------
                    var $textlenthnopart;
                    var $stationId='@ViewBag.Station_ID_User';
                    if ($stationId == 7)
                    {
                        $textlenthnopart = 2;
                    }
                    else
                    {
                        $textlenthnopart = 5;
                    }
                    //---------------------This is added by renu for testing----------------
                    $('.ef-part').prop('disabled', true);
                    //$(this).prop('readonly', true);
                 //   alert("Scan no part");
                    if (serialno.length > $textlenthnopart) {
                        var partgroupid = $(this).data("partgroup");
                        var mcode = $("#shop-floor-content #modelCode").val();
                        var mainsrlno = $("input[name='MainSerialNo']").val();
                        var currentID = $(this).data("currid");
                        var currentIDtemp = currentID;
                        var inputObj = $(this);
                        inputObj.prop('readonly', true);
                        currentID++;
                        $.getJSON('/Manifest/isErrorProofingOKNoPartNo', { mainserialNo: mainsrlno, childSerialNo: serialno, partgroupID: partgroupid }, function (data) {
                            // Ajax success callback function.

                            if (data == "true") {
                                inputObj.parent().addClass("EfCorrectPart");
                                inputObj.parent().removeClass("EfWrongPart");
                                inputObj.prop('readonly', true);
                                var nextid = $("#shop-floor-content .ef-part").not(":input[readonly]").first().prop("id");
                                $("#" + nextid).prop('disabled', false);
                                var nextEfPart = $("#shop-floor-content .ef-part").not(":input[readonly]").first();
                                if (nextEfPart.length) {
                                    nextEfPart.focus().select();
                                } else {
                                    $("#srlmessage-block").html("Error Proofing Successfull for " + $("input[name='MainSerialNo']").val().toUpperCase() + " !");
                                    //timeisUp();
                                    $("#srlmessage-block").addClass('bg-correct');
                                    timeisUp();
                                    $("input[name='srlno']").focus();


                                }

                                //$("#srlmessage-block").html("Error Proofing Successfull for " + $("input[name='MainSerialNo']").val().toUpperCase() + " !");
                                ////timeisUp();
                                //$("#srlmessage-block").addClass('bg-correct');
                                //timeisUp();
                                //$("input[name='srlno']").focus();



                            } else {
                                // alert("Wrong");
                                $("#" + id1).prop('disabled', false);
                                $("#" + id1).prop('readonly', false);
                                inputObj.parent().addClass("EfWrongPart");
                                inputObj.parent().removeClass("EfCorrectPart");

                                inputObj.focus().select();

                            }
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            // Ajax fail callback function.
                            alert('Please Reload the Page !');
                        });
                    }
                    else {
                        $("#" + id1).prop('disabled', false);
                        $("#" + id1).prop('readonly', false);
                        $("#" + id1).parent().addClass("EfWrongPart");
                        $("#" + id1).parent().removeClass("EfCorrectPart");
                        $(this).focus().select();
                    }
                }
            });

            $('#shop-floor-content').on('click', '.manual-ok-part', function (e) {
                var partno = $(this).data("partno");
                var mcode = $("#shop-floor-content #modelCode").val();
                var mainsrlno = $("input[name='MainSerialNo']").val();
                var inputObj = $('*[data-partno="' + partno + '"]');

                $.getJSON('/Manifest/manualErrorProofingOKForPart', { mainserialNo: mainsrlno, childSerialNo: "MANUAL OK", partNumb: partno }, function (data) {
                    // Ajax success callback function.
                    //alert(data);
                    //alert("manual - ok - part");
                    $(this).prop('readonly', true);
                    if (data == "true") {
                        inputObj.parent().addClass("EfCorrectPart");
                        inputObj.parent().removeClass("EfWrongPart");
                        inputObj.prop('readonly', true);
                        var nextEfPart = $("#shop-floor-content .ef-part").not(":input[readonly]").first();
                        //$("#block_" + partno).css('background', 'green');

                        setTimeout(
  function () {
      if (nextEfPart.length) {
          nextEfPart.focus().select();
      } else {
          $("#srlmessage-block").html("Manual Error Proofing Successfull for PartNumber : " + partno + "!");
          //timeisUp();
          $("#srlmessage-block").addClass('bg-correct');
          timeisUp();
          $("input[name='srlno']").focus();
      }
  }, 3000);


                    } else {

                        //$(this).prop('readonly', false);
                        //inputObj.parent().addClass("EfWrongPart");
                        //inputObj.parent().removeClass("EfCorrectPart");
                        //inputObj.focus().select();
                        alert('Some Exception occurred .Please Retry!');
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    // Ajax fail callback function.
                    alert('Please Reload the Page !');
                });
            });
            $('#shop-floor-content').on('keyup', '.manual-ok-partgroup', function (e) {
                var partgroupid = $(this).data("partgroup");
                var mcode = $("#shop-floor-content #modelCode").val();
                var mainsrlno = $("input[name='MainSerialNo']").val();
                var inputObj = $('*[data-partno="' + partno + '"]');

                $.getJSON('/Manifest/manualErrorProofingOKForPartGroup', { mainserialNo: mainsrlno, childSerialNo: "MANUAL OK", partgroupID: partgroupid }, function (data) {
                    // Ajax success callback function.
                    // alert("manual - ok - partgroup");
                    $(this).prop('readonly', true);
                    if (data == "true") {
                        inputObj.parent().addClass("EfCorrectPart");
                        inputObj.parent().removeClass("EfWrongPart");
                        inputObj.prop('readonly', true);
                        var nextEfPart = $("#shop-floor-content .ef-part").not(":input[readonly]").first();
                        //$("#block_" + partno).css('background', 'green');
                        if (nextEfPart.length) {
                            nextEfPart.focus().select();
                        } else {
                            $("#srlmessage-block").html("Manual Error Proofing Successfull for PartNumber : " + partno + "!");
                            //timeisUp();
                            $("#srlmessage-block").addClass('bg-correct');
                            timeisUp();
                            $("input[name='srlno']").focus();
                        }
                    } else {

                        //$(this).prop('readonly', false);
                        //inputObj.parent().addClass("EfWrongPart");
                        //inputObj.parent().removeClass("EfCorrectPart");
                        //inputObj.focus().select();
                        alert('Some Exception occurred .Please Retry!');
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    // Ajax fail callback function.
                    alert('Please Reload the Page !');
                });
            });
            //refreshContent();
        });

        //*****************************************Testing*********************************************by RENUKAIAH
     


    </script>




}
