@model REIN_MES_System.Models.RS_PartgroupItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RS_PartgroupItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Row_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Row_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Part_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Transfered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Transfered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Purgeable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Purgeable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inserted_User_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inserted_User_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inserted_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inserted_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_User_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_User_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Partgroup.Partgrup_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Partgroup.Partgrup_Desc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PartgroupItem_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
