@model REIN_MES_System.Models.RS_PartgroupItem

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RS_PartgroupItem</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Row_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Row_Id)
                @Html.ValidationMessageFor(model => model.Row_Id)
            </div>
        </div>

        @Html.HiddenFor(model => model.PartgroupItem_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Partgroup_ID, "Partgroup_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Partgroup_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Partgroup_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Part_No, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Part_No)
                @Html.ValidationMessageFor(model => model.Part_No)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_Deleted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Is_Deleted)
                @Html.ValidationMessageFor(model => model.Is_Deleted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_Transfered, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Is_Transfered)
                @Html.ValidationMessageFor(model => model.Is_Transfered)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_Purgeable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Is_Purgeable)
                @Html.ValidationMessageFor(model => model.Is_Purgeable)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inserted_User_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inserted_User_ID)
                @Html.ValidationMessageFor(model => model.Inserted_User_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inserted_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inserted_Date)
                @Html.ValidationMessageFor(model => model.Inserted_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Updated_User_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Updated_User_ID)
                @Html.ValidationMessageFor(model => model.Updated_User_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Updated_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Updated_Date)
                @Html.ValidationMessageFor(model => model.Updated_Date)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
