@model IEnumerable<REIN_MES_System.Models.RS_Shift>
@using REIN_MES_System.App_LocalResources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}


<p class="position_absolute">
    @*@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })*@
    <a href="@Url.Action("Create", "Shift")" class="btn btn-social btn-linkedin"><i class="fa fa-fw fa-plus-circle"></i> @ResourceGlobal.Create_New</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered table-striped datatable_completes">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Shift_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shift_Start_Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shift_End_Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Break1_Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Break2_Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lunch_Time)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Is_Transfered)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Is_Purgeable)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inserted_Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Updated_Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inserted_Host)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Updated_Host)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RS_Employee.Employee_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RS_Employee1.Employee_Name)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.RS_Plants.Plant_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RS_Shops.Shop_Name)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Shift_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shift_Start_Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shift_End_Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Break1_Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Break2_Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lunch_Time)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Is_Transfered)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Is_Purgeable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inserted_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inserted_Host)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated_Host)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RS_Employee.Employee_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RS_Employee1.Employee_Name)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.RS_Plants.Plant_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RS_Shops.Shop_Name)
                </td>
                <td>
                        <a href="@Url.Action("Edit", "Shift", new { id = item.Shift_ID })"><i class="fa fa-edit" style="color:blue"></i></a>
                        <a href="@Url.Action("Details", "Shift", new { id = item.Shift_ID })"><i class="fa fa-fw fa-laptop" style="color:blueviolet"></i></a> 
                        <a href="@Url.Action("Delete", "Shift", new { id = item.Shift_ID })"><i class="fa fa-trash" style="color:red"></i></a>


                    </td>
            </tr>
        }

    </table>
    </div>
    @section scripts {
        @Scripts.Render("~/Content/theme/plugins/datatables/js")
        @Styles.Render("~/Content/theme/plugins/datatables/css")
        @Scripts.Render("~/Scripts/user_datatable")
    }
