@model REIN_MES_System.Models.ExcelAllConfiguration
@using REIN_MES_System.Models;
@{
    //Layout = null;
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}



<div class="col-md-12 show_family_quality plant_line_configuration">
    @using (Ajax.BeginForm("AllConfigurationExcelUpload", "AddUsers", new AjaxOptions
    {//GetPatients is name of method in PatientController
        InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced

        UpdateTargetId = "QualityChecklist",
        LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
    }, new { @class = "", id = "upload_bom_form", enctype = "multipart/form-data" }))
    {
        <div class="row">


            <div class="col-md-6">
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    <label>Date : </label>
                    @{
                        DateTime Todays = System.DateTime.Now;


                        string Today = Convert.ToDateTime(Todays).ToString("dd/MMMM/yyyy");
                <label class="from">@Today</label>
                @Html.TextBoxFor(m => m.Excel_File, new { type = "file", @onchange = "checkfile(this);", @id = "file" })
                @*<input type="file" name="Excel_File" />*@
                  @Html.ValidationMessage("Excel_File", null, new { @class = "validation_error", @id = "excelReq" })
                        <span id="lblExcelmsg" style="color:red;"></span>
                    }

                </div>
            </div>



            @*<div class="col-md-6">
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(m => m.Excel_File, new { type = "file", @onchange = "checkfile(this);", @id = "file" })
                    <input type="file" name="Excel_File" />
                    @Html.ValidationMessage("Excel_File", null, new { @class = "validation_error", @id = "excelReq" })
                    <span id="lblExcelmsg" style="color:red;"></span>
                </div>
            </div>*@
        </div>
  <div class="row">
      <div class="col-md-6">
          <div class="footer">
              <input type="submit" value="Save" class="btn btn-primary" />
              @*@Html.ActionLink("Download Sample Template", "Download", new { ImageName = "RS_All_Configuration.xlsx", @class = "btn btn-primary" })*@

              <a href="@Url.Action("Index", "TargetConsumption")" class="btn btn-primary">@*<i class="fa fa-fw fa-plus-circle"</i>>*@Show All</a>

          </div>
      </div>

  </div>
      
    }

    <div id="QualityChecklist"></div>
</div>



@*<div class="clearfix"></div>
@{
    AllConfigurationUploadRecords[] orderUploadRecords = (AllConfigurationUploadRecords[])ViewBag.OrderUploadRecords;

    if (ViewBag.OrderUploadRecords != null)
    {
        <table class="table table-bordered table-striped datatable_completes">
            <thead>
                <tr style="background-color:aqua;color:white;font-weight:bold">
                    <th>Plant Name</th>
                    <th>Shop Name</th>
                    <th>Line Name</th>
                    <th>Station Name</th>
                    <th>Shift Name</th>
                    <th>Token Number</th>
                    <th>SkillSet</th>
                    <th>LineOfficer Name</th>
                    <th>Manager Name</th>
                    <th>Error/Success</th>
                </tr>
            </thead>

            @foreach (var item in (IEnumerable<REIN_MES_System.Models.AllConfigurationUploadRecords>)ViewBag.OrderUploadRecords)
            {
                if (item.SS_Error_Sucess != null)
                {
                    if (item.SS_Error_Sucess != "Record add successfully")
                    {
                        <tr style="background-color:red;color:white;font-weight:bold;font-size:18px">
                           
                            <td>@Html.DisplayFor(modelItem => item.Shop_Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Meter_Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Reading)</td>
                            <td>@Html.DisplayFor(modelItem => item.Opertion)</td>
                   
                        </tr>
                    }
                    else
                    {
                        <tr style="font-weight:bold;font-size:18px">
                         
                            <td>@Html.DisplayFor(modelItem => item.Shop_Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Meter_Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Reading)</td>
                            <td>@Html.DisplayFor(modelItem => item.Opertion)</td>
                         
                        </tr>
                    }
                }
            }
        </table>
    }
}*@




*@section scripts {
    @Scripts.Render("~/Content/theme/plugins/datatables/js")
    @Styles.Render("~/Content/theme/plugins/datatables/css")
  
  
}

<script type="text/javascript" language="javascript">
    function checkfile(sender) {
        var validExts = new Array(".xlsx", ".xls");
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            //alert("Invalid file selected, valid files are of " +
            //         validExts.toString() + " types.");
            $('#lblExcelmsg').html("Invalid file selected, valid files are of " +
                     validExts.toString() + " types.");
            $('#excelReq').hide();
            $('#file').val('');
            return false;
        }
        else {
            $('#lblExcelmsg').html('');
            return true;
        }
    }
    //$(document).ready(function () {
    //    $("#FromDate").datepicker(
    //        {
    //            format: 'dd/mm/yyyy',
    //            start: new Date()
    //        });
    //    $("#ToDate").datepicker(
    //        {
    //            format: 'dd/mm/yyyy',
    //            start: new Date()
    //        });
    //});
</script>


