@model IEnumerable<REIN_MES_System.Models.RS_Dashboard_Master>
@using REIN_MES_System.App_LocalResources;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}


<br />
<p class="position_absolute">
    <a href="@Url.Action("Create", "DashboardMaster")" class="btn btn-social btn-linkedin"><i class="fa fa-fw fa-plus-circle"></i> @ResourceGlobal.Create_New</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped datatable_completes">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Shop Name")
                </th>
                <th>
                    @Html.DisplayName("Line Name")
                </th>
                <th>
                    @Html.DisplayName("Setup Name")
                </th>
                <th>
                    @Html.DisplayName("IP Address")
                </th>
                <th>
                    @Html.DisplayName("Dashboard Name")
                </th>
                <th>
                    @Html.DisplayName("Shift")
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.RS_Shops.Shop_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RS_Lines.Line_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RS_Setup.Setup_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Host_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dashboard_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RS_Shift.Shift_Name)
                    </td>

                    <td>
                        <a href="@Url.Action("Edit", "DashboardMaster", new { id = item.Dash_ID })"><i class="fa fa-edit" style="color:blue"></i></a>
                        <a href="@Url.Action("Details", "DashboardMaster", new { id = item.Dash_ID })"><i class="fa fa-fw fa-laptop" style="color:blueviolet"></i></a>
                        <a href="@Url.Action("Delete", "DashboardMaster", new { id = item.Dash_ID })"><i class="fa fa-trash" style="color:red"></i></a>

                    </td>
                </tr>
        }
        </tbody>
        @section scripts {
            @Scripts.Render("~/Content/theme/plugins/datatables/js")
            @Styles.Render("~/Content/theme/plugins/datatables/css")
            @Scripts.Render("~/Scripts/user_datatable")
        }
    </table>
</div>

