@model REIN_MES_System.Models.RS_MT_Calibration

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}


<h3>Are you sure you want to delete this?</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RS_Plants.Plant_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Plants.Plant_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Shops.Shop_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Shops.Shop_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Lines.Line_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Lines.Line_Name)
        </dd>

      
        <dt>
            @Html.DisplayNameFor(model => model.RS_Stations.Station_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Stations.Station_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calibration_Tool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calibration_Tool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calibration_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calibration_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scheduled_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scheduled_Date)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Last_Maintenance_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Maintenance_Date)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Cycle_Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cycle_Period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receipent_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receipent_Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> 
            @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
