@model IEnumerable<REIN_MES_System.Models.RS_OM_Order_Retrieval>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/shop/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Main_Serial_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Main_Model_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requested_Model_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provided_Model_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provided_Serial_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Transfered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Purgeable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inserted_Host)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inserted_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated_Host)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RS_Employee.Employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RS_Employee1.Employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RS_Lines.Line_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RS_Plants.Plant_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RS_Shops.Shop_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RS_Stations.Station_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Main_Serial_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Main_Model_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requested_Model_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provided_Model_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provided_Serial_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Transfered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Purgeable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inserted_Host)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inserted_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_Host)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RS_Employee.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RS_Employee1.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RS_Lines.Line_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RS_Plants.Plant_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RS_Shops.Shop_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RS_Stations.Station_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Order_Retrieval_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Order_Retrieval_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Order_Retrieval_ID })
        </td>
    </tr>
}

</table>
