@model REIN_MES_System.Models.RS_Serial_Number_Configuration

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="col-md-3" style="display:none">
                @Html.LabelFor(model => model.Plant_ID, "Plant Name", htmlAttributes: new { @class = "" })
                @Html.DropDownListFor(model => model.Plant_ID, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Plant_ID)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Shop_ID, "Shop Name", htmlAttributes: new { @class = "" })
                @Html.DropDownListFor(model => model.Shop_ID, null,"Select Shop", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Shop_ID)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Platform_ID, "Platform Name", htmlAttributes: new { @class = "" })
                @Html.DropDownListFor(model => model.Platform_ID, null,"Select Platform", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Platform_ID)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Display_Name, "Display Name", htmlAttributes: new { @class = "" })
                @Html.TextBoxFor(model => model.Display_Name, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Display_Name)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Plant_Code, "Plant Code", htmlAttributes: new { @class = "" })
                @Html.TextBoxFor(model => model.Plant_Code, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Plant_Code)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Running_Serial_Number, "Running Serial Number", htmlAttributes: new { @class = "" })
                @Html.TextBoxFor(model => model.Running_Serial_Number, null, htmlAttributes: new { onchange = "", @class = "form-control", @maxlength = "5", @numeric = true, @onkeypress = "return isNumberKey(event)" })
                @Html.ValidationMessageFor(model => model.Running_Serial_Number)
            </div>
        </div>
       <br />

        <div class="row">
            <div class="col-md-offset-0 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" /> @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Select2scripts")
    <script>
        $(document).ready(function () {

            $("#Running_Serial_Number").on("keypress", function (evt) {
                var keycode = evt.charCode || evt.keyCode;
                if (keycode == 46 || keycode == 45) {
                    return false;
                }
            });
            function isNumberKey(evt) {
                // alert(evt.which);
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46)
                    return false;
                return true;
            }

            $("#Shop_ID").on("change", function () {
                var Shop = $("#Shop_ID").val();
                if (Shop.length > 0) {
                    $('#Platform_ID option').remove();
                    $.getJSON('/SerialNumberConfiguration/GetPlatformID', { Shop_id: Shop}, function (data) {
                        if (data.length > 0) {
                            $('#Platform_ID option').remove();

                            if (data.length > 0) {
                                $("#Platform_ID").prepend("<option value='' selected='selected'>Select Platform</option>");
                                for (i = 0; i < data.length; i++) {
                                    $('#Platform_ID').append('<option value="' +
                                        data[i].Platform_ID + '">' + data[i].Platform_Name + '</option>');
                                }
                            }
                          
                        }
                        else {
                            $('#Platform_ID option').remove();
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        $("#Shop_ID").change();
                    });
                }
                else {
                    $('#Platform_ID option').remove();
                }
            });
        })

       
    </script>
}
@section Styles {
    @Styles.Render("~/Content/Select2styles")
}




