@model REIN_MES_System.Models.ShopwiseManualConsumption
@{
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Manual_ID)
    <div class="row">

        <div class="col-md-12">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Shop Name </label>
                            @Html.DropDownList("Shop_ID", null, "Select Shop ", new { @class = "form-control", @style = "max-width:100%" , @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.Shop_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FeederName, htmlAttributes: new { @class = "control-label" })

                            @Html.DropDownListFor(model => model.TagIndex, null, new { @class = "form-control ", @style = "max-width:100%", @readonly = "true" })
                            @*@Html.ValidationMessageFor(model => model.Shop_ID, "", new { @class = "text-danger" })})*@
                            @Html.ValidationMessageFor(model => model.TagIndex, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Consumption, htmlAttributes: new { @class = "control-label" })*@
                            <label>Yesterday Reading</label>

                            @*@Html.EditorFor(model => model.Consumption, new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })*@
                            @Html.TextBox("yesturdayConsumption", null, new { @class = "form-control", @style = "max-width:100%", @readonly = "true" })
                            @*@Html.ValidationMessageFor(model => model.Consumption, "", new { @class = "text-danger" })*@
                            @*@Html.Hidden("Plant_ID")*@

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Consumption, htmlAttributes: new { @class = "control-label" })*@
                            <label>Reading</label>

                            @Html.EditorFor(model => model.Consumption, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Consumption, "", new { @class = "text-danger" })
                            @Html.Hidden("Plant_ID")

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Operation(Addition & Subraction) *</label>
                            @Html.DropDownListFor(model => model.Consider, new SelectList(new List<object> { new { value = "", text = "Select" }, new { value = "True", text = "Addition to Main Meter" }, new { value = "False", text = "Subtraction from Main Meter" } }, "value", "text", 2), new { @class = "form-control select2", })
                            @Html.ValidationMessageFor(model => model.Consider, "", new { @class = "text-danger" })
                            @Html.Hidden("Plant_ID")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">

                            <input type="submit" value="Save" class="btn btn-linkedin" />
                            @Html.ActionLink("Show All", "Index", null, htmlAttributes: new { @class = "btn btn-linkedin" })

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/theme/plugins/select2/select2.full.js"></script>
}
<script type="text/javascript">

        $(document).ready(function () {
            $("#Shop_ID").change(function () {

                 
                var Shop_Id = $("#Shop_ID").val();

                var options = {};
                options.url = "/CommanMethod/Manualmeterconfig";
                options.type = "POST";
                options.data = JSON.stringify({ Shop_Id: Shop_Id });
                options.contentType = "application/json";
                options.dataType = "json";
                options.success = function (id) {

                    $('#TagIndex option').remove();
                     $("#TagIndex").html(""); // clear before appending new list
                    $.each(id, function (i, test) {
                        $("#TagIndex").append(


                            $('<option></option>').val(test.TagIndex).html(test.FeederName).prop('selected Feeder', false));
                    });

                    var elements = [];
                    elements = document.getElementsByClassName("mdl");
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].value = "";
                    }

                };
                //$("#Feeder").select2({
                //    allowClear: true,
                //    placeholder: 'Assign Feeder',
                //    multiple: 'multiple'
                //});
                options.error = function () {
                    alert("Invalid Feeder ");
                };
                $.ajax(options);


            })
        })
</script>

