@model REIN_MES_System.Models.MM_AM_Training

@{
    ViewBag.Title = "TransmissionDailyPlan";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
    var globalData = (REIN_MES_System.Models.GlobalData)ViewData["GlobalDataModel"];
}

<div class="manager_Line">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <center><a href="javascript:hideshow(document.getElementById('div1'))" class="hvr-push" style="font-family: Wingdings;   font-size:small;">u</a></center>
        <div class="form-horizontal" style="height:70%;" id="div2">
            @Html.ValidationSummary(true)
            <div class="row">
                <div class=" col-sm-12">
                    <iframe name="ContentFrame" id="ContentFrame" width="100%" height="900px" src="http://MMZAHMESPDSDB1/ReportServer/Pages/ReportViewer.aspx?%2fFDReports%2fTransmission_Daily_Plan"></iframe>
                </div>
            </div>
        </div>

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/ReportManagement_file")
        @Scripts.Render("~/bundles/Select2scripts")
    }
    @section Styles {

        @Styles.Render("~/Content/Select2styles")

    }


</div>

<script type="text/javascript">
    function hideshow(which) {
        if (!document.getElementById)
            return
        if (which.style.display == "block") {
            which.style.display = "none"
            var iFrameID = document.getElementById('ContentFrame');
            var CFdivID = document.getElementById('div1');
            iFrameID.style.minHeight = 470 + "px";
        }
        else {
            which.style.display = "block"
            var iFrameID = document.getElementById('ContentFrame');
            var CFdivID = document.getElementById('div1');
        }
    }
</script>

<link href="~/Content/theme/plugins/datepicker/datepicker3.css" rel="stylesheet" />

<script src="~/Content/theme/plugins/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">

    $(document).ready(function (e) {
        $("#From_Date").datepicker({ format: 'yyyy-mm-dd' });
        $("#To_Date").datepicker({ format: 'yyyy-mm-dd' });
        $("#siderbarmenu").click();
        getDateD();
    });

    function getDateD() {
        var d = new Date();
        var today = d.getDate();
        var yestrday = today - 1;
        var month = d.getMonth();
        var year = d.getFullYear();
        $("#From_Date").datepicker("setDate", new Date(year, month, yestrday));
        $("#To_Date").datepicker("setDate", new Date(year, month, yestrday));
    }

</script>


