@model REIN_MES_System.Models.RS_Station_Setup_Mapping
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
    var globalData = (REIN_MES_System.Models.GlobalData)ViewData["GlobalDataModel"];
}

<style>
    #testy {
        z-index: 99999;
    }
</style>

<br />
<div class="manager_Line">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true)

           
            <div class="row">
                <div class="col-sm-3" style="display:none">
                    @Html.LabelFor(model => model.Plant_ID, "Plant Name", htmlAttributes: new { @class = "" })
                    @Html.DropDownList("Plant_ID", null, "Select Plant", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Plant_ID, null, new { @class = "validation_error plant" })
                </div>
                <div class="col-sm-3">
                    @Html.LabelFor(model => model.Shop_ID, "Shop Name", htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.DropDownList("Shop_ID", null, "Select Shop", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Shop_ID, null, new { @class = "validation_error shop" })
                </div>
                <div class="col-sm-3">
                    @Html.LabelFor(model => model.Line_ID, "Line Name", htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.DropDownList("Line_ID", null, "Select Line", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Line_ID, null, new { @class = "validation_error line" })
                 </div>
                <div class="col-sm-3">
                    @Html.LabelFor(model => model.Setup_ID, "Setup Name", htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.DropDownList("Setup_ID", null, "Select Setup", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Setup_ID, null, new { @class = "validation_error setup" })
                </div>
                <div id="testy"></div>
               
            </div>
            <br /><br />

            <div class=" row">
                <div class=" col-sm-5">
                    <div class="box box-primary">
                        <div class="box-body">
                            <label class="" for="divListofSupervisor">Station List</label>
                            <div id="divListofSupervisor" style="height: 400px; overflow: auto;border: 1px solid #cccccc; padding: 10px;">
                            </div>
                            <label class="" for="divselectedOperators">Search:</label>
                            @Html.TextBoxFor(model => model.Station_ID, htmlAttributes: new { @class = "form-control" })
                            @*@Html.LabelFor(model => model.AssignedSupervisor_ID, "Officer List", htmlAttributes: new { @class = "" })
                                @Html.DropDownList("ListofSupervisor", Enumerable.Empty<SelectListItem>(), String.Empty, new { multiple = "multiple", @class = "form-control", @style = "min-height: 400px" })
                                @Html.ValidationMessageFor(model => model.AssignedSupervisor_ID, null, new { @class = "validation_error" })*@

                        </div>
                    </div>
                </div>
                <div class=" col-sm-2">
                    <div class="box box-primary">
                        <form role="form">
                            <div class="box-body" style="text-align: center;">
                                <br /><br /><br /><br /><br /><br />
                                <div class="btn-group-vertical">
                                    <button class="swapbtn btn btn-info" type="button" onclick="swapItemLeftAll();" style="font-size: 20px;font-weight: bold;">>></button><br />
                                    <button class="swapbtn btn btn-info" type="button" onclick="swapItemLeft();" style="font-size: 20px;font-weight: bold;">></button><br />
                                    <button class="swapbtn btn btn-info" type="button" onclick="swapItemRight();" style="font-size: 20px;font-weight: bold;"><</button><br />
                                    @*<button class="btn btn-info" type="button" onclick="swapValue('ListofSupervisor', 'selectedSupervisors', '>');" style="font-size: 20px;font-weight: bold;">></button><br />
                                        <button class="btn btn-info" type="button" onclick="swapValue('selectedSupervisors', 'ListofSupervisor', '>');" style="font-size: 20px;font-weight: bold;"><</button><br />*@
                                    <button class="swapbtn btn btn-info" type="button" onclick="swapItemRightAll();" style="font-size: 20px;font-weight: bold;"><<</button>
                                </div>
                                <br /><br /><br /><br /><br />
                            </div>
                        </form>
                    </div>
                </div>

                <div class=" col-sm-5 ">
                    <div class="box box-primary">
                        <div class="box-body">
                            <label class="" for="divselectedSupervisors">Assigned Station List</label>
                            <div id="divselectedSupervisors" style="height: 400px; overflow: auto;border: 1px solid #cccccc; padding: 10px;">
                            </div>
                            <label class="" for="divselectedOperators">Search:</label>
                            @Html.TextBoxFor(model => model.selectedStations, htmlAttributes: new { @class = "form-control" })
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="">
                    <input type="button" value="Save" onclick="save();" class="btn btn-primary select_manager" /> @*@Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-primary" })*@
                </div>
            </div>
        </div>
    }
    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/StationToSetupManagement_file")
    @Scripts.Render("~/bundles/Select2scripts")
    @Scripts.Render("~/fdtheme/notification_js")
    @Styles.Render("~/fdtheme/notification_css");
}
@section Styles {

    @Styles.Render("~/Content/Select2styles")
}


