@model IEnumerable<REIN_MES_System.Models.RS_OM_Platform>
@using REIN_MES_System.App_LocalResources;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<p class="position_absolute">
    <a href="@Url.Action("Create", "Platform")" class="btn btn-social btn-linkedin"><i class="fa fa-fw fa-plus-circle"></i> @ResourceGlobal.Create_New</a>
</p>

<table class="table table-bordered table-striped datatable_completes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RS_Shops.Shop_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RS_Lines.Line_Name)
            </th>
            <th>
                @Html.DisplayName("Plat Form Name")
            </th>
            <th>@ResourceGlobal.Action</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RS_Shops.Shop_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RS_Lines.Line_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform_Name)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Platform", new { id = item.Platform_ID })"><i class="fa fa-edit" title="Edit" style="color:blue"></i></a> 
                <a href="@Url.Action("Details", "Platform", new { id = item.Platform_ID })"><i class="fa fa-fw fa-laptop" title="Details" style="color:blueviolet"></i></a> 
                <a href="@Url.Action("Delete", "Platform", new { id = item.Platform_ID })"><i class="fa fa-trash" title="Delete" style="color:red"></i></a>

            </td>
        </tr>
    }

</table>

@section scripts {
    @Scripts.Render("~/Content/theme/plugins/datatables/js")
    @Styles.Render("~/Content/theme/plugins/datatables/css")
    @Scripts.Render("~/Scripts/user_datatable")
}
