@model IEnumerable<REIN_MES_System.Models.RS_Lines>
@using REIN_MES_System.App_LocalResources;
<div class="table-responsive">

    <table class="table table-bordered table-striped datatable_completes">
        <thead>
            <tr>
                <th width="15%">
                    @Html.DisplayNameFor(model => model.RS_Shops.Shop_Name)
                </th>
                <th width="15%">
                    @Html.DisplayNameFor(model => model.Line_Name)
                </th>
                <th width="15%">
                    @Html.DisplayNameFor(model => model.Line_Description)
                </th>
                <th width="15%">
                    @Html.DisplayNameFor(model=>model.Line_Stop_Percentage)
                </th>
                <th width="15%">
                    @Html.DisplayNameFor(model => model.TACT_Time)
                </th>
                <th width="15%">@Html.DisplayName("Action")</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RS_Shops.Shop_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Line_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Line_Description)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => item.Line_Stop_Percentage, new { @class = "form-control IntegerValidation", @id = "Line_Stop_Percentage_" + item.Line_ID,@placeholder="Enter line stop value" ,@maxlength=2})
                        <div id="ErrorLinePercentage_@item.Line_ID" style="color:red;"></div>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => item.TACT_Time, new {@class = "form-control tactTime",@id="txtTactTime_"+item.Line_ID })
                        <div id="ErrorTACT_Time_@item.Line_ID" style="color:red;"></div>
                    </td>
                    <td>
                        <input type="submit" value="@ResourceGlobal.Update" onclick="UpdateTactTime('@item.Line_ID')" class="btn btn-primary" id="btnSave" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>








