@model IEnumerable<REIN_MES_System.Models.RS_MT_Maintenance_Manual_Data>
@using REIN_MES_System.App_LocalResources;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<style>
    .dataTables_wrapper {
        overflow-x: scroll;
    }
</style>


<p class="position_absolute">
    <a href="@Url.Action("Create", "MaintenanceManualData")" class="btn btn-social btn-linkedin"><i class="fa fa-fw fa-plus-circle"></i> @ResourceGlobal.Create_New</a>
    <a href="@Url.Action("ExcelUpload", "MaintenanceManualData")" class="btn btn-social btn-linkedin"><i class="fa fa-fw fa-upload"></i>Upload</a>
</p>
@*<div class="table-responsive">*@
    <table class="table table-bordered table-striped datatable_completes">
        @*<table class="table table-bordered table-striped table-condensed datatable_completes">*@
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RS_Shops.Shop_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RS_Lines.Line_Name)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.RS_Plants.Plant_Name)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.RS_Stations.Station_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BreakDown_Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Machine_No)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DownTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RepairTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Problem)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Root_Cause)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Correction)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Corrective_Action)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Preventive_Action)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Repaired_Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Owner)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remark)
                        </th>*@
                    @*<th>
                            @Html.DisplayNameFor(model => model.Is_Transferred)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Is_Purgeable)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Is_Edited)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Inserted_Host)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Inserted_User_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Inserted_Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Updated_Host)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Updated_User_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Updated_Date)
                        </th>*@
                    <th>@ResourceGlobal.Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RS_Shops.Shop_Name)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.RS_Plants.Plant_Name)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.RS_Lines.Line_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RS_Stations.Station_Name)
                        </td>
                        <td>
                            @String.Format("{0:d}", item.BreakDown_Date)
                            @*@Html.DisplayFor(modelItem => item.BreakDown_Date)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Machine_No)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DownTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RepairTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Problem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Root_Cause)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Correction)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Corrective_Action)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Preventive_Action)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Repaired_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owner)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Is_Transferred)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Is_Purgeable)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Is_Edited)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Inserted_Host)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Inserted_User_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Inserted_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Updated_Host)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Updated_User_ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Updated_Date)
                            </td>*@

                        <td>
                            <a href="@Url.Action("Edit", "MaintenanceManualData", new { id = item.Row_ID })"><i class="fa fa-edit" title="Edit" style="color:blue"></i></a> 
                            <a href="@Url.Action("Details", "MaintenanceManualData", new { id = item.Row_ID })"><i class="fa fa-fw fa-laptop" title="Details" style="color:blueviolet"></i></a> 
                            <a href="@Url.Action("Delete", "MaintenanceManualData", new { id = item.Row_ID })"><i class="fa fa-trash" title="Delete" style="color:red"></i></a>

                        </td>
                    </tr>

                }
            </tbody>
        </table>
@*</div>*@
@section scripts {
    @Scripts.Render("~/Content/theme/plugins/datatables/js")
    @Styles.Render("~/Content/theme/plugins/datatables/css")
    @Scripts.Render("~/Scripts/user_datatable")
}
