@model REIN_MES_System.Models.RS_MT_Unit_Of_Measurement
@using REIN_MES_System.App_LocalResources;
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plant_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RS_Plants.Plant_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Measurement_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Measurement_Name)
        </dd>
       
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> @Html.ActionLink(ResourceGlobal.Show_All, "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>


