@model REIN_MES_System.Models.RS_MT_Unit_Of_Measurement
@using REIN_MES_System.App_LocalResources;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.M_ID)
        <div class="row">
            <div class="col-md-4" style="display:none;">
                @Html.LabelFor(model => model.Plant_ID, new { @class = "" }) *
                @Html.DropDownList("Plant_ID", null, ResourceDisplayName.Select_Plant, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Plant_ID, null, new { @class = "validation_error" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Measurement_Name, htmlAttributes: new { @class = "" })*
                @Html.TextBoxFor(model => model.Measurement_Name, new { @class = "form-control", @maxlength = "100" })
                @Html.ValidationMessageFor(model => model.Measurement_Name, null, new { @class = "validation_error" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />  @Html.ActionLink(ResourceGlobal.Show_All, "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

