@model IEnumerable<REIN_MES_System.Models.ShopWiseConsumption2>
@{
    ViewBag.Title = "Index1";
}

<div class="box">
    <div class="box-header">
        <p class="position_absolute">
            @*@Html.ActionLink("Create New", "Create")*@

            <a href="@Url.Action("Create", "Shop_Power_Index_Mapping")" class="btn btn-social btn-linkedin"><i class="fa fa-fw fa-plus-circle"></i> Create New</a>
        </p>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped datatable_completes">
            <thead>


                <tr>

                    <th>
                        Shop Name
                    </th>
                    <th>
                        Operation
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item1 in Model)
            {
                    <tr>

                        <td>
                            @item1.Shop_Name
                        </td>
                        @if (item1.TagBoolean == true)
                    {
                    <td>
                        Add
                    </td>
                    }
                    else
                    {
                    <td>
                        Subtract
                    </td>
                    }

                        <td>

                            <a style="color:dodgerblue" href="@Url.Action("Edit", "Shop_Power_Index_Mapping", new { id = item1.Shop_ID})"><i class="fa fa-edit" title="Edit"></i></a> &nbsp;|

                            <a style="color:dodgerblue" data-target="#@item1.Shop_ID" data-toggle="modal" data-id="@item1.Shop_ID" onclick="deleteStart(this)"><i class="fa fa-trash-o" title="Delete"></i></a>
                            @using (Html.BeginForm("DeleteConfirmed", "Shop_Power_Index_Mapping", new { id = item1.Shop_ID }))
                        {
                        @Html.AntiForgeryToken()
                        <div class="modal fade" id="@item1.Shop_ID" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                        <h4 class="modal-title">Delete Confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this item?
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                                        <input type="submit" value="Delete" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        </td>
                    </tr>
                }

</tbody>
</table>
    </div>
</div>



@section scripts {
    @Scripts.Render("~/Content/theme/plugins/datatables/js")
    @Styles.Render("~/Content/theme/plugins/datatables/css")
    <script src="~/Scripts/user_datatable.js"></script>


}

