@model REIN_MES_System.Models.RS_Vehicle_Series
@using REIN_MES_System.App_LocalResources;

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<div class="col-md-6">
    <h3>Are you sure you want to delete this?</h3>
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Shop_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RS_Shops.Shop_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Attribute_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Attribute_Name)
            </dd>


            @*<dt>
                @Html.DisplayName(ResourceGlobal.Inserted_Date)
            </dt>*@

            @*<dd>
                @Html.DisplayFor(model => model.Inserted_Date)
            </dd>*@



            <dt>
                @Html.DisplayNameFor(model => model.BOT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BOT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Blackout)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Blackout)
            </dd>



        </dl>

        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@ResourceGlobal.Delete" class="btn btn-primary" />
            @Html.ActionLink(ResourceGlobal.Show_All, "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
}
    </div>
</div>