@*@using
    @using ;

    @{
        var globalData = (REIN_SOLUTIONEntities.Models.GlobalData)ViewData["GlobalDataModel"];
        var userSession = (REIN_SOLUTIONEntities.Helper.FDSession)Session["FDSession"];
    }

    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- <a href="../../index2.html" class="navbar-brand"><b>Admin</b>LTE</a> -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">

                <ul class="nav navbar-nav">
                        <li>
                            <!-- Logo -->
                            <a href="" class="logo">
                                <img width="200" src="~/Content/images/">
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav">
                        @if (userSession.menuObj != null)
                        {
                            foreach (var menu in userSession.menuObj)
                            {
                                <li><a href="@Url.Action(menu.ActionName, menu.ControllerName)"> @menu.LinkName </a></li>
                            }
                        }

                    </ul>
                </div><!-- /.navbar-collapse -->
                <div class="nav navbar-nav">
                    <ul class="nav navbar-nav">
                        <h3 class="text-center" style="font-size: 15px;margin-left:15px; text-align:center; font-weight: bold;font-family: sans-serif;margin-top:16px;color:white">
                            @if (globalData != null)
                            {
                                @globalData.plantName
                            }
                        </h3>
                    </ul>
                </div>
                <label class="Header-Pname">
                    Machine Management System
                </label>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">

                    <ul class="nav navbar-nav">
                        <li class="text-center" style="font-size: 15px;margin-left:15px; text-align:center; font-weight: bold;font-family: sans-serif;color:white"><a href="javascript:history.back()" class="btnback">BACK</a></li>

                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu" style="font-size: 15px;margin-left:15px; text-align:center; font-weight: bold;font-family: sans-serif;color:white">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/Content/theme/dist/img/user3-160x160_blank.jpg" class="user-image" alt="User Image" />
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->

                                <span class="hidden-xs">@userSession.userName.ToUpperInvariant()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header" style="font-size: 15px;margin-left:15px; text-align:center; font-weight: bold;font-family: sans-serif;color:white">
                                    <img src="~/Content/theme/dist/img/user3-160x160_blank.jpg" class="img-circle" alt="User Image" />
                                    <p>
                                        @userSession.userName


                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="@Url.Action("Logout", "User")" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a href="/" class="logo">
                        <img width="180" src="~/Content/images/.jpg" />
                    </a>
                </div><!-- /.navbar-custom-menu -->
            </div><!-- /.container-fluid -->
            <div class="container-fluid shop-details-bar">
                <div class="row container top-bar top-bar1">

                    <div class="col-md-12 text-center"> <span style="text-align:center" id="shop-shift">@if (globalData != null)
                    {<h3 class="pagetitleClass" style="font-size: 15px;font-weight: bold;font-family: sans-serif;margin-top:4px;color:white">@globalData.pageTitle</h3>}</span></div>
                </div>
            </div>
        </nav>
    </header>



    <style type="text/css">

        .container-fluid {
         padding-right: 0px;
         padding-left: 0px;

    }

    </style>*@


@using REIN_MES_System.App_LocalResources
@using REIN_MES_System;

@{
    var globalData = (REIN_MES_System.Models.GlobalData)ViewData["GlobalDataModel"];
    var userSession = (REIN_MES_System.Helper.FDSession)Session["FDSession"];
}

<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- <a href="../../index2.html" class="navbar-brand"><b>Admin</b>LTE</a> -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <!-- Logo -->
                        <a href="" class="logo">
                            <img width="200" src="~/Content/images/ReinSolutionsLogo.jpeg">
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    @if (userSession.menuObj != null)
                    {
                        foreach (var menu in userSession.menuObj)
                        {
                            <li><a href="@Url.Action(menu.ActionName, menu.ControllerName)"> @menu.LinkName </a></li>
                        }
                    }
                    @*<li class="active"><a href="@Url.Action("ShopScreen", "SOP")">SOP</a></li>
                        <li><a href="@Url.Action("ShopScreen", "Manifest")">Manifest</a></li>
                        <li><a href="@Url.Action("index", "CLITADailyCheck")">CLITA</a></li>*@
                    @*                    <li><a href="@Url.Action("Confirm", "Clita")">CLITA</a></li>*@

                    @*<li><a href="@Url.Action("Collect","ManualDataCollection")">MANUAL DATA COLLECTIONS</a></li>
                        <li><a href="@Url.Action("TrackingScreen","Tracking")">TRACKING</a></li>*@
                </ul>
            </div><!-- /.navbar-collapse -->
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li><a href="javascript:history.back()" class="btnback">BACK</a></li>

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="~/Content/theme/dist/img/user3-160x160_blank.jpg" class="user-image" alt="User Image" />
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->

                            <span class="hidden-xs">@userSession.userName.ToUpperInvariant()</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="~/Content/theme/dist/img/user3-160x160_blank.jpg" class="img-circle" alt="User Image" />
                                <p>
                                    @userSession.userName

                                    @*<small>Member since July. 2015</small>*@
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                @*<div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>*@
                                <div class="pull-right">
                                    <a href="@Url.Action("Logout", "User")" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                @*<a href="/" class="logo">
                        <img width="180" src="~/Content/images/.jpg" />
                    </a>*@
            </div><!-- /.navbar-custom-menu -->
        </div><!-- /.container-fluid -->
        <div class="container-fluid shop-details-bar">
            <div class="row container top-bar top-bar1">
                <div class="col-md-4">
                    @{ if (!String.IsNullOrEmpty(userSession.stationName))
                        { <text> STATION -@userSession.stationName</text> } }
                </div>
                <div class="col-md-6 text-center shop-title">
                    @ViewBag.ShopTitle
                </div>
                <div class="col-xs-2 pull-right text-right"> <span id="shop-shift">General</span></div>
            </div>
        </div>
    </nav>
</header>

@*<header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- <a href="" class="navbar-brand"><b>Admin</b>LTE</a> -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <!-- Logo -->
                            <a href="" class="logo">
                                <img width="200" src="~/Content/images/">
                            </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            <div class="col-xs-7 shop-header-block">
                @if (globalData != null)
                {
                    <div class="col-xs-8 text-center">
                        <h4 class="text-bold">@globalData.ShopTitle</h4>
                    </div>
                }
                @Html.Partial("SerialSearchBlock")
            </div>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="" class="btnback">BACK</a></li>

                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/Content/theme/dist/img/user3-160x160_blank.jpg" class="user-image" alt="User Image" />
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->

                                <span class="hidden-xs">@userSession.userName.ToUpperInvariant()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="~/Content/theme/dist/img/user3-160x160_blank.jpg" class="img-circle" alt="User Image" />
                                    <p>
                                        @userSession.userName

                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="@Url.Action("Logout", "User")" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-custom-menu -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>*@

<style type="text/css">

    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
</style>