@model REIN_MES_System.Models.RS_Maintenance_Machine_Part
@using REIN_MES_System.App_LocalResources;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plant_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Plants.Plant_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shop_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Shops.Shop_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Line_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Lines.Line_Name)
        </dd>
        <dt>
           @Html.DisplayNameFor(model => model.Station_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Stations.Station_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RS_Maintenance_Part.Part_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Maintenance_Part.Part_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machine_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RS_MT_Machines.Machine_Name)
        </dd>

    </dl>
</div> 
<p>
    @Html.ActionLink(ResourceGlobal.Edit, "Edit", new { id = Model.Machine_Part_ID }, htmlAttributes: new { @class = "btn btn-success" })
    @Html.ActionLink(ResourceGlobal.Show_All, "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>


