@model REIN_MES_System.Models.RS_Email_Alert

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RS_Email_Alert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plant_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plant_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alert_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alert_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escalation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escalation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escal_EmpId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escal_EmpId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delay_Escal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delay_Escal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant_Alert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plant_Alert)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Transfered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Transfered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Purgeable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Purgeable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Edited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Edited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inserted_Host)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inserted_Host)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inserted_User_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inserted_User_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inserted_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inserted_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_Host)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_Host)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_User_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_User_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Employee.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Employee.Employee_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Email_alert_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
