@model REIN_MES_System.Models.RS_AttributionType_Master
@using REIN_MES_System.Models
@using REIN_MES_System.Helper;

@{
    REIN_SOLUTIONEntities db = new REIN_SOLUTIONEntities();
}

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<br />
<div>

    <dl class="dl-horizontal">
@{
        <dt>
            @Html.DisplayName("Plant Name :")
        </dt>
         string plant_name = db.RS_Plants.Where(a => a.Plant_ID == Model.Plant_ID).Select(a => a.Plant_Name).FirstOrDefault();
        <dd>
            @Html.Label(plant_name)
        </dd>
       
        <dt>
            @Html.DisplayName("Attribution Type :")
        </dt>
    string attribute = Model.Attribution_Type;
        <dd>
            @Html.Label(attribute)
        </dd>
        }

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary fa-trash" /> 
            @Html.ActionLink("Back", "Create", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
