@model REIN_MES_System.Models.RS_AttributionType_Master

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <div class="form-horizontal">

            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-md-3" style="display:none">
                    @Html.LabelFor(model => model.Plant_ID, "Plant Name", htmlAttributes: new { @class = "" })

                    @Html.DropDownList("Plant_ID", null, string.Empty, new { onchange = "", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Plant_ID)
                    @Html.HiddenFor(model => model.Plant_ID)
                </div>

                @Html.HiddenFor(model => model.Attribution_ID)


                <div class="col-md-3">
                    @Html.Label("Child Part", htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.DropDownList("Sub_Assembly_ID", null, string.Empty, new { onchange = "", @class = "form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.Sub_Assembly_ID, null, new { @class = "validation_error" })
                    @Html.HiddenFor(model => model.Sub_Assembly_ID)
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Attribution_Type, "Attribute Type", htmlAttributes: new { @class = "" })<i style="color:red">*</i>

                    @Html.TextBoxFor(model => model.Attribution_Type, new { onchange = "", @class = "form-control" ,disabled="disabled" })
                    @Html.ValidationMessageFor(model => model.Attribution_Type)
                    @Html.HiddenFor(model => model.Attribution_Type)
                </div>

                <div class="col-md-3">
                    @Html.Label("ToolBox Used", htmlAttributes: new { @class = "" })<i style="color:red">*</i>

                    @* @Html.TextBoxFor(model => model.ToolBox, new { onchange = "", @class = "form-control" })*@
                    @Html.DropDownList("ToolBox",  null,string.Empty, new { onchange = "", @class = "form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.ToolBox, null, new { @class = "validation_error" })
                    @Html.HiddenFor(model => model.ToolBox)
                </div>
                </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    @Html.Label("ToolBox Position", htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.TextBoxFor(model => model.ToolBox_Post, new { onchange = "", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ToolBox_Post, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3">
                    @Html.CheckBox("IsActive")
                    @Html.Label("Active", new { @class = "" })
                    @Html.ValidationMessageFor(model => model.IsActive)
                    @Html.HiddenFor(model => model.IsActive)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @Html.ActionLink("Back", "Create", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
}
        