
@model IEnumerable<REIN_MES_System.Models.RS_Attribution_Parameters>
@using REIN_MES_System.Models
@using REIN_MES_System.Helper;

@{
    REIN_SOLUTIONEntities db = new REIN_SOLUTIONEntities();
}


<table class="table table-bordered table-striped datatable_completes ">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Plant Name")
            </th>
            @*<th>
                    @Html.DisplayName("Attribute ID")
                </th>*@
            <th>
                @Html.DisplayName("Attribute Type")
            </th>
            <th>@Html.DisplayName("Attribute Discription")</th>
            
            <th>@Html.DisplayName("Action")</th>
           
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {


            foreach (var item in Model)
            {

                <tr>
                    @{
                        string plant_name = db.RS_Plants.Where(a => a.Plant_ID == item.Plant_ID).Select(a => a.Plant_Name).FirstOrDefault();
                        <td>
                            @Html.Label(plant_name)
                        </td>

                        @*decimal AttributeId = item.Attribution_ID;
                            <td>
                                @Html.Label(Convert.ToString (AttributeId))
                            </td>*@
                    string type = item.Attribute_Type;
                    <td>
                        @Html.Label(type)
                    </td>
                        string desc = item.Attribute_Desc;
                        <td>
                            @if (desc != null)
                            { @Html.Label(desc) }

                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "AttributionTypeMaster", new { id = item.Attribute_ID })"><i class="fa fa-edit"></i></a> &nbsp;&nbsp;
                            <a href="@Url.Action("Details", "AttributionTypeMaster", new { id = item.Attribute_ID })"><i class="fa fa-fw fa-laptop"></i></a> &nbsp;&nbsp;
                            <a href="@Url.Action("Delete", "AttributionTypeMaster", new { id = item.Attribute_ID })"><i class="fa fa-trash"></i></a>

                        </td>
                    }
                </tr>

                            }

                        }
    </tbody>
</table>






