@model REIN_MES_System.Models.RS_OM_Creation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <h3>Are you sure you want to delete this?</h3>
    <div>

        <dl class="dl-horizontal">
            @*<dt>
                    @Html.DisplayNameFor(model => model.Row_ID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Row_ID)
                </dd>*@

            <dt>
                @Html.DisplayName("Model Code")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Model_Code)
            </dd>

            <dt>
                @Html.DisplayName("Order Type")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order_Type)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.Country)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Country)
                </dd>*@

            <dt>
                @Html.DisplayName("Qty")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Qty)
            </dd>

            <dt>
                @Html.DisplayName("Release Qty")
            </dt>

            <dd id="releaseQty">
                @Html.DisplayFor(model => model.Release_Qty)
            </dd>
            <dt>
                Delete Quantity
            </dt>
            <dd>
                <input type="text" name="deleteQty" id="deleteQty"  onkeypress = "return isNumberKey(event)"/>
                <span id="deleteQtyMsg"></span>
            </dd>
            <dd>
                <input type="hidden" id="validDeleteQty" name="validDeleteQty" value="0" />
            </dd>
            @*<dt>
                    @Html.DisplayNameFor(model => model.Priority)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Priority)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Is_Transfered)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Is_Transfered)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Is_Purgeable)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Is_Purgeable)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Inserted_User_ID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Inserted_User_ID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Inserted_Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Inserted_Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Updated_User_ID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Updated_User_ID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Updated_Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Updated_Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Is_Active)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Is_Active)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Is_Deleted)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Is_Deleted)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RS_Plants.Plant_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RS_Plants.Plant_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RS_Shops.Shop_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RS_Shops.Shop_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RS_Colour.Colour_Desc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RS_Colour.Colour_Desc)
                </dd>*@

        </dl>


        <div class="form-actions no-color">
            @*<input type="submit" value="Delete" class="btn btn-default" /> |*@
            <input type="submit" value="Delete" class="btn btn-primary" id="deleteSubmitBtn" /> @Html.ActionLink("Show All", "Index", null, new { @class = "btn btn-primary" })
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    <script>
        $("#deleteQty").on("keypress", function (evt) {
            var keycode = evt.charCode || evt.keyCode;
            if (keycode == 46 || keycode == 45) {
                return false;
            }
        });
        function isNumberKey(evt) {
            // alert(evt.which);
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46)
                return false;
            return true;
        }

        $("#deleteQty").on("keyup", function () {
            
            var deleteQty = $('#deleteQty').val();
            var currentUrl = window.location.href;
            var plantOrderId = currentUrl.substr(currentUrl.lastIndexOf('/') + 1);
            var releaseQty = parseInt($('#releaseQty').html());
            $('#deleteQtyMsg').html("");
            if (deleteQty == 0) {
                $('#deleteQtyMsg').html("");
                $('#deleteQtyMsg').html("Please enter Delete Quantity");
                $('#deleteQtyMsg').attr('style', 'color:red');
            }
            if (releaseQty < deleteQty) {
                $('#deleteQtyMsg').html("");
                $('#deleteQtyMsg').html("Delete Quantity Can not be greater than Release Quantity");
                $('#deleteQtyMsg').attr('style', 'color:red');
            }   
            if (deleteQty > 0 && plantOrderId>0 ){
                $.getJSON('/OrderCreation/validateDetetionQty', { deleteQty: deleteQty, plantOrderId: plantOrderId }, function (data) {
                    $('#validDeleteQty').val(data.validDeletionQty);
                    if (data.result == true) {
                    
                        $('#deleteQtyMsg').html(data.message);
                        $('#deleteQtyMsg').attr('style', 'color:green');



                    } else {
                      
                        $('#deleteQtyMsg').html(data.message);
                        $('#deleteQtyMsg').attr('style', 'color:red');

                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(data.message);

                });
            }
        });

        //$("#deleteSubmitBtn").click(function () {
        //    var deleteQty = $('#deleteQty').val();
        //    var validDeleteQty = $('#validDeleteQty').val();
        //    var releaseQty = parseInt($('#releaseQty').html());
        //    debugger;
        //    if (deleteQty == "" || deleteQty == 0) {
        //        $('#deleteQtyMsg').html("");
        //        $('#deleteQtyMsg').html("Please enter Delete Quantity");
        //        $('#deleteQtyMsg').attr('style', 'color:red');
        //        return false;
        //    }
            
        //    if (releaseQty < deleteQty) {
        //        $('#deleteQtyMsg').html("");
        //        $('#deleteQtyMsg').html("Delete Quantity Can not be greater than Release Quantity");
        //        $('#deleteQtyMsg').attr('style', 'color:red');
        //        return false;
        //    }
        //    if (validDeleteQty>deleteQty) {
        //        $('#deleteQtyMsg').html("");
        //        $('#deleteQtyMsg').html("Please enter Valid Delete Quantity");
        //        $('#deleteQtyMsg').attr('style', 'color:red');
        //        return false;
        //    }
        //    if (deleteQty != null && deleteQty != undefined && deleteQty > 0) {

        //        return true;
        //    }

        //    return false;

        //});

    </script>