@model REIN_MES_System.Models.RS_OM_OrderRelease
@using REIN_MES_System.Models


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/WithoutSideBarNoMenu/_Layout.cshtml";

    var globalData = (REIN_MES_System.Models.GlobalData)ViewData["GlobalDataModel"];
    REIN_SOLUTIONEntities db = new REIN_SOLUTIONEntities();
}

<div class="box">
    <div class="box-header with-border">
        <div class="col-md-8">
            <div id="order-message-block" class="shop-notify order-start-notify"></div>
        </div>
        <div class="box-tools pull-right">
            @*<button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>*@
        </div>
    </div>
    <div class="box-body">
        <input type="hidden" id="hdnShopId" value="@ViewBag.Shop_ID_User" />
        <input type="hidden" id="hdnShopId" value="@ViewBag.Shop_ID_User" />
        <input type="hidden" id="hdnLineId" value="@ViewBag.Line_ID_User" />
        <input type="hidden" id="hdnStationId" value="@ViewBag.Station_ID_User" />
        <div>
            <div class="col-md-12 Order_Start">

                <div class="col-md-12 plant-line">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)

                        <div class="row">
                            <div class="">
                                @using (Ajax.BeginForm("ShowStartOrderList", "OrderStart", new AjaxOptions()
                                {
                                    HttpMethod = "POST",
                                    UpdateTargetId = "showStartedOrderDetail",
                                    InsertionMode = InsertionMode.Replace,
                                    OnBegin = "StartedOrdersLoadBegin",
                                    OnComplete = "StartedOrdersLoadComplete",
                                }, new { @id = "showStartedOrderList" }))
                                {
                                    <input type="hidden" id="startOrderListShopId" name="startOrderListShopId" value="@ViewBag.Shop_ID_User" />
                                    <input type="hidden" id="startOrderListLineId" name="startOrderListLineId" value="@ViewBag.Line_ID_User" />
                                }

                                <div id="showStartedOrderDetail">

                                </div>
                            </div>
                        </div><br /><br />



                        @*<h5> <b>Ready To Release Order List</b> </h5>*@

                        <div class="">
                            @using (Ajax.BeginForm("ShowBulkOrderList", "OrderStart", new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "showReleasedOrderDetail",
                                InsertionMode = InsertionMode.Replace,
                                OnBegin = "ReleasedOrdersLoadBegin",
                                OnComplete = "ReleasedOrdersLoadComplete",
                            }, new { @id = "showReleaseOrderList" }))
                            {
                                <input type="hidden" id="orderListShopId" name="orderListShopId" value="@ViewBag.Shop_ID_User" />
                                <input type="hidden" id="orderListLineId" name="orderListLineId" value="@ViewBag.Line_ID_User" />
                            }

                            <div id="showReleasedOrderDetail">

                            </div>
                        </div>

                        <div class=" row">
                            @*<h4><b>Serial Number</b></h4>
                            <div class="col-md-3 no-padding">
                                @Html.TextBox("Serial_Number1", null, string.Empty, htmlAttributes: new { onchange = "", @class = "form-control" })
                                @Html.ValidationMessage("Serial_Number1", null, new { @class = "validation_error" })
                            </div>*@
                            <div class="plant-line">

                                <div class="col-md-4">
                                    @*<input type="button" id="btnStart_reprint" value="REPRINT" class="btn btn-primary" />*@
                                    @Ajax.ActionLink("SHOW RELEASE ORDER LIST", "loadAllReleasedOrders", "OrderStart", new AjaxOptions()
                                   {
                                       HttpMethod = "Get",
                                       UpdateTargetId = "releasedOrdersBody",
                                       InsertionMode = InsertionMode.Replace,
                                       OnBegin = "Loadingajax",
                                       OnComplete = "LoadingajaxComplete"
                                   }, new { @class = "btn btn-primary order_popup", id = "show_release" })
                                    @*<input type="button" id="show_release" value="SHOW RELEASE ORDER LIST" class="btn btn-primary order_popup" data-toggle="modal" data-target="#myModal" />*@
                                    <input type="button" id="btn_refresh" value="REFRESH" class="btn btn-warning" />
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>

                @*Show Order Release data*@

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Release Order</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-horizontal" id="releasedOrdersBody">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary order_genealogy_popup" style="display:none;" data-toggle="modal" data-target="#myModal_genealogy_popup">Add Order</button>
                <div class="modal fade" id="myModal_genealogy_popup" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Genealogy </h4>
                            </div>
                            <p id="error_msgParts" style="color:red;font-size:15px;"></p>
                            <div class="modal-body">
                                @*changes*@

                                <div class="form-horizontal">
                                    @*<div class="row">*@
                                    @*<div id="kitting_part" class="shopForm-wrapper">*@

                                    <div class="row genealogy_input">
                                        @*<input type="text" id="txt_Kitting" class="validate_kitt_serial_no form-control" autofocus />
                                        <p id="error_msg" style="color:red;font-size:15px;"></p>*@
                                    </div>

                                    @*</div>*@
                                    @*</div>*@
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                <input type="submit" value="Save" id="SaveGenealogy" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>


                <input type="hidden" id="hdnHoldRowId" value="" />
                <input type="hidden" id="row_id_kit" value="" />
                <div class="loading_global_spinner_image" style="display:none;">
                    @*<img src="~/Content/images/loader2.GIF" />*@
                    <img src="~/Content/images/gears.gif" />
                </div>
            </div>
            <input type="hidden" id="hdnTotalGenealogyDiscount" value="@ViewBag.Total_Genealogy_Count" />
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
                @Scripts.Render("~/Content/theme/plugins/datatables/js")
                @Styles.Render("~/Content/theme/plugins/datatables/css")
                @Scripts.Render("~/Scripts/user_datatable")
                @Styles.Render("~/fdtheme/spinner_css")
                @Scripts.Render("~/fdtheme/spinner_js")
                @Scripts.Render("~/fdtheme/bootstrap")


                <script src="~/Scripts/jquery.validate.min.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
                <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
                <script type="text/javascript">
                        //to chceck is kitting available while submitting ---- ketan
                        var IsKittingAvailable = '';
                        var Model_Code = '';
                        var OrderID = '';
                        function StartedOrdersLoadBegin() {
                            $("#showStartedOrderDetail").html("<img class='loading-img' src='@(Url.Content("/Content/images/loader2.GIF"))'/>");
                        }
                        function StartedOrdersLoadComplete() {
                        }
                        function ReleasedOrdersLoadBegin() {
                            $("#showReleasedOrderDetail").html("<img class='loading-img' src='@(Url.Content("/Content/images/loader2.GIF"))'/>");
                        }
                        function ReleasedOrdersLoadComplete() {
                        }
                        function Loadingajax() {
                            $('#myModal').modal();
                            $("#releasedOrdersBody").html("<img class='loading-img' src='@(Url.Content("/Content/images/loader2.GIF"))'/>");
                        }
                        //setInterval(function () {
                        //    $(".start_orders").click();
                        //}, 5000);

                    $(document).ready(function () {
                        //$(document).on('keydown', '.validate_kitt_serial_no', function (e) {
                        //    //alert(0)
                        //    debugger;
                        //    if ((e.keyCode == 8 || e.keyCode == 46) && $('#txt_genealogy_1').is(":focus") && $('#txt_genealogy_1').val().length < 4) {
                        //        e.preventDefault();
                        //    }
                        //});
                            $("#btn_refresh").click(function (e) {
                                loadShopOrderList();
                                loadShopStartedList();

                            });
                            loadShopOrderList();
                            loadShopStartedList();

                            //sandip
                            $("#showReleasedOrderDetail").on("click", ".start_orders", function (e) {


                                    var rowId = $(this).data("order-rowid");
                                    $('#row_id_kit').val(rowId);
                                var stationId = $("#hdnStationId").val();
                                if ($("#hdnTotalGenealogyDiscount").val() != "" && $("#hdnTotalGenealogyDiscount").val() != null && $("#hdnTotalGenealogyDiscount").val() != 0) {
                                    // process to show total number of text boxes to take input from users
                                    var url = "/OrderStart/GetGenealogyFields";
                                    $.getJSON(url, { stationId: stationId }, function (data) {
                                        debugger;
                                        $(".order_genealogy_popup").trigger("click");
                                        var res = "";
                                        for (var i = 0; i < $("#hdnTotalGenealogyDiscount").val(); i++) {
                                            res = res += "<div class='row' style='margin-left:5%'>";
                                            res = res + "<div class='col-md-6'>";
                                            res = res + "<label id='lbl_genealogy_" + data[i].Field_No + "' >" + data[i].Display_Name + "</label>";
                                            res = res + "<input onkeypress='SetEvent(" + '"txt_genealogy_' + data[i].Field_No + '"' + ")' type='text' id='txt_genealogy_" + data[i].Field_No + "' class='validate_kitt_serial_no form-control text-uppercase' autocomplete='off' autofocus />";
                                            res = res + "<p class='genealogy_error' id='error_msg_" + data[i].Field_No + "' style='color:red;font-size:15px;'></p></div>";
                                            res = res + "</div>";
                                        }
                                        debugger;
                                        $(".genealogy_input").html(res);
                                        //var rowId = $(this).data("order-rowid");
                                        //$('#row_id_kit').val(rowId);
                                        setTimeout(function () { $('.genealogy_input input:first').focus(); }, 1000);
                                    });

                                }
                                else {
                                    order_Start();
                                }

                                    //order_Start();


                            });

                        $("#SaveGenealogy").click(function (e) {
                            var totalGenealogyCount = $("#hdnTotalGenealogyDiscount").val();
                            $(".genealogy_error").html("");
                            var isClear = true;
                            var inputString = "";
                            for (var i = 0; i < totalGenealogyCount; i++) {
                                var inputText = $("#txt_genealogy_" + (i + 1)).val();
                                if (inputText == "" || inputText == null) {
                                    $("#error_msg_" + (i + 1)).html("This field is required");
                                    isClear = false;
                                } else {
                                    if (i == 0) {
                                        inputString = inputText;
                                        continue;
                                    }

                                    inputString = inputString + "#" + inputText;
                                }
                            }

                            if (isClear) {
                                var url = "/OrderStart/isGenealogyOK";
                                var ShopId = $("#hdnShopId").val();
                                var ModelCode = $('#row_model_code').val();
                                $.getJSON(url, { shopId: ShopId, inputStr: inputString, modelCode: ModelCode }, function (data) {
                                    if (data != null) {
                                        var isClear = true;
                                        debugger;
                                        for (var i = 0; i < data.returnData.length; i++) {
                                            if (data.returnData[i] == 1) {
                                                // record exists
                                                $("#error_msg_" + (i + 1)).html(data.returnMsg[i]);
                                                isClear = false;
                                            } else {
                                                $("#error_msg_" + (i + 1)).html("");
                                            }
                                        }
                                        if (isClear) {
                                            order_Start(inputString);
                                            $("#myModal_genealogy_popup .close").trigger("click");
                                        }
                                    }
                                }).fail(function (jqXHR, textStatus, errorThrown) {
                                    location.reload();
                                });

                            } else {

                            }

                        });

                   
                            //Reprint Serial Number
                            $("#btnStart_reprint").click(function (e) {
                                var serial_number = document.getElementById("Serial_Number1").value;
                                if (serial_number) {
                                    var url = "/OrderStart/isReprint";
                                    //ajaxpack.getAjaxRequest(url, "serial_number=" + serial_number + "&Shop_Id=" + shopId, isreprintOrderStart, "json");
                                    $.getJSON(url, { serial_number: serial_number }, function (data) {

                                        if (data == true) {
                                            document.getElementById("Serial_Number1").value = "";
                                            document.getElementById("Serial_Number1").focus();
                                        }
                                        else {
                                            $('#order-message-block').html("Invalid Serial Number Please Check Serial Number.....!");
                                            $('#order-message-block').addClass('bg-error').removeClass('bg-correct');
                                            $("html, body").animate({ scrollTop: 0 }, "slow");

                                            document.getElementById("Serial_Number1").value = "";
                                            document.getElementById("Serial_Number1").focus();
                                        }
                                    }).fail(function (jqXHR, textStatus, errorThrown) {
                                        location.reload();
                                    });
                                }
                                else {
                                    $('#order-message-block').html("Please Enter Serial Number.....!");
                                    $('#order-message-block').addClass('bg-error').removeClass('bg-correct');
                                    $("html, body").animate({ scrollTop: 0 }, "slow");
                                    $(".loading_global_spinner_image").hide();
                                }
                            });

                            $("#showReleasedOrderDetail").on("click", ".hold_orders", function (e) {
                                //alert($(this).attr("id"));
                                var rowid = $(this).data("order-rowid");
                                $("#hdnHoldRowId").val(rowid);
                                $(".hold_order_popup").trigger("click");
                            });

                            $("#saveHoldOrder").click(function (e) {
                                var rowid = $("#hdnHoldRowId").val();
                                var remarkId = $("#Remark_ID").val();
                                var url = "/ManageOrders/changeOrderStateLinewise";
                                if (remarkId) {


                                $.getJSON(url, { status: "Hold", rowID: rowid, remarkId: remarkId }, function (data) {
                                    if (data != null) {
                                        if (data == true) {
                                            loadShopOrderList();
                                            $('#order-message-block').html("Order holded Successfully.....!");
                                            $('#order-message-block').addClass('bg-correct').removeClass('bg-error');
                                            $("html, body").animate({ scrollTop: 0 }, "slow");
                                            $("#myModal_hold_order .close").trigger("click");
                                            $("#Remark_ID").val("");
                                        }
                                        else {
                                            $('#order-message-block').html("Order hold Not allowed.....!");
                                            $('#order-message-block').addClass('bg-error').removeClass('bg-correct');
                                            $("html, body").animate({ scrollTop: 0 }, "slow");
                                        }
                                    }
                                }).fail(function (jqXHR, textStatus, errorThrown) {
                                    location.reload();
                                });

                                } else {
                                    alert("Please select remark");
                                }
                            });

                            $('#order_start').dataTable();

                            setTimeout(function (e) {
                                //getTopOrderDetail();
                                loadShopOrderList();
                                loadShopStartedList();
                            }, 500);

                        });// DOCUMENT READY STATE END

                    function SetEvent(id) {
                        debugger;
                        var key = event.keyCode;
                        var idcheck = id.replace("txt_genealogy_", "");
                        idcheck = idcheck - 1;
                        if (key == 13) {
                            debugger;
                            var totalStr = $("#" + id).val();
                            var str1 = totalStr.replace("<C1>", "");
                            str1 = str1.replace("</>", "");
                            var str = str1.split(':');
                            var totalGenealogyCount = $("#hdnTotalGenealogyDiscount").val();
                            for (var i = 0; i < totalGenealogyCount && i < str.length; i++) {
                                var j = idcheck + 1;
                                $("#txt_genealogy_" + j).val(str[i]);
                                idcheck = idcheck + 1;
                            }
                        }
                    }

                        function loadShopOrderList() {
                            $("#showReleaseOrderList").submit();
                        }

                        function loadShopStartedList() {
                            $("#showStartedOrderList").submit();
                        }

                        //-----------------------------------------------------------------//

                        function order_Start(inputString) {
                            var kitting_Barcode = $('#txt_Kitting').val();
                            var rowId = $('#row_id_kit').val();
                            if (rowId) {
                                var url = "/OrderStart/StartOrder";
                                $(".loading_global_spinner_image").show();
                                //ajaxpack.getAjaxRequest(url, "rowId=" + rowId + "&plantId=" + plantId + "&shopId=" + shopId + "&lineId=" + lineId + "&stationId=" + stationId + "&orderno=" + orderNo + "&modelcode=" + modelCode + "&rsn=" + RSN, showOrderStartDetail, "json");
                                $.getJSON(url, { rowId: rowId, kitting_Barcode: kitting_Barcode, genealogyStr: inputString }, function (data) {
                                    if (data != null) {
                                        if (data.status == true) {
                                            // added by ketan to save part order details    Date 12-jun-17
                                            if (IsKittingAvailable == true) {
                                                SavePartsOrderDetails();
                                            }
                                            $('#order-message-block').html("Order is Started.....!");
                                            $('#order-message-block').addClass('bg-correct').removeClass('bg-error');
                                            $("html, body").animate({ scrollTop: 0 }, "slow");
                                            $(".loading_global_spinner_image").hide();
                                            $('#error_msg').html('');
                                            $('#txt_Kitting').val('');
                                            closepopup();
                                        }
                                        else {
                                            if (data.message != null && data.message != "") {
                                                $('#order-message-block').html(data.message);
                                            }
                                            else {
                                                $('#order-message-block').html(data.kit_message);
                                            }
                                            $('#error_msg').html(data.kit_message);
                                            $('#order-message-block').addClass('bg-error').removeClass('bg-correct');
                                            $("html, body").animate({ scrollTop: 0 }, "slow");
                                            $(".loading_global_spinner_image").hide();
                                            closepopup();
                                            //$("#message-block").addClass('bg-error');
                                            //alert("Line is Stop Order is Not Started !");
                                        }
                                        //getTopOrderDetail();
                                        loadShopOrderList();
                                        loadShopStartedList();
                                    } else {
                                        $(".loading_global_spinner_image").hide();
                                        closepopup();
                                        //$("#message-block").addClass('bg-error');
                                        //alert("Line is Stop Order is Not Started !");
                                    }

                                }).fail(function (jqXHR, textStatus, errorThrown) {
                                    location.reload();
                                });
                            }
                            else {
                                $('#order-message-block').html("No orders are available to start.....!");
                                $('#order-message-block').addClass('bg-error').removeClass('bg-correct');
                                $("html, body").animate({ scrollTop: 0 }, "slow");
                            }
                        }

                        $("#txt_Kitting").keydown(function (event) {

                            if (event.keyCode === 13) {
                                var kitting_Serialno = $("#txt_Kitting").val();
                                if (kitting_Serialno.length > 5) {
                                    //IsKitAvailabele
                                    var url = "/OrderStart/IsKitAvailabele";
                                    $.getJSON(url, { kitting_Barcode: kitting_Serialno }, function (data) {
                                        if (data != null) {
                                            if (data.msg == true) {
                                                IsKittingAvailable = data.msg;  //--ketan
                                                $('#error_msg').html('');
                                                $('#SavePartNumbers').attr('disabled', false);
                                                //closepopup();
                                                //order_Start();--- comment by ketan due to add in parts order details..
                                            }
                                            else {
                                                IsKittingAvailable = data.msg; //--ketan
                                                $('#error_msg').html(data.msg);
                                                $('#SavePartNumbers').attr('disabled', true);
                                                return false;
                                            }
                                        }
                                    });

                                }
                                else {
                                    $('#SavePartNumbers').attr('disabled', true);
                                    $('#error_msg').html('Invalid Kit BarCode');
                                    return false;
                                }

                            }
                        });

                        function closepopup() {
                            $("#myModal_kit .close").trigger("click");
                        }

                        //-----------------------------select All-----------------------------//
                        $('#SelectAll').on("click", function () {
                            var PartNoCheckbox = $('.part_html').children().find('input')
                            var checked = document.getElementById("SelectAll").checked
                            if (checked) {
                                if (PartNoCheckbox.length > 0) {
                                    for (var i = 0; i < PartNoCheckbox.length; i++) {
                                        PartNoCheckbox[i].checked = true;
                                        $('#SavePartNumbers').removeClass('disabled');
                                    }
                                }
                            }
                            else {
                                if (PartNoCheckbox.length > 0) {
                                    for (var i = 0; i < PartNoCheckbox.length; i++) {
                                        PartNoCheckbox[i].checked = false;
                                        $('#SavePartNumbers').addClass('disabled', 'disabled');
                                    }
                                }
                            }
                        });
                        //if all part No are checked than select All also checked--------------//
                        $(document).on('click', '.partNoDiv', function () {

                            var PartNoCheckbox = $('.part_html').children().find('input')
                            if (PartNoCheckbox.length > 0) {
                                for (var i = 0; i < PartNoCheckbox.length; i++) {
                                    if (PartNoCheckbox[i].checked == true) {
                                        document.getElementById("SelectAll").checked = true;
                                        $('#SavePartNumbers').removeClass('disabled');
                                    }
                                    else {
                                        document.getElementById("SelectAll").checked = false;
                                        $('#SavePartNumbers').addClass('disabled', 'disabled');
                                        break;
                                    }
                                }
                            }
                        });

                        $(document).on('click', '#SavePartNumbers', function () {

                            if (IsKittingAvailable == true) {
                                $('#error_msg').html('');
                                order_Start();
                            }
                            else {
                                $('#txt_Kitting').focus();
                                $('#error_msg').html('Scan kitting Barcode');
                            }
                        });
                        function SelectAllPartNo() {
                            var PartNoCheckbox = $('.part_html').children().find('input')
                            if (PartNoCheckbox.length > 0) {
                                for (var i = 0; i < PartNoCheckbox.length; i++) {
                                    PartNoCheckbox[i].checked = true;
                                }
                            }

                        }
                        //to save order part details                ---ketan Date12-jum-17
                        function SavePartsOrderDetails() {
                            if (IsKittingAvailable) {
                                var PartNoCheckbox = $('.part_html').children().find('input')
                                var dataModal = []
                                if (PartNoCheckbox.length > 0) {
                                    var kitting_Barcode = $('#txt_Kitting').val();
                                    for (var i = 0; i < PartNoCheckbox.length; i++) {
                                        if (PartNoCheckbox[i].checked == true) {

                                            dataModal.push({
                                                Part_No: PartNoCheckbox[i].value,
                                                Quantity: PartNoCheckbox[i].title
                                            });
                                        }
                                    }
                                    //JSON.stringify(dataModal);
                                    $.getJSON("/OrderStart/SaveOrderPartsDetails", { dataModel: JSON.stringify(dataModal), barcodeString: kitting_Barcode, Model_Code: Model_Code, OrderID: OrderID }, function (data) {
                                        if (data != null) {
                                            if (data.length > 0) {
                                                //$('#ModalPart').modal('show');

                                                $(".loading_global_spinner_image").hide();
                                            }
                                        }
                                        else {
                                            $(".loading_global_spinner_image").hide();
                                            //$("#message-block").addClass('bg-error');
                                            //alert("Line is Stop Order is Not Started !");
                                        }

                                    }).fail(function (jqXHR, textStatus, errorThrown) {
                                        location.reload();
                                    });
                                }
                            }

                        }
                </script>
            }
        </div>
    </div><!-- /.box-body -->
    <br /><br />
</div><!-- /.box -->
@*string mName = TempData["MachineName"].ToString();
    string[] split = mName.Split(',');
    for (int i = 0; i < split.Length - 1; i++)
    {
        <div class="row">

            <div class="col-lg-12" style="padding-left:20px;padding-right:20px;">
                <div class="alert alert-danger fade in">

                    <strong>Error!</strong> @split[i].ToString() machine clita not done
                </div>
            </div>
        </div>
    }*@
