@model IEnumerable<REIN_MES_System.Models.RS_OM_OrderRelease>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/shop/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plant_OrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model_Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Type)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Country)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Transfered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Purgeable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inserted_User_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inserted_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated_User_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.RS_Plants.Plant_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RS_Shops.Shop_Name)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Plant_OrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model_Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Type)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Transfered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Purgeable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inserted_User_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inserted_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_User_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.RS_Plants.Plant_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RS_Shops.Shop_Name)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Row_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Row_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Row_ID })
        </td>
    </tr>
}

</table>
