@model REIN_MES_System.Models.RS_OM_OrderRelease
@using REIN_MES_System.App_LocalResources;

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<div class="col-md-12">

    @*@using (Html.BeginForm())ModelWiseBtn
        {*@
    @Html.AntiForgeryToken()
    @Html.Hidden("select_Line", ResourceDisplayName.select_Line)
    @Html.Hidden("Select_Station", ResourceDisplayName.Select_Station)
    @Html.Hidden("Select_Platform", ResourceDisplayName.Select_Platform)
    <div class="form-horizontal">
        <br />

        <div class="row">
            <div class="alert  alert-info alert-dismissable" style="display:none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    <i class="icon fa  fa-check"></i>
                </h4>

            </div>

            <div class="col-md-3" style="display:none;">
                @Html.LabelFor(model => model.Plant_ID, ResourceDisplayName.Plant_Name, htmlAttributes: new { @class = "" })<i style="color:red">*</i>

                @Html.DropDownListFor(model => model.Plant_ID, (SelectList)ViewBag.Plant_ID, null, new { @class = "form-control", @readonly = "true" })
                @Html.ValidationMessageFor(model => model.Plant_ID, null, new { @class = "validation_error" })

            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Shop_ID, ResourceDisplayName.Shop_Name, htmlAttributes: new { @class = "" })<i style="color:red">*</i>

                @Html.DropDownListFor(model => model.Shop_ID, (SelectList)ViewBag.Shop_ID, ResourceDisplayName.Select_Shop, new { onchange = "", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Shop_ID, null, new { @class = "validation_error" })

            </div>
            @*<div class="col-md-3">
                    @Html.Label("Line_ID", "Line Name", htmlAttributes: new { @class = "" })

                    @Html.DropDownList("Line_ID", (SelectList)ViewBag.Line, new { onchange = "", @class = "form-control" })
                    @Html.ValidationMessage("Line_ID")
                </div>*@
            <div class="col-md-3">
                @Html.Label("Line_ID", "Line Name", htmlAttributes: new { @class = "" })

                @Html.DropDownList("Line_ID", (SelectList)ViewBag.Line_ID, new { onchange = "", @class = "form-control" })
                @Html.ValidationMessage("Line_ID")
            </div>
            <div class="col-md-3">
                @Html.Label("Platform_ID", "Platform Name", htmlAttributes: new { @class = "" })

                @Html.DropDownList("Platform_ID", (SelectList)ViewBag.Platform, new { onchange = "", @class = "form-control" })
                @Html.ValidationMessage("Platform_ID")
            </div>
            <div class="col-md-3">
                @Html.Label("Order Type", htmlAttributes: new { @class = "" })

                @Html.DropDownList("Order_Type", (SelectList)ViewBag.Order_Type, new { onchange = "", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Order_Type)
            </div>

        </div>
        <div class="row" style="margin-top: 1%;">
            <div class="col-md-2">
                <button id="ModelWiseBtn" class="btn btn-primary">Model Code</button>
            </div>
            <div class="col-md-2    ">
                <button id="AttributeWiseBtn" class="btn btn-primary">Attribute</button>
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive modelCodeWise">
                <table class="table table-bordered table-striped datatable_completes modelCodeWiseTbl">
                    <thead>
                        <tr>
                            <th>
                                Model Code
                            </th>
                            <th>
                                Order Type
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Release Qty
                            </th>
                            <th>
                                Attrubtion
                            </th>
                            <th>
                                Plant Order NO
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
                <div class="loading_global_spinner_image" style="display:none;">
                    @*<img src="~/Content/images/gears.gif" />*@
                </div>
            </div>
            <div class="table-responsive attributeWise">
                <table class="table table-bordered table-striped datatable_completes attributeWiseTbl">
                    <thead>
                        <tr>
                            <th>
                                Attrubtion
                            </th>
                            <th>
                                Order Type
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Release Qty
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6" style="border: solid black 1px;">
            <div class="row" style="margin:8px;">

                <div class="row">
                    <div id="releaseModelCodeSelected">
                        <div class="col-md-3">
                            <label>Model Code</label><br />
                            <input type="text" id="releaseModelCode" disabled="disabled" />
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-3">
                            <label>Attribute</label>
                            <input type="text" id="releaseAttribute" disabled="disabled" />
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div id="releaseAttributeSelected">
                        <div class="col-md-3">
                            <label>Attribute</label>
                            <input type="text" id="releaseAttribute_atribute" disabled="disabled" />
                        </div>
                        <div class="col-md-1">
                        </div>

                    </div>
                    <div class="col-md-2">
                        <label>Quantity</label>
                        <input type="number" id="releaseQtyVal" onkeypress="return isNumberKey(event)" disabled="disabled" />
                        <input type="hidden" id="availablereleaseQtyVal" disabled="disabled" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <button data-model_code="" data-is_modelwise="" data-is_attributewise="" data-order_type="" data-qty="" data-release_qty="" data-attribute="" data-plant_orderno="" id="AddReleaseQtyBtn" class="btn btn-primary">Add Qty</button>
                    </div>
                    <div class="col-md-2">
                        <button id="RefreshQtyBtn" class="btn btn-primary">Refresh</button>
                    </div>
                    <div class="col-md-2">
                        @*<button id="ShowReleaseOrdersBtn" class="btn btn-primary">Show Release</button>*@
                        <button type="button" class="btn btn-primary myModal_ReleaseOrders" id="ShowReleaseOrdersBtn" data-toggle="modal" data-target="#myModal_ReleaseOrders">Show Release</button>

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-1">
                        @*<button id="ShowReleaseOrdersBtn" class="btn btn-primary">Show Release</button>*@
                        <button id="removeAllReleaseOrd" class="btn btn-primary">Remove All</button>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="table-responsive modelCodeWiseReleaseQty">
                        <table class="table table-bordered table-striped datatable_completes modelCodeWiseTblReleaseQty">
                            <thead>
                                <tr>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Model Code
                                    </th>
                                    <th>
                                        Order Type
                                    </th>

                                    <th>
                                        Release Qty
                                    </th>
                                    <th>
                                        Attrubtion
                                    </th>
                                    <th>
                                        Plant Order No
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>

                            <tbody></tbody>
                        </table>
                        <button id="ModelWiseReleaseBtn" class="btn btn-primary">Release Orders</button>

                    </div>
                    <div class="table-responsive attributeWiseReleaseQty">
                        <table class="table table-bordered table-striped datatable_completes attributeWiseReleaseQtyTbl">
                            <thead>
                                <tr>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Attrubtion
                                    </th>
                                    <th>
                                        Order Type
                                    </th>
                                    <th>
                                        Release Qty
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>

                            <tbody></tbody>
                        </table>
                        <button id="attributeWiseReleaseBtn" class="btn btn-primary">Release Orders</button>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="clearfix"></div>
<br />

@*</div>*@
<div class="row">
    <div class="col-lg-10">
        <div class="modal fade" id="myModal_ReleaseOrders" role="dialog">
            <div class="modal-dialog" style="width: 94%;">
                <!-- Modal content-->
                <div class="modal-content" style="height: 55em;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        @*<h4 >Released Orders</h4>*@
                        <h3 class="modal-title" style="font-weight:700">Released Orders</h3>

                    </div>
                    <div class=".content-wrapper-modal">
                        <section class="content-modal"></section>
                    </div>
                    @*<p id="error_msg" style="color:red;font-size:15px;">Order Deleted Successfully</p>*@
                    @*<br />
                        <p id="error_msgRatio" style="color:red;font-size:15px;"></p>*@
                    <div class="modal-body" style="padding: 7px;">
                        @*changes*@

                        <div class="form-horizontal">

                            <div class="box" style="display:block">


                                <div class="row">


                                    <div id="releaseOrdertblbox" class="col-md-10 releaseOrdertblbox" style="font-size: 1.7em;border: solid 2px;">
                                        <table class="table table-striped table-responsive releaseOrdertbl" id="releaseOrdertbl" style="margin-top: 5px;">
                                            <thead>
                                                <tr>
                                                    <th>SR.NO</th>
                                                    <th>NOVIN</th>
                                                    <th>Plant Order No.</th>
                                                    <th>Order No.</th>
                                                    <th>Color</th>
                                                    <th>Model Code</th>
                                                    <th>Model Desc</th>
                                                    <th>Remark</th>
                                                    <th>BIW Part No</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-1" style="width: 3.333333%;">

                                    </div>
                                    <div class="col-md-1">
                                        <br /><br /><br /><br /><br /><br />
                                        <input type="button" class="btn btn-primary" id="goBackBtn" value="Go Back" style="width: 140%;" />
                                        <br />
                                        <br />

                                        <input type="button" class="btn btn-primary" id="saveReleaseOrderBtn" value="Save" style="width: 140%;" />
                                        <br />
                                        <br />

                                        @*<input type="button" class="btn btn-primary" id="editReleaseOrderBtn" value="Exit" style="width: 140%;" />

                                            <br />
                                            <br />*@

                                        <input type="button" class="btn btn-primary" id="removeReleaseOrderBtn" value="Remove" style="width: 140%;" />
                                        <br />
                                        <br />

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    @*<div class="modal-footer">

                        </div>*@
                </div>
            </div>

        </div>
    </div>
    <div class="loading_global_spinner_image" style="display:none;">
        @*<img src="~/Content/images/loader2.GIF" />*@
        <img src="~/Content/images/gears.gif" />
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/master_file")*@
    @Scripts.Render("~/bundles/Select2scripts")
    @*@Scripts.Render("~/bundles/Commonjs")*@
}
<style>
    .error_msg {
        color: red;
    }

    .success_msg {
        color: white;
        background-color: green;
    }

    .selected {
        background-color: green !important;
        color: white;
        /*color: blue;*/
    }

    .attributeWiseReleaseQty {
        margin-left: 0%;
    }

    .modelCodeWiseReleaseQty {
        margin-left: 0%;
    }

    .loading {
        /*background: url(/Content/images/loading/loading.gif) no-repeat;*/
        background-position: center;
        width: 32px;
    }

    .loading_done {
        /*background: url(/Content/images/loading/loading_inprogress.gif) no-repeat;*/
        background-position: center;
        width: 32px;
    }

    .releaseOrdertblbox {
        display: block;
        height: 24em;
        overflow-y: auto;
        overflow-x: auto;
        white-space: nowrap;
        margin-left: 1em;
    }
</style>
<script type="text/javascript">

    ClrlPressedRow = null;
    $("#releaseOrdertblbox").on("click", "table.table-responsive.releaseOrdertbl > tbody > tr", function (event) {
        debugger;
        //$("#removeSelectionBtnScheduled").click();

        //$(this).toggleClass("selected");
        //$("table.table-sequence.availableOrderTbl > tbody > tr.blocked").removeClass("bg-green-gradient selected");
        var flag = $(this).hasClass("selected");

        if (event.ctrlKey && flag) {

            if (ClrlPressedRow != null) {
                if ($(ClrlPressedRow).hasClass("selected")) {
                    rangeRowSelect(ClrlPressedRow, this);
                }
                else {
                    ClrlPressedRow = this;
                }

            }
            else {
                ClrlPressedRow = this;
            }
        }
        else {
            ClrlPressedRow = null;
        }
    });
    function rangeRowSelect(firstRow, SecondRow) {


        ClrlPressedRow = null;
        var firstRowIndex = parseInt($(firstRow).find("td").eq(0).text());
        var secondRowIndex = parseInt($(SecondRow).find("td").eq(0).text());
        if (firstRowIndex > secondRowIndex) {
            var temp = firstRowIndex;
            firstRowIndex = secondRowIndex;
            secondRowIndex = temp;
        }

        for (var i = firstRowIndex; i <= secondRowIndex - 1; i++) {
            if (!$("#releaseOrdertblbox table.table-responsive.releaseOrdertbl > tbody").find("tr").eq(i).hasClass("selected")) {

                $("#releaseOrdertblbox table.table-responsive.releaseOrdertbl > tbody > tr").eq(i).find("td").eq(0).click();
            }


        }



    }
    function LoadBegin() {
        $(".modelCodeWise tbody").html("<tr><td colspan='7' style='height: 14em;'><img class='loading-img' src='@(Url.Content("/Content/images/loader2.GIF"))'/></td></tr>");
        $(".attributeWiseTbl tbody").html("<tr><td colspan='5' style='height: 14em;'><img class='loading-img' src='@(Url.Content("/Content/images/loader2.GIF"))'/></td></tr>");

    }
    function LoadBeginReleaseModal() {
        $(".releaseOrdertbl tbody").html("<tr><td colspan='9' style='height: 14em;'><img style='width: 59px; height: 59px;' class='loading-img' src='@(Url.Content("/Content/images/loader2.GIF"))'/></td></tr>");

    }
    function LoadComplete() {
        $(".modelCodeWise tbody").html("");
        $(".attributeWiseTbl tbody").html("");

    }
    function LoadCompleteReleaseModal() {
        $(".releaseOrdertbl tbody").html("");


    }
    $(document).keyup(function (e) {
        if (e.keyCode == 27) {
            $("#myModal_ReleaseOrders .close").trigger("click");
        }
    });
    $('#goBackBtn').on('click', function () {
        $("#myModal_ReleaseOrders .close").trigger("click");

    });

    $("#releaseOrdertblbox").on("click", "table.table-responsive.releaseOrdertbl > tbody > tr > td", function (event) {
        //alert();

        if ($(this).hasClass("noVin")) {
            var chk = $(this).closest("tr").find("input:checkbox").get(0);
            if (event.target != chk) {
                chk.checked = !chk.checked;
            }
        }
        else {
            //alert();
            if ($(this).parent().hasClass("selected")) {
                $(this).parent().removeClass("selected");
            }
            else {
                $(this).parent().addClass("selected");
            }
        }


    });


    $('#ShowReleaseOrdersBtn').on('click', function () {

        var Plant = $("#Plant_ID").val();
        var Shop = $("#Shop_ID").val();
        var Line = $("#Line_ID").val();

        var platformId = $('#Platform_ID').val();
        var orderType = $('#Order_Type').val();

        $('.releaseOrdertbl tbody tr').remove();
        validateParameterModal();
        if (Plant.length > 0 && Shop.length && platformId.length > 0 && orderType.length > 0) {

            LoadBeginReleaseModal();

            $.getJSON('/OMOrderRelease/getRealeasedOrders', { Shop_id: Shop, Line_id: Line, Platform_ID: platformId, OrderType: orderType }, function (data) {
                LoadCompleteReleaseModal();
                if (data.length > 0) {
                    var tr = "";
                    var index = 1;
                    for (var i = 0; i < data.length; i++) {
                        var is_NoVin = "";
                        if (data[i].isNOVin == true) {
                            is_NoVin = "checked";
                        }

                        tr += '<tr data-orderno="' + data[i].Order_No + '" data-rowid="' + data[i].Row_ID + '"><td>' + index + ' </td> <td class="noVin"><input type="checkbox" class="noVinChkBox" ' + is_NoVin + '></td> <td>' + data[i].Plant_OrderNo + ' </td> <td>' + data[i].Order_No + ' </td> <td>' + data[i].IPMS_Color_Code + ' </td> <td>' + data[i].Model_Code + ' </td> <td>' + data[i].Model_Description + ' </td> <td>' + data[i].Auto_Remarks + ' </td><td>' + data[i].BIW_Part_No + ' </td> </tr>';
                        index++;
                    }
                    $('.releaseOrdertbl').append(tr);
                }
                else {
                    infoMessage("No Orders Availabe");
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                errorMessage("Error occured while getting data from server");


            });
        } else {
            infoMessage("No Orders Available. Please create order");
        }


    });
    function validateParameterModal() {
        debugger;

        var Plant = $("#Plant_ID").val();
        var Shop = $("#Shop_ID").val();
        var Line = $("#Line_ID").val();

        var platformId = $('#Platform_ID').val();
        var orderType = $('#Order_Type').val();
        if (Plant > 0) {
            if (Shop > 0) {
                if (Line > 0) {

                    if (platformId > 0) {
                        if (orderType > 0) {

                        }
                        else {
                            infoMessage("Please select Order Type");
                            setTimeout(function () {

                                $('#myModal_ReleaseOrders').modal("hide");

                            }, 1000);
                        }
                    }
                    else {
                        infoMessage("Please select Platform");
                        setTimeout(function () {

                            $('#myModal_ReleaseOrders').modal("hide");

                        }, 1000);

                    }
                }
                else {
                    infoMessage("Please select Line");
                    setTimeout(function () {

                        $('#myModal_ReleaseOrders').modal("hide");

                    }, 1000);

                }
            }
            else {
                infoMessage("Please select Shop");
                setTimeout(function () {

                    $('#myModal_ReleaseOrders').modal("hide");

                }, 1000);
            }
        }
        else {
            infoMessage("Please Refresh page. Error while retring plant details");
            setTimeout(function () {

                $('#myModal_ReleaseOrders').modal("hide");

            }, 1000);

        }
    }
    function validateParameter() {

        debugger;
        var Plant = $("#Plant_ID").val();
        var Shop = $("#Shop_ID").val();
        var Line= $("#Line_ID").val();

        var platformId = $('#Platform_ID').val();
        var orderType = $('#Order_Type').val();
        if (Plant > 0) {
            if (Shop > 0) {
                if (Line > 0) {

                    if (platformId > 0) {
                        if (orderType > 0) {

                        }
                        else {
                            infoMessage("Please select Order Type");
                        }
                    }
                    else {
                        infoMessage("Please select Platform");

                    }
                }
                else {
                    infoMessage("Please select Line");

                }
            }
            else {
                infoMessage("Please select Shop");

            }
        }
        else {
            infoMessage("Please Refresh page. Error while retring plant details");

        }
    }
    function successMessage(msg) {
        $('.content-wrapper div.myalert').remove();

        alertHtml = '<div class="box-body myalert">' +
            '<div class="alert alert-success alert-dismissable">' +
            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
            '<h4><i class="icon fa fa-check"></i>Success</h4>' +
            msg +
            '</div></div>';
        $('.content-wrapper .content').before(alertHtml);
    }
    function errorMessage(msg) {
        //$('#showSequenceBtn').click();
        $('.content-wrapper div.myalert').remove();
        alertHtml = '<div class="box-body myalert">' +
            '<div class="alert  alert-danger alert-dismissable">' +
            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
            '<h4><i class="icon fa fa-ban"></i>Error</h4>' +
            '<p>' + msg + '</p>' +
            '</div></div>';
        $('.content-wrapper .content').before(alertHtml);
    }
    function infoMessage(msg) {
        //$('#showSequenceBtn').click();

        $('.content-wrapper div.myalert').remove();
        alertHtml = '<div class="box-body myalert">' +
            '<div class="alert alert-warning aler t-dismissable">' +
            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
            '<h4><i class="icon fa fa-ban"></i>Info</h4>' +
            '<p>' + msg + '</p>' +
            '</div></div>';
        $('.content-wrapper .content').before(alertHtml);
    }

    function successMessageModal(msg) {
        debugger;
        $('.box-body.myalert').remove();

        alertHtml = '<div class="box-body myalert">' +
            '<div class="alert alert-success alert-dismissable">' +
            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
            '<h4><i class="icon fa fa-check"></i>Success : ' + msg + '</h4>' +
            '</div></div>';
        $('.content-modal').before(alertHtml);
    }
    function errorMessageModal(msg) {
        //$('#showSequenceBtn').click();
        $('.box-body.myalert').remove();
        alertHtml = '<div class="box-body myalert">' +
            '<div class="alert  alert-danger alert-dismissable">' +
            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
            '<h4><i class="icon fa fa-check"></i>Error : ' + msg + '</h4>' +
        '</div></div>';
        $('.content-modal').before(alertHtml);
    }
    function infoMessageModal(msg) {
        //$('#showSequenceBtn').click();

        $('.box-body.myalert').remove();
        alertHtml = '<div class="box-body myalert">' +
            '<div class="alert alert-warning aler t-dismissable">' +
            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
            '<h4><i class="icon fa fa-check"></i>Info : ' + msg + '</h4>' +
    '</div></div>';
        $('.content-modal').before(alertHtml);
    }
    $(document).ready(function () {
        //$('.modelCodeWise').hide();
        $('.attributeWise').hide();
        $('.attributeWiseReleaseQty').hide();
        $('#releaseAttributeSelected').hide("hide");


        //$('.modelCodeWiseReleaseQty').hide();


    });
    function isNumberKey(evt) {


        var charCode = (evt.which) ? evt.which : event.keyCode
        //if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {

        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
            return false;
        }
        else {
            //console.log(evt);
            //console.log(event);
            //debugger;
            var releaseQty = 0;
            var availableReleaseQty = 0;
            var typeVal = evt.key;
            if (typeVal == "" || typeVal == undefined || typeVal == null) {
                return false;
            }
            releaseQty = parseInt($("#releaseQtyVal").val());
            if (releaseQty == "" || releaseQty == undefined || releaseQty == null) {
                $("#releaseQtyVal").val(0);
                return false;
            }
            var typeVal = releaseQty;
            availableReleaseQty = $("#availablereleaseQtyVal").val();
            if (parseInt(availableReleaseQty) < parseInt(typeVal)) {
                $("#releaseQtyVal").val("")
                infoMessage("Invalid release quantity, release quantity can not be more than available release quality : " + availableReleaseQty);
                //alert(availableReleaseQty+":"+typeVal);
                debugger;
                //$("#releaseQtyVal").val(availableReleaseQty);
                return true;
            }
            else if (typeVal < 0) {
                $("#releaseQtyVal").val(0);
            }
        }
        if (evt.keyCode == 13) {
            if (isNaN(releaseQty)) {
                return false;
            }
            else {
                $('#AddReleaseQtyBtn').click();

            }

        }

        return true;
    }

    $(":input#releaseQtyVal").bind('keyup keydown mouseup paste change input cut copy focusout ', function (evt) {
        isNumberKey(evt);
        //alert();
        //debugger;
        var releaseQty = 0;
        var availableReleaseQty = 0;

        releaseQty = $("#releaseQtyVal").val();
        //if (releaseQty == "" || releaseQty == undefined || releaseQty == null) {
        //    $("#releaseQtyVal").val(0);
        //    return false;
        //}
        availableReleaseQty = $("#availablereleaseQtyVal").val();
        if (parseInt(availableReleaseQty) < parseInt(releaseQty)) {
            //$("#releaseQtyVal").val(availableReleaseQty);
            return false;
        }
        else if (releaseQty < 0) {
            //alert(0);
            $("#releaseQtyVal").val(0);
        }


    });
    $(document).on('click', '#removeAllReleaseOrd', function () {
        $(".AttributeReleaseRemoveBtn").click();
        $(".ModelReleaseRemoveBtn").click();

    });


    $(document).on('click', '#RefreshQtyBtn', function () {

        //var is_modelwise = $("#AddReleaseQtyBtn").data("is_modelwise");
        //var is_attributewise = $("#AddReleaseQtyBtn").data("is_attributewise");
        //if(is_modelwise){
        //    $("#ModelWiseBtn").click();
        //}
        //else{
        //    $("#AttributeWiseBtn").click();
        //}
        $("#releaseQtyVal").val("");
        debugger;
        $("#availablereleaseQtyVal").val(0);

        $("#releaseModelCode").val("");
        $("#releaseAttribute").val("");
        $("#releaseAttribute_atribute").val("");

        $("#releaseQtyVal").prop("disabled", true);

        $("#AddReleaseQtyBtn").data("release_qty", "");
        $("#AddReleaseQtyBtn").data("model_code", "");
        $("#AddReleaseQtyBtn").data("attribute", "");
        $("#AddReleaseQtyBtn").data("order_type", "");
        $("#AddReleaseQtyBtn").data("is_modelwise", "");
        $("#AddReleaseQtyBtn").data("is_attributewise", "");

        $("#AddReleaseQtyBtn").data("plant_orderno", "");

        $(".ModelReleaseBtn").css("background-color", "#367fa9")
        $(".ModelReleaseBtn").css("color", "white")
        $(".AttributeReleaseBtn").css("background-color", "#367fa9")
        $(".AttributeReleaseBtn").css("color", "white")

        //$(this).css("background-color","#7dd13d")
        //$(this).css("color","black")
        //if(is_modelwise){
        //    $("#ModelWiseBtn").click();
        //}
        //else{
        //    $("#AttributeWiseBtn").click();
        //}

    });
    $(document).on('click', '.ModelReleaseBtn', function () {

        //alert();
        debugger;
        var qty = 0;
        var releaseQty = 0;
        var modelcode = "";
        var attribution = "";
        var ordertype = "";
        var availableQty = 0;
        var plantOrder = 0;
        qty = $(this).parent().parent().data("qty");

        releaseQty = $(this).parent().parent().data("release_qty");
        availableQty = qty - releaseQty;
        modelcode = $(this).parent().parent().data("model_code");
        attribution = $(this).parent().parent().data("attribute");
        ordertype = $(this).parent().parent().data("order_type");
        plantOrder = $(this).parent().parent().data("plant_orderno");
        $(".modelCodeWiseTblReleaseQty tbody").find("tr").each(function () {
            var plantOrderNoRealasetbl = 0;
            var releaseqtyRealasetbl = 0;
            var modelcodeRealasetbl = "";
            var ordertypeRealasetbl = "";
            var attributeRealasetbl = "";
            plantOrderNoRealasetbl = $(this).data('plant_orderno');
            releaseqtyRealasetbl = $(this).data('release_qty');
            modelcodeRealasetbl = $(this).data('model_code');
            attributeRealasetbl = $(this).data('attribute');
            ordertypeRealasetbl = $(this).data('order_type');
            debugger;
            if (plantOrderNoRealasetbl == plantOrder && modelcodeRealasetbl == modelcode && ordertypeRealasetbl == ordertype && attributeRealasetbl == attribution) {
                releaseQty = releaseQty + releaseqtyRealasetbl;
                //alert(releaseqtyRealasetbl + " ");

            }
        });
        $("#releaseQtyVal").val(qty - releaseQty);
        //$("#releaseQtyVal").val(qty - releaseQty);
        debugger;
        $("#availablereleaseQtyVal").val(qty - releaseQty);

        $("#releaseModelCode").val(modelcode);
        $("#releaseAttribute").val(attribution);
        $("#releaseQtyVal").prop("disabled", false);

        $("#AddReleaseQtyBtn").data("release_qty", availableQty);
        $("#AddReleaseQtyBtn").data("model_code", modelcode);
        $("#AddReleaseQtyBtn").data("attribute", attribution);
        $("#AddReleaseQtyBtn").data("order_type", ordertype);
        $("#AddReleaseQtyBtn").data("is_modelwise", true);

        $("#AddReleaseQtyBtn").data("is_attributewise", false);
        $("#AddReleaseQtyBtn").data("plant_orderno", plantOrder);

        $(".ModelReleaseBtn").css("background-color", "#367fa9")
        $(".ModelReleaseBtn").css("color", "white")

        $(this).css("background-color", "#7dd13d")
        $(this).css("color", "black")
        //for setting add buttong values



    });
    $(document).on('click', '.AttributeReleaseBtn', function () {
        //alert();
        debugger;
        var qty = 0;
        var releaseQty = 0;

        var attribution = "";
        var ordertype = "";
        var availableQty = 0;
        qty = $(this).parent().parent().data("qty");

        releaseQty = $(this).parent().parent().data("release_qty");
        availableQty = qty - releaseQty;
        attribution = $(this).parent().parent().data("attribute");
        ordertype = $(this).parent().parent().data("order_type");
        $(".attributeWiseReleaseQtyTbl tbody").find("tr").each(function () {
            var releaseqtyRealasetbl = 0;
            var ordertypeRealasetbl = "";
            var attributeRealasetbl = "";
            releaseqtyRealasetbl = $(this).data('release_qty');
            attributeRealasetbl = $(this).data('attribute');
            ordertypeRealasetbl = $(this).data('order_type');
            if (ordertypeRealasetbl == ordertype && attributeRealasetbl == attribution) {
                releaseQty = releaseQty + releaseqtyRealasetbl;
                //alert(releaseqtyRealasetbl + " ");

            }
        });
        $("#releaseQtyVal").val(qty - releaseQty);
        //$("#releaseQtyVal").val(qty - releaseQty);
        debugger;
        $("#availablereleaseQtyVal").val(qty - releaseQty);

        $("#releaseAttribute_atribute").val(attribution);
        $("#releaseQtyVal").prop("disabled", false);

        $("#AddReleaseQtyBtn").data("release_qty", availableQty);
        $("#AddReleaseQtyBtn").data("attribute", attribution);
        $("#AddReleaseQtyBtn").data("order_type", ordertype);
        $("#AddReleaseQtyBtn").data("is_modelwise", false);

        $("#AddReleaseQtyBtn").data("is_attributewise", true);
        $(".AttributeReleaseBtn").css("background-color", "#367fa9")
        $(".AttributeReleaseBtn").css("color", "white")
        $(this).css("background-color", "#7dd13d")
        $(this).css("color", "black")


        //for setting add buttong values



    });
    //$(document).on('click', '.AttributeReleaseBtn', function () {
    //    var qty = 0;
    //    var releaseQty = 0;
    //    var attribution = "";


    //    releaseQty = $(this).parent().parent().data("release_qty");
    //    attribution = $(this).parent().parent().data("attribute");

    //    $("#releaseQtyVal").val(qty - releaseQty);
    //    $("#availablereleaseQtyVal").val(qty - releaseQty);

    //    $("#releaseAttribute").val(attribution);


    //    $("#releaseQtyVal").prop("disabled", false);


    //});
    ////$("#Shop_ID").on("change", function () {
    ////    refreshFields();
    ////    var Plant = $("#Plant_ID").val();
    ////    var Shop = $("#Shop_ID").val();

    ////    if (Plant.length > 0 && Shop.length > 0) {
    ////        $('#Line_ID option').remove();
    ////        $.getJSON('/OMOrderRelease/GetLineID', { Shop_id: Shop }, function (data) {
    ////            if (data.length > 0) {
    ////                $('#Line_ID option').remove();

    ////                if (data.length > 1) {
    ////                    $("#Line_ID").prepend("<option value='' selected='selected'>Select Line</option>");
    ////                    for (i = 0; i < data.length; i++) {
    ////                        $('#Line_ID').append('<option value="' +
    ////                            data[i].Line_ID + '">' + data[i].Line_Name + '</option>');
    ////                    }
    ////                } else {
    ////                    for (i = 0; i < data.length; i++) {
    ////                        $('#Line_ID').append('<option value="' +
    ////                            data[i].Line_ID + '" selected>' + data[i].Line_Name + '</option>');
    ////                    }
    ////                }
    ////                $("#Line_ID").change();
    ////            }
    ////            else {
    ////                $('#Line_ID option').remove();
    ////            }
    ////        }).fail(function (jqXHR, textStatus, errorThrown) {
    ////            $("#Shop_ID").change();
    ////        });
    ////    }
    ////}); // Shop Select Change Event End
    ////$("#Line_ID").on("change", function () {
    ////    refreshFields();
    ////    var Plant = $("#Plant_ID").val();
    ////    var Shop = $("#Shop_ID").val();
    ////    var Line = $("#Line_ID").val();


    ////    if (Plant.length > 0 && Shop.length > 0) {
    ////        $('#Platform_ID option').remove();
    ////        $.getJSON('/OMOrderRelease/GetPlatformID', { Line_id: Line, Shop_id: Shop }, function (data) {
    ////            if (data.length > 0) {
    ////                $('#Platform_ID option').remove();

    ////                if (data.length > 1) {
    ////                    $("#Platform_ID").prepend("<option value='' selected='selected'>Select Platform</option>");
    ////                    for (i = 0; i < data.length; i++) {
    ////                        $('#Platform_ID').append('<option value="' +
    ////                            data[i].Platform_ID + '">' + data[i].Platform_Name + '</option>');
    ////                    }
    ////                } else {
    ////                    for (i = 0; i < data.length; i++) {
    ////                        $('#Platform_ID').append('<option value="' +
    ////                            data[i].Platform_ID + '" selected>' + data[i].Platform_Name + '</option>');
    ////                    }
    ////                }
    ////                $("#Platform_ID").change();
    ////            }
    ////            else {
    ////                $('#Platform_ID option').remove();
    ////            }
    ////        }).fail(function (jqXHR, textStatus, errorThrown) {
    ////            $("#Shop_ID").change();
    ////        });
    ////    }
    ////}); // Shop Select Change Event End

    $("#Shop_ID").on("change", function () {
        refreshFields();
        var Plant = $("#Plant_ID").val();
        var Shop = $("#Shop_ID").val();

        if (Plant.length > 0 && Shop.length > 0) {
            $('#Line_ID option').remove();
            $('#Platform_ID option').remove();
            $('#Order_Type option').remove();
            $.getJSON('/OMOrderRelease/GetLineID', { Shop_id: Shop }, function (data) {
                if (data.length > 0) {
                    $('#Line_ID option').remove();
                    $('#Platform_ID option').remove();
                    $('#Order_Type option').remove();
                    if (data.length > 0) {
                        $("#Line_ID").prepend("<option value='' selected='selected'>Select Line</option>");
                        for (i = 0; i < data.length; i++) {
                            $('#Line_ID').append('<option value="' +
                                data[i].Line_ID + '">' + data[i].Line_Name + '</option>');
                        }
                    }
                    //else {
                    //    for (i = 0; i < data.length; i++) {
                    //        $('#Line_ID').append('<option value="' +
                    //            data[i].Line_ID + '" selected>' + data[i].Line_Name + '</option>');
                    //    }
                   // }
                   // $("#Line_ID").change();
                }
                else {
                    $('#Line_ID option').remove();
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                $("#Shop_ID").change();
            });
        }
        else
        {
            $('#Line_ID option').remove();
            $('#Platform_ID option').remove();
            $('#Order_Type option').remove();
        }
    }); // Shop Select Change Event End


    $("#Line_ID").on("change", function () {
       
        var Plant = $("#Plant_ID").val();
        var Shop = $("#Shop_ID").val();
        var Line = $("#Line_ID").val();

        if (Plant.length > 0 && Shop.length > 0 && Line.length > 0) {
            $('#Platform_ID option').remove();
            $.getJSON('/OMOrderRelease/GetPlatformID', { Shop_id: Shop, Line_id: Line }, function (data) {
                if (data.length > 0) {
                    $('#Platform_ID option').remove();

                    if (data.length > 0) {
                        $("#Platform_ID").prepend("<option value='' selected='selected'>Select Platform</option>");
                        for (i = 0; i < data.length; i++) {
                            $('#Platform_ID').append('<option value="' +
                                data[i].Platform_ID + '">' + data[i].Platform_Name + '</option>');
                        }
                    }
                    //else {
                    //    for (i = 0; i < data.length; i++) {
                    //        $('#Platform_ID').append('<option value="' +
                    //            data[i].Platform_ID + '" selected>' + data[i].Platform_Name + '</option>');
                    //    }
                    //}
                    //$("#Platform_ID").change();
                }
                else {
                    $('#Platform_ID option').remove();
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                $("#Line_ID").change();
            });
        }
        else {
            $('#Platform_ID option').remove();
            $('#Order_Type option').remove();
        }
    }); // Line Select Change Event End

    $("#Platform_ID").on("change", function () {

        var Plant = $("#Plant_ID").val();
        var Shop = $("#Shop_ID").val();
        var Line = $("#Line_ID").val();

        var platformId = $('#Platform_ID').val();

        if (Plant.length > 0 && Shop.length) {
            $.getJSON('/OMOrderRelease/getOrderType', { Shop_id: Shop }, function (data) {
                if (data.length > 0) {
                    $('#Order_Type option').remove();

                    if (data.length > 1) {
                        $("#Order_Type").prepend("<option value='' selected='selected'>Select Order Type</option>");
                        for (i = 0; i < data.length; i++) {
                            $('#Order_Type').append('<option value="' +
                                data[i].Order_Type_ID + '">' + data[i].Order_Type_Name + '</option>');
                        }
                    } else {
                        for (i = 0; i < data.length; i++) {
                            $('#Order_Type').append('<option value="' +
                                data[i].Order_Type_ID + '" selected>' + data[i].Order_Type_Name + '</option>');
                        }
                    }
                    $("#Order_Type").change();
                }
                else {
                    $('#Order_Type option').remove();
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {

                $("#Order_Type_ID").change();
            });
        } else {
            infoMessage("please select platform");
        }
    });
    function refreshFields() {
        $('#Line_ID option').remove();
        $('#Line_ID').append('<option value="">' + $('#select_Line').val() + '</option>')
        $('#Line_ID').removeClass('input-validation-error');
        $('#Line_ID').next().text('');

        $('#Platform_ID option').remove();
        $('#Platform_ID').append('<option value="">' + $('#Select_Platform').val() + '</option>')
        $('#Platform_ID').removeClass('input-validation-error');
        $('#Platform_ID').next().text('');

        $('#Order_Type option').remove();
        $('#Order_Type').append('<option value="">' + $('#Select_Station').val() + '</option>');
        $('#Order_Type').removeClass('input-validation-error');
        $('#Order_Type').next().text('');
    }
    ////for getting data
    ////$("#ReleaseQtyBtn_2").parent().parent().data("model_code");

    $('#ModelWiseBtn').on('click', function () {
        debugger;
        $('.modelCodeWise').show();
        $('.attributeWise').hide();
        $('#releaseAttributeSelected').hide();
        $('#releaseModelCodeSelected').show();

        $('.modelCodeWiseReleaseQty').show();
        $('.attributeWiseReleaseQty').hide();

        var Plant = $("#Plant_ID").val();
        var Shop = $("#Shop_ID").val();
        var Line = $("#Line_ID").val();

        var platformId = $('#Platform_ID').val();
        var orderType = $('#Order_Type').val();
        validateParameter();
        if (Plant.length > 0 && Shop.length && platformId.length > 0 && Line.length>0 && orderType.length > 0) {
            $('.modelCodeWiseTbl tbody tr').remove();
            LoadBegin();

            $.getJSON('/OMOrderRelease/getOrderByModel', { Shop_id: Shop, Line_Id: Line, Platform_ID: platformId, OrderType: orderType }, function (data) {
                LoadComplete();
                if (data.length > 0) {
                    var tr = "";
                    for (var i = 0; i < data.length; i++) {
                        tr += '<tr data-Model_Code="' + data[i].Model_Code + '" data-Order_Type="' + data[i].Order_Type + '" data-Qty="' + data[i].Qty + '" data-Release_Qty="' + data[i].Release_Qty + '" data-Attribute="' + data[i].Attribute + '" data-Plant_OrderNo="' + data[i].Plant_OrderNo + '"><td> ' + data[i].Model_Code + ' </td> <td> ' + data[i].Order_Type + ' </td> <td> ' + data[i].Qty + ' </td> <td> ' + data[i].Release_Qty + ' </td> <td> ' + data[i].Attribute + ' </td><td> ' + data[i].Plant_OrderNo + ' </td> <td> <button  id="ReleaseQtyBtn_' + data[i].Plant_OrderNo + '" class="btn btn-primary ModelReleaseBtn"><i class="fa fa-edit" "></i></button> </td> </tr>';
                    }
                    $('.modelCodeWiseTbl').append(tr);
                }
                else {
                    var tr = "'<tr><td colspan='7' style='text-align:center;'>NO ORDERS AVAILABLE</td></tr>";
                    $('.modelCodeWiseTbl').append(tr);
                    //infoMessage("No Orders Availabe");
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                errorMessage("Error occured while getting data from server");


            });
        } else {
            infoMessage("No Orders Available. Please create order");
        }


    });
    $(document).on('click', '.ModelReleaseRemoveBtn', function () {
        //alert();
        debugger;

        var releaseQty = $(this).parent().parent().data("release_qty");
        var availableQty = parseInt($('#availablereleaseQtyVal').val());
        debugger;
        $('#availablereleaseQtyVal').val(availableQty + releaseQty);
        $('#releaseQtyVal').val("")
        //$('#releaseQtyVal').val(availableQty + releaseQty);

        $(this).parent().parent().remove();
    });
    $(document).on('click', '.AttributeReleaseRemoveBtn', function () {
        //alert();
        debugger;

        var releaseQty = $(this).parent().parent().data("release_qty");
        var availableQty = parseInt($('#availablereleaseQtyVal').val());
        debugger;
        $('#availablereleaseQtyVal').val(availableQty + releaseQty);
        $('#releaseQtyVal').val(availableQty + releaseQty)
        $(this).parent().parent().remove();
    });

    $('#AddReleaseQtyBtn').on('click', function () {
        //alert();
        debugger;
        var qty = 0;
        var releaseQty = 0;
        var modelcode = "";
        var attribution = "";
        var ordertype = "";
        var availableQty = 0;
        var plantOrder = 0;
        var rqty = $("#releaseQtyVal").val();
        var releaseQtyVal = parseInt(rqty);
        var availabelreleaseQtyVal = $("#availablereleaseQtyVal").val();
        var is_modelwise = $("#AddReleaseQtyBtn").data("is_modelwise");

        var is_attributewise = $("#AddReleaseQtyBtn").data("is_attributewise");
        if (is_modelwise || is_attributewise) {
            if (releaseQtyVal == NaN) {
                return false;
            }
            if (releaseQtyVal > 0) {
                if (!(availabelreleaseQtyVal >= releaseQtyVal)) {
                    infoMessage("Release quanity can not be more than avaiable quantity: " + availabelreleaseQtyVal);
                    return false;
                }
            }
            else {
                infoMessage("Please enter release Quality first");
                return false;
            }

        }
        else {
            infoMessage("Please select order first");
            return false;
        }


        if (is_modelwise) {

            releaseQty = $("#AddReleaseQtyBtn").data("release_qty");
            modelcode = $("#AddReleaseQtyBtn").data("model_code");
            attribution = $("#AddReleaseQtyBtn").data("attribute");
            ordertype = $("#AddReleaseQtyBtn").data("order_type");

            plantOrder = $("#AddReleaseQtyBtn").data("plant_orderno");

            var tr = "";

            tr += '<tr data-Model_Code="' + modelcode + '" data-Order_Type="' + ordertype + '" data-Release_Qty="' + releaseQtyVal + '" data-Attribute="' + attribution + '" data-Plant_OrderNo="' + plantOrder + '"><td> <img class="loading" src="@(Url.Content("/Content/images/loading/added.png"))"/> </td><td> ' + modelcode + ' </td><td> ' + ordertype + ' </td><td> ' + releaseQtyVal + ' </td><td> ' + attribution + ' </td><td> ' + plantOrder + ' </td><td> <button  class="btn btn-primary ModelReleaseRemoveBtn"><i class="fa fa-trash" "></i></button> </td> </tr>';

            $('.modelCodeWiseTblReleaseQty').append(tr);
            debugger;
            $("#availablereleaseQtyVal").val(availabelreleaseQtyVal - releaseQtyVal);
            $("#releaseQtyVal").val("")
        }
        else if (is_attributewise) {
            releaseQty = $("#AddReleaseQtyBtn").data("release_qty");
            attribution = $("#AddReleaseQtyBtn").data("attribute");
            ordertype = $("#AddReleaseQtyBtn").data("order_type");
            var tr = "";

            tr += '<tr data-Attribute="' + attribution + '" data-Order_Type="' + ordertype + '" data-Release_Qty="' + releaseQtyVal + '" ><td> <img class="loading" src="@(Url.Content("/Content/images/loading/added.png"))"/>  </td><td> ' + attribution + ' </td><td> ' + ordertype + ' </td><td> ' + releaseQtyVal + ' </td><td> <button  class="btn btn-primary AttributeReleaseRemoveBtn"><i class="fa fa-trash" "></i></button> </td> </tr>';

            $('.attributeWiseReleaseQtyTbl').append(tr);
            debugger;
            $("#availablereleaseQtyVal").val(availabelreleaseQtyVal - releaseQtyVal);
            $("#releaseQtyVal").val("")
        }



    });


    $('#AttributeWiseBtn').on('click', function () {
        debugger;

        $('.attributeWise').show();
        $('.modelCodeWise').hide();

        $('#releaseModelCodeSelected').hide();
        $('#releaseAttributeSelected').show();
        $('.modelCodeWiseReleaseQty').hide();
        $('.attributeWiseReleaseQty').show();

        var Plant = $("#Plant_ID").val();
        var Shop = $("#Shop_ID").val();
        var Line= $("#Line_ID").val();

        var platformId = $('#Platform_ID').val();
        var orderType = $('#Order_Type').val();
        validateParameter();
        if (Plant.length > 0 && Shop.length && platformId.length > 0 && Line.length>0 && orderType.length > 0) {
            $('.attributeWiseTbl tbody tr').remove();
            LoadBegin();

            $.getJSON('/OMOrderRelease/getOrderByAttribute', { Shop_id: Shop, Line_id: Line, Platform_ID: platformId, OrderType: orderType }, function (data) {
                debugger;
                LoadComplete();
                if (data.length > 0) {
                    var tr = "";
                    for (var i = 0; i < data.length; i++) {
                        tr += '<tr data-Attribute="' + data[i].Attribute + '" data-Order_Type="' + data[i].Order_Type + '" data-Qty="' + data[i].Qty + '" data-Release_Qty="' + data[i].Release_Qty + '"><td> ' + data[i].Attribute + ' </td> <td> ' + data[i].Order_Type + ' </td> <td> ' + data[i].Qty + ' </td> <td> ' + data[i].Release_Qty + ' </td> <td> <button  class="btn btn-primary AttributeReleaseBtn" ><i class="fa fa-edit"></i></button> </td> </tr>';
                    }
                    $('.attributeWiseTbl').append(tr);
                }
                else {
                    var tr = "'<tr><td colspan='5' style='text-align:center;'>NO ORDERS AVAILABLE</td></tr>";
                    $('.attributeWiseTbl').append(tr);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {

                errorMessage("Error occured while connecting to server");


            });


        } else {
            errorMessage("No Orders Available. Please create order");
        }
    });

    $(document).on('click', '#ModelWiseReleaseBtn', function () {
        //alert("inseide release");
        debugger;
        var Plant = $("#Plant_ID").val();
        var Shop = $("#Shop_ID").val();
        var Line = $("#Line_ID").val();

        var platformId = $('#Platform_ID').val();
        var orderType = $('#Order_Type').val();
        validateParameter();
        if (Plant.length > 0 && Shop.length && platformId.length > 0 && Line.length>0 && orderType.length > 0) {
            var dataModal = [];
            $(".modelCodeWiseTblReleaseQty tbody").find("tr").each(function () {
                $(this).find("td").eq(0).html('<img class="loading" src="@(Url.Content("/Content/images/loading/loading_inprogress.gif"))"/>')
                var plantOrderNo = 0;
                var releaseqty = 0;
                var modelcode = "";
                var ordertype = "";
                var attribute = "";

                plantOrderNo = $(this).data('plant_orderno');
                releaseqty = $(this).data('release_qty');
                modelcode = $(this).data('model_code');
                attribute = $(this).data('attribute');

                dataModal.push({
                    Plant_OrderNo: plantOrderNo,
                    Release_Qty: $(this).data('release_qty'),
                    Model_Code: $(this).data('model_code'),
                    Order_Type: $(this).data('order_type'),
                    Attribute: $(this).data('attribute'),
                });

            });

            var dtamodel1 = JSON.stringify(dataModal);

            if (!(dataModal.length > 0)) {
                infoMessage("Please Add Orders Before Release");
                return false;
            }

            //for creating orders
            $("#ModelWiseReleaseBtn").prop('disabled', true);

           // var url = '<%= UrlHelper.Action("CreateReleaseModelOrders", "OMOrderRelease") %>';
            $.ajax({ // create an AJAX call...
                data: { Shop_id: Shop, Line_Id: Line, Platform_ID: platformId, OrderType: orderType, orderData: dtamodel1 }, // get the form data
                type: 'POST', // GET or POST
                url: '/OMOrderRelease/CreateReleaseModelOrders',  // the file to call

                //contentType: false,  // tell jQuery not to set contentType
                success: function (data) { // on success..
                    debugger;
                    var jCount = 0;
                    for (var i = 0; i < data.length; i++) {
                        for (var j = jCount; j < dataModal.length; j++) {
                            console.log("data:" + data[i].Plant_OrderNo + " modal" + dataModal[j].Plant_OrderNo)
                            if (data[i].Plant_OrderNo == dataModal[j].Plant_OrderNo && data[i].Model_Code == dataModal[j].Model_Code && data[i].Attribute == dataModal[j].Attribute && data[i].Order_Type == dataModal[j].Order_Type) {
                                if (data[i].is_added) {
                                    if (data[i].Release_Qty == dataModal[j].Release_Qty) {
                                        $(".modelCodeWiseTblReleaseQty tbody").find("tr").eq(j).find("td").eq(0).html('<img class="loading" src="@(Url.Content("/Content/images/loading/done.png"))"/>');
                                        jCount = j + 1;
                                        infoMessage("added");
                                        break;
                                    }
                                    else if (data[i].Release_Qty < dataModal[j].Release_Qty) {
                                        jCount = j + 1;
                                        infoMessage("only " + data[i].Release_Qty + " created from " + dataModal[j].Release_Qty + " with model code " + dataModal[j].Model_Code);
                                        break;
                                    }
                                }
                            }
                        }
                    }
                    successMessage("Orders created successfuly")
                    $("#ModelWiseBtn").click();

                },
                async: false,
                error: function (jqXHR, exception) {

                    if (jqXHR.status === 0) {
                        //                alert('Not connect.\nVerify Network.');
                    } else if (jqXHR.status == 404) {
                        alert('Requested page not found. [404]');
                    } else if (jqXHR.status == 500) {
                        alert('Internal Server Error [500].');
                    } else if (exception === 'parsererror') {
                        alert('Requested JSON parse failed.');
                    } else if (exception === 'timeout') {
                        alert('Time out error.');
                    } else if (exception === 'abort') {
                        alert('Ajax request aborted.');
                    } else {
                        alert('Uncaught Error.\n' + jqXHR.responseText);
                    }
                }
            });


            //$.getJSON('/OMOrderRelease/CreateReleaseModelOrders', { Shop_id: Shop, Platform_ID: platformId, OrderType: orderType, orderData: dtamodel1 }, function (data) {

            //    if (data) {
            //        debugger;
            //                        }
            //    else {
            //        errorMessage("Error Connecting to server");
            //    }
            //}).fail(function (jqXHR, textStatus, errorThrown) {
            //    debugger;
            //    errorMessage("Error Connecting to server");
            //    $("#ModelWiseBtn").click();


            //});


        }
        console.log(dataModal)

    });
    $(document).on('click', '#attributeWiseReleaseBtn', function () {
        //alert("inseide release");
        debugger;
        var Plant = $("#Plant_ID").val();
        var Shop = $("#Shop_ID").val();
        var Line= $("#Line_ID").val();
        var platformId = $('#Platform_ID').val();
        var orderType = $('#Order_Type').val();
        if (Plant.length > 0 && Shop.length && platformId.length > 0 && orderType.length > 0) {
            var dataModal = [];
            $(".attributeWiseReleaseQtyTbl tbody").find("tr").each(function () {
                $(this).find("td").eq(0).html('<img class="loading" src="@(Url.Content("/Content/images/loading/loading_inprogress.gif"))"/>')

                var releaseqty = 0;
                var ordertype = "";
                var attribute = "";
                releaseqty = $(this).data('release_qty');
                attribute = $(this).data('attribute');

                dataModal.push({
                    Release_Qty: $(this).data('release_qty'),
                    Order_Type: $(this).data('order_type'),
                    Attribute: $(this).data('attribute'),
                });

            });
            if (!(dataModal.length > 0)) {
                infoMessage("Please Add Orders Before Release");
                return false;
            }


            var dtamodel1 = JSON.stringify(dataModal);

            //for creating orders
            $("#attributeWiseReleaseBtn").prop('disabled', true);

            $.ajax({ // create an AJAX call...
                data: { Shop_id: Shop, Line_Id: Line, Platform_ID: platformId, OrderType: orderType, orderData: dtamodel1 }, // get the form data
                type: 'POST', // GET or POST
                url: '/OMOrderRelease/CreateReleaseAttributeWiseOrders',  // the file to call

                //contentType: false,  // tell jQuery not to set contentType
                success: function (data) { // on success..
                    debugger;

                    var jCount = 0;

                    for (var i = 0; i < data.length; i++) {
                        for (var j = jCount; j < dataModal.length; j++) {
                            //console.log("data:"+data[i].Plant_OrderNo+" modal"+dataModal[j].Plant_OrderNo)
                            if (data[i].Attribute == dataModal[j].Attribute && data[i].Order_Type == dataModal[j].Order_Type) {
                                if (data[i].is_added) {
                                    if (data[i].Release_Qty_Create == dataModal[j].Release_Qty) {
                                        $(".attributeWiseReleaseQtyTbl tbody").find("tr").eq(j).find("td").eq(0).html('<img class="loading" src="@(Url.Content("/Content/images/loading/done.png"))"/>');
                                        //infoMessage("Added ");
                                        jCount = j + 1;

                                        break;
                                    }
                                    else if (data[i].Release_Qty_Create < dataModal[j].Release_Qty) {
                                        infoMessage("only " + data[i].Release_Qty + " created from " + dataModal[j].Release_Qty + " with model code " + dataModal[j].Attribute);
                                        jCount = j + 1;

                                        break;
                                    }
                                }
                            }
                        }
                    }
                    successMessage("Orders created successfuly")
                    $("#AttributeWiseBtn").click();


                },
                async: false,
                error: function (jqXHR, exception) {

                    if (jqXHR.status === 0) {
                        //                alert('Not connect.\nVerify Network.');
                    } else if (jqXHR.status == 404) {
                        alert('Requested page not found. [404]');
                    } else if (jqXHR.status == 500) {
                        alert('Internal Server Error [500].');
                    } else if (exception === 'parsererror') {
                        alert('Requested JSON parse failed.');
                    } else if (exception === 'timeout') {
                        alert('Time out error.');
                    } else if (exception === 'abort') {
                        alert('Ajax request aborted.');
                    } else {
                        alert('Uncaught Error.\n' + jqXHR.responseText);
                    }
                }
            });



            @*$.getJSON('/OMOrderRelease/CreateReleaseAttributeWiseOrders', { Shop_id: Shop, Platform_ID: platformId, OrderType: orderType, orderData: JSON.stringify(dataModal) }, function (data) {
                console.log(data);

                if (data) {
                    debugger;
                    var jCount = 0;

                    for (var i = 0; i < data.length; i++) {
                        for (var j = jCount; j < dataModal.length; j++) {
                            //console.log("data:"+data[i].Plant_OrderNo+" modal"+dataModal[j].Plant_OrderNo)
                            if (data[i].Attribute == dataModal[j].Attribute && data[i].Order_Type == dataModal[j].Order_Type) {
                                if (data[i].is_added) {
                                    if (data[i].Release_Qty_Create == dataModal[j].Release_Qty) {
                                        $(".attributeWiseReleaseQtyTbl tbody").find("tr").eq(j).find("td").eq(0).html('<img class="loading" src="@(Url.Content("/Content/images/loading/done.png"))"/>');
                                        //infoMessage("Added ");
                                        jCount = j + 1;

                                        break;
                                    }
                                    else if (data[i].Release_Qty_Create < dataModal[j].Release_Qty) {
                                        infoMessage("only " + data[i].Release_Qty + " created from " + dataModal[j].Release_Qty + " with model code " + dataModal[j].Attribute);
                                        jCount = j + 1;

                                        break;
                                    }
                                }
                            }
                        }
                    }
                    successMessage("Orders created successfuly")
                    $("#AttributeWiseBtn").click();
                }
                else {
                    alert("success");
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert("success")
                $("#AttributeWiseBtn").click();


            });*@


        }
        console.log(dataModal)

    });
    $(document).on('click', '#removeReleaseOrderBtn', function () {
        //alert("inseide release");
        debugger;

        var Plant = $("#Plant_ID").val();
        var Shop = $("#Shop_ID").val();
        var Line = $("#Line_ID").val();
        var platformId = $('#Platform_ID').val();
        var orderType = $('#Order_Type').val();
        if (Plant.length > 0 && Shop.length && platformId.length > 0 && Line.length>0 && orderType.length > 0) {
            var dataModal = [];
            $(".releaseOrdertbl tbody").find("tr.selected").each(function () {

                rowId = $(this).data('rowid');
                orderNo = $(this).data('orderno');
                dataModal.push({
                    rowId: rowId,
                    orderNo: orderNo,

                });



            });
            if (!(dataModal.length > 0)) {
                infoMessageModal("Please selected orders to delete");
                return false;
            }
            //for creating orders
            $.getJSON('/OMOrderRelease/RemoveReleaseOrders', { Shop_id: Shop, Line_Id: Line , Platform_ID: platformId, OrderType: orderType, orderData: JSON.stringify(dataModal) }, function (data) {
                if (data) {
                    //alert();
                    debugger;
                    //if (!(data.length > 0)) {
                    //    if (!data.is_Deleted) {
                    //        errorMessageModal(data.msg + "  : " + data.order_No);
                    //    }
                    //}
                    //else {
                        $('.releaseOrdertbl tbody tr').remove();
                        if (Plant.length > 0 && Line.length > 0 && Shop.length > 0 && platformId.length > 0 && orderType.length > 0) {

                            LoadBeginReleaseModal();

                            $.getJSON('/OMOrderRelease/getRealeasedOrders', { Shop_id: Shop,Line_id:Line, Platform_ID: platformId, OrderType: orderType }, function (data) {
                                LoadCompleteReleaseModal();
                                if (data.length > 0) {
                                    var tr = "";
                                    var index = 1;
                                    for (var i = 0; i < data.length; i++) {
                                        var is_NoVin = "";
                                        if (data[i].isNOVin == true) {
                                            is_NoVin = "checked";
                                        }

                                        tr += '<tr data-orderno="' + data[i].Order_No + '" data-rowid="' + data[i].Row_ID + '"><td>' + index + ' </td> <td class="noVin"><input type="checkbox" class="noVinChkBox" ' + is_NoVin + '></td> <td>' + data[i].Plant_OrderNo + ' </td> <td>' + data[i].Order_No + ' </td> <td>' + data[i].IPMS_Color_Code + ' </td> <td>' + data[i].Model_Code + ' </td> <td>' + data[i].Model_Description + ' </td> <td>' + data[i].Auto_Remarks + ' </td><td>' + data[i].BIW_Part_No + ' </td> </tr>';
                                        index++;
                                    }
                                    $('.releaseOrdertbl').append(tr);
                                }
                                else {
                                    infoMessageModal("No Orders Availabe");
                                }
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                errorMessageModal("Error occured while getting data from server");


                            });
                        } else {
                            infoMessageModal("No Orders Available.");
                        }

                        //$("#ShowReleaseOrdersBtn").click();
                        //$("#ShowReleaseOrdersBtn").click();


                        successMessageModal("Orders removed successfully")
                    //}
                }
                else {
                    alert("No data received from server");
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                errorMessageModal("Error Connecting to server");
            });


        }
        console.log(dataModal)

    });

    $(document).on('click', '#saveReleaseOrderBtn', function () {
        //alert("inseide release");
        debugger;
        var Plant = $("#Plant_ID").val();
        var Shop = $("#Shop_ID").val();
        var Line = $("#Line_ID").val();
        var platformId = $('#Platform_ID').val();
        var orderType = $('#Order_Type').val();
        if (Plant.length > 0 && Shop.length && platformId.length > 0 && Line.length>0 && orderType.length > 0) {
            debugger;
            var dataModal = [];
            $('.noVinChkBox:checkbox:checked').each(function () {
                var rowId = $(this).closest("tr").data("rowid");
                var orderNo = $(this).closest("tr").data("orderno");
                dataModal.push({
                    rowId: rowId,
                    orderNo: orderNo,
                });


            });
            if (!(dataModal.length > 0)) {
                infoMessageModal("Please Add Orders Before Release");
                return false;
            }
            //$('.noVinChkBox:checkbox:checked').each(function () {

            //   var rowId = (this).closest("tr").data("rowid");
            //  var  orderNo = (this).closest("tr").data('orderno');



            //});
            //for creating orders
            $.getJSON('/OMOrderRelease/updateNoVINStatus', { Shop_id: Shop, Line_id: Line, Platform_ID: platformId, OrderType: orderType, orderData: JSON.stringify(dataModal) }, function (data) {
                if (data) {
                    console.log(data);
                    $('.releaseOrdertbl tbody tr').remove();
                    if (Plant.length > 0 && Shop.length && platformId.length > 0 && orderType.length > 0) {

                        LoadBeginReleaseModal();

                        $.getJSON('/OMOrderRelease/getRealeasedOrders', { Shop_id: Shop, Line_id: Line , Platform_ID: platformId, OrderType: orderType }, function (data) {
                            LoadCompleteReleaseModal();
                            if (data.length > 0) {
                                var tr = "";
                                var index = 1;
                                for (var i = 0; i < data.length; i++) {
                                    var is_NoVin = "";
                                    if (data[i].isNOVin == true) {
                                        is_NoVin = "checked";
                                    }

                                    tr += '<tr data-orderno="' + data[i].Order_No + '" data-rowid="' + data[i].Row_ID + '"><td>' + index + ' </td> <td class="noVin"><input type="checkbox" class="noVinChkBox" ' + is_NoVin + '></td> <td>' + data[i].Plant_OrderNo + ' </td> <td>' + data[i].Order_No + ' </td> <td>' + data[i].IPMS_Color_Code + ' </td> <td>' + data[i].Model_Code + ' </td> <td>' + data[i].Model_Description + ' </td> <td>' + data[i].Auto_Remarks + ' </td><td>' + data[i].BIW_Part_No + ' </td> </tr>';
                                    index++;
                                }
                                $('.releaseOrdertbl').append(tr);
                            }
                            else {
                                infoMessageModal("No Orders Availabe");
                            }
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            errorMessageModal("Error occured while getting data from server");


                        });
                    } else {
                        infoMessageModal("No Orders Available. Please create order");
                    }

                    //$("#ShowReleaseOrdersBtn").click();
                    //$("#ShowReleaseOrdersBtn").click();


                }
                else {
                    $("#ShowReleaseOrdersBtn").click();
                    //$("#ShowReleaseOrdersBtn").click();

                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                errorMessageModal("Error Connecting to server");
            });


        }
        console.log(dataModal)

    });

</script>
