@model REIN_MES_System.Models.RS_MT_Clita_Station_Machines

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}



<div>
    
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.RS_Plants.Plant_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Plants.Plant_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Shops.Shop_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Shops.Shop_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Lines.Line_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Lines.Line_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_MT_Machines.Machine_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_MT_Machines.Machine_Number)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.RS_Stations.Station_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Stations.Station_Name)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Is_Transfered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Transfered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Purgeable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Purgeable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inserted_Host)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inserted_Host)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inserted_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inserted_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_Host)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_Host)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Employee.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Employee.Employee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Employee1.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Employee1.Employee_Name)
        </dd>*@


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CSM_ID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Show All", "Index", null, new { @class="btn btn-primary"})
</p>
