@model IEnumerable<REIN_MES_System.Models.RS_MT_Clita_Station_Machines>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

@*<h3> Add Machine to Station for CLITA</h3>*@

<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-striped datatable_completes table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Plant Name")
            </th>
            <th>
                @Html.DisplayName("Shop Name")
            </th>
            <th>
                @Html.DisplayName("Line Name")
            </th>
            <th>
                @Html.DisplayName("Station Name")
            </th>

            <th>
                @Html.DisplayName("Machine Number")
            </th>
            <th>
                @Html.DisplayName("Employee Name")
            </th>




            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RS_Plants.Plant_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RS_Shops.Shop_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RS_Lines.Line_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RS_Stations.Station_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RS_MT_Machines.Machine_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RS_Employee.Employee_Name)
                </td>

                <td>
                    <a href="@Url.Action("Edit", "ClitaStationMachines", new { id = item.CSM_ID
                    })"><i class="fa fa-edit"></i></a> &nbsp;&nbsp;
                    <a href="@Url.Action("Details", "ClitaStationMachines", new { id = item.CSM_ID })"><i class="fa fa-fw fa-laptop"></i></a> &nbsp;&nbsp;
                    <a href="@Url.Action("Delete", "ClitaStationMachines", new { id = item.CSM_ID })"><i class="fa fa-trash"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>
