@model IEnumerable<REIN_MES_System.Models.RS_Model_Master>
@using REIN_MES_System.Models
@using REIN_MES_System.App_LocalResources
@using REIN_MES_System.custom_Helper;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
    var globalData = (REIN_MES_System.Models.GlobalData)ViewData["GlobalDataModel"];
    REIN_SOLUTIONEntities db = new REIN_SOLUTIONEntities();


    // IEnumerable<RS_OM_Configuration> omConfigue = null;

}

@*<p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>*@
<p class="position_absolute">

    <a href="@Url.Action("Create", "NewModelMaster")" class="btn btn-social btn-linkedin"><i class="fa fa-fw fa-plus-circle"></i> @ResourceGlobal.Create_New</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped datatable_completes">
        <thead>
            <tr>
                @*<th>
                        @Html.DisplayName("Plant Name")
                    </th>*@
                <th>
                    @Html.DisplayName("Shop Name")
                </th>
                <th>
                    @Html.DisplayName("Model Code")
                </th>
                <th>
                    @Html.DisplayName("Model Description")
                </th>
                @*<th>
                    @Html.DisplayName("Vin Code")
                </th>*@
                <th>
            @Html.DisplayName("Biw Part No")
                </th>
                <th>
                    @Html.DisplayName("Style Code")
                </th>
                <th>
                    @Html.DisplayName("Auto Remarks")
                </th>
                <th>
                    @Html.DisplayName("Platform")
                </th>
                @*<th>
                    @Html.DisplayName("Color Check")
                </th>*@
                <th>
                    @Html.DisplayName("Action")
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
            {

            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.RS_Plants.Plant_Name)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.RS_Shops.Shop_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model_Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model_Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BIW_Part_No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Style_Code)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.VIN_Code)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Auto_Remarks)
                </td>
                <td>
                    @{
                        var PlatfromName = db.RS_OM_Platform.Where(m => m.Plant_ID == item.Plant_ID && m.Platform_ID == item.Platform_Id).Select(m => m.Platform_Name).FirstOrDefault();
                        if (PlatfromName != null)
                        {
                            @Html.DisplayName(PlatfromName)
                        }

                    }
                  
                </td>
                @*<td>
                    @Html.YesNo(Convert.ToBoolean(item.Color_Code))
                </td>*@
                <td>
                    <a href="@Url.Action("Edit", "NewModelMaster", new { id = item.Model_ID + "/"})"><i class="fa fa-edit" style="color:blue"></i></a>
                        @*<a href="@Url.Action("Details", "NewModelMaster", new { id = item.Model_ID + "/"})"><i class="fa fa-fw fa-laptop"></i></a>*@
                        <a href="@Url.Action("Delete", "NewModelMaster", new { id = item.Model_ID + "/" })"><i class="fa fa-trash" style="color:red"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
@section scripts {
    @Scripts.Render("~/Content/theme/plugins/datatables/js")
    @Styles.Render("~/Content/theme/plugins/datatables/css")
    @Scripts.Render("~/Scripts/user_datatable")
}






