@model IEnumerable<REIN_MES_System.Models.RS_MT_Preventive_Equipment>

@{

    REIN_MES_System.Models.REIN_SOLUTION_MEntities db = new REIN_MES_System.Models.REIN_SOLUTION_MEntities();
    ViewBag.Title = "ShowMachineTBM";
    Layout = "~/Views/Shared/WithoutSideBarNoMenu/_Layout.cshtml";
    var globalData = (REIN_MES_System.Models.GlobalData)ViewData["GlobalDataModel"];
}
<style>
    .modal-dialog {
        width: 80%;
        height: 100%;
        margin-left: 10%;
        overflow-y: auto;
    }

    .modal-header {
        margin-top: 0%;
        background-color: brown;
    }

    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>
@Styles.Render("~/Content/datepickercss")
<div class="row" id="MinorStoppagesCycleContainer" style="margin-top:1%">
    <div class="col-md-12">
        @{ if (globalData != null)
            {
                if (globalData.isErrorMessage == true || globalData.isSuccessMessage == true || globalData.isAlertMessage == true)
                {
                    <div class="box-body">
                        @{
                            if (globalData != null)
                            {
                                <div class="alert @{ if (globalData.isErrorMessage == true) { <text>alert-danger</text>}
                                                 else if (globalData.isSuccessMessage == true){ <text>alert-info</text>}
                                                 else if (globalData.isAlertMessage == true){<text>alert-warning</text>} } alert-dismissable" @{ if ((globalData.isErrorMessage == true) || (globalData.isSuccessMessage == true) || (globalData.isAlertMessage == true)) { <text> style="display:block;" </text>  } else { <text> style="display:none;" </text>  } }>
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4>
                                        <i class="icon fa @{ if (globalData.isErrorMessage == true) { <text>fa-ban</text>}
                                                 else if (globalData.isSuccessMessage == true){ <text>fa-check</text>}
                                                 else if (globalData.isAlertMessage == true){<text>fa-warning</text>} }"></i> @globalData.messageTitle
                                            </h4>
                                            @globalData.messageDetail
                                        </div>
                                    }
                        }
                    </div>
                }
            }
        }
        <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs"  style="position:fixed;z-index:1000">
                @if (ViewBag.MachineList != null)
                {
                    int i = 0;
                    foreach (var machineObj in ViewBag.MachineList)
                    {
                        i++;
                        if (i == 1)
                        {
                            <li class="active"><a href="#machine_@machineObj.Machine_ID" data-target-tab="machine_@machineObj.Machine_ID" data-machineid="@machineObj.Machine_ID" data-toggle="tab" class="machine-tab">@machineObj.Machine_Name</a></li>
                        }
                        else
                        {
                            <li><a href="#machine_@machineObj.Machine_ID" data-target-tab="machine_@machineObj.Machine_ID" data-machineid="@machineObj.Machine_ID" data-toggle="tab" class="machine-tab">@machineObj.Machine_Name</a></li>
                        }
                        @*<li style="width:60%"><span id="ConfigStatus" style="font-size:20px;color:red;font-weight:bold"></span></li>*@
                            <li style="width:21%;margin-left:80%;float:right;position:fixed"><span style="font-size:18px;font-weight:bold">Machine Status : </span><span id="result_@machineObj.Machine_ID" style="width:32%;text-align:center;border: 1px solid black;  padding: 3px;border-radius: 48px;float:right;margin-right:10%"><span id="spanStatus"></span></span><label id="PLCStatus" style="color:red;font-size:11px;"></label></li>
                    }
                }
            </ul>
            <div class="tab-content">
                @if (ViewBag.MachineList != null)
                {
                    int i = 0;
                    foreach (var machineObj in ViewBag.MachineList)
                    {
                        i++;
                        <div class='tab-pane @((i == 1)? "active": "")' id="machine_@machineObj.Machine_ID" style="position: relative;margin-top:3%">
                            <div class="row tbm-container">
                                <div class="col-md-12">
                                    @{ int j = 0; }
                                    @foreach (var item in Model.Where(a => a.Machine_ID == machineObj.Machine_ID))
                                    {

                                        {
                                            var TBM_Image = db.MM_TBM_Image.Where(m => m.EQP_ID == item.EQP_ID).Select(m => m.Image_Content).FirstOrDefault();
                                            var LinkName = item.SAP_Part_No != null ? item.Equipment_Name + "    " + item.SAP_Part_No : item.Equipment_Name;
                                            <div class="col-md-5 tbm-equipment-box">
                                                <div class="col-md-12 box-header">
                                                    <span class="info-box-icon"><i class="fa fa-info"></i></span>
                                                    <h4 class="text-uppercase">
                                                        @Ajax.ActionLink(@LinkName, "getEquipmentData", "TBMDashboard", new { eqpId = item.EQP_ID }, new AjaxOptions()
                                                   {
                                                       HttpMethod = "Get",
                                                       UpdateTargetId = "equipmentDetailsBlock",
                                                       InsertionMode = InsertionMode.Replace,
                                                       OnBegin = "Loadingajax",
                                                       OnComplete = "showEquipmentDetailsModal"
                                                   },
                                                      new { @class = "", id = "", @datatoggle = "tooltip", @title = "Show TBM Reset History Data" })

                                                    </h4>
                                                </div>
                                                <div class="col-md-12" data-eqpid="@item.EQP_ID">



                                                    @*<canvas id="cbm_@item.CBM_ID" width="230" height="180" style="top:0px;">
                                                            [No canvas support]
                                                        </canvas>*@
                                                    @*<div id="@("vchart"+item.CBM_ID vchart"+item.CBM_ID)" style="width:230px;height:230px;margin-left:-65px">

                                                        </div>*@
                                                    <div class="col-md-2 eqp-detail-box">
                                                        <div class="info-box-content" style="width: 120%;">
                                                            <div class="container" id="machineimage">
                                                                @if (TBM_Image == null)
                                                                {


                                                                    <img src="~/Content/theme/dist/img/boxed-bg.png" class="imgemp" style="width:4%;
    height: 55px;
    margin-left: -1%;" />

                                                                }
                                                                else
                                                                {
                                                                    <img class="imgemp" style="width: 4%;
    height: 55px;
    margin-left: -1%;" src="data:image;base64,@System.Convert.ToBase64String(TBM_Image)" />
                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 eqp-detail-box">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text">Balance Life / Designated Life</span>
                                                            <span class="info-box-number eqp-remaining-life">@item.Remaining_Life  /  @item.Designated_Life</span>
                                                            @*<span data-target="#TBM_ID" data-toggle="modal" data-id="@item.EQP_ID" style="cursor:pointer" onclick="MyFunction2(@item.EQP_ID) ">*@
                                                                <div class="progress text-center">
                                                                    <span></span>
                                                                    <div class="progress-bar bg-green-gradient eqp-remlife-perc text-center">

                                                                    </div>

                                                                </div>
                                                            @*</span>*@
                                                        </div>

                                                    </div>
                                                    <div class="col-md-5 eqp-detail-box">
                                                        <div class="info-box-content">
                                                            <span class="info-box-text">Consumed Life</span>
                                                            <span class="info-box-number eqp-remaining-cycle"> @(item.Designated_Life - item.Remaining_Life) </span>
                                                            <div class="progress text-center">
                                                                <span></span>
                                                                <div class="progress-bar bg-green-gradient eqp-remcycle-perc "></div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div><!-- /.nav-tabs-custom -->
    </div>
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content" id="equipmentDetailsBlock">

        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="modal fade" id="TBM_ID" tabindex="-1" role="basic" aria-hidden="true" style="display: none;width:100%;height:100%;position:center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title classModalTitle">TBM Data</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <input type="hidden" id="hdnTBMId" value="" />
                        <div class="col-md-3" id="divFromDate">
                            @Html.Label("From Date", new { @class = "slabel" })
                            <input type="text" id="FromDate" class="form-control" />
                        </div>
                        <div class="col-md-3" id="divFromDate">
                            @Html.Label("To Date", new { @class = "slabel" })
                            <input type="text" id="ToDate" class="form-control" />

                        </div>
                        @*<div class="col-md-3">
                                @Html.Label("History Data")
                                <select id="Hdata" class="form-control">
                                    <option id="Hdata" value="AllData">All Data</option>
                                    <option id="Hdata" value="ExceptionalData">Exceptional Data</option>
                                </select>
                            </div>*@

                        <div class="col-md-6">
                            @Html.Label("To Date", new { @style = "display:none" })
                            <input type="button" id="BtnGenerate" class="btn btn-primary smModalGen" value="Generate Report" />
                            <input type="button" id="BtnGenerateExcel" class="btn btn-primary smModalGen" value="ExportReport" />
                        </div>

                    </div>







                    <div id="TBMDashboardDetails" value="">

                    </div>
                    <div id="chartContainer" value="">

                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" type="button" class="btn btn-primary smModalGen">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<link href="~/Content/theme/TBMDashboard.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/PDFHighchart")
}

<script type="text/javascript">
        var repeater;

        function Loadingajax() {
            $('#myModal1').modal();
            $("#machineIOListBlock").html("<img class='loading-img' src='@(Url.Content("/Content/images/loader2.GIF"))'/>");
        }
        function showEquipmentDetailsModal() {
            $('#myModal1').modal();
        }
        function updateEquipment() {
            var machineID = $('.nav-tabs li.active a.machine-tab').data('machineid');
            //console.log(machineID);
            $.getJSON('/TBMDashboard/getEquipmentLifeDetails', { machineId: machineID }, function (data) {
                //resetAllLines();
                if (data.length > 0) {
                    //PARSING THE TRACKING DATA RECIEVED FOR ENGINE SHOP
                    $.each(data, function (idx, eqpObj) {

                        var eqpID = eqpObj.EQP_ID;
                        var eqpTotalLife = eqpObj.Designated_Life;
                        var eqpLifePerCycle = eqpObj.Life_Per_Cycle;
                        var eqpRemainingLife = eqpObj.Remaining_Life;
                        var eqpConsumedLife = eqpObj.Designated_Life - eqpObj.Remaining_Life;
                        var totalLifePerc = Math.floor((eqpRemainingLife / eqpTotalLife) * 100);
                        //var totalcyclePerc = Math.floor(((eqpRemainingLife / eqpLifePerCycle) / (eqpTotalLife / eqpLifePerCycle)) * 100);
                        var totalRemainingPerc = Math.floor((eqpConsumedLife / eqpTotalLife) * 100);
                        var warningAt = eqpObj.Warning_At;
                        var stopAt = eqpObj.stopAt;

                        var eqpDomObj = $('*[data-eqpID="' + eqpID + '"]');
                        eqpDomObj.find('.eqp-remaining-life').text(eqpRemainingLife + " / " + eqpTotalLife);
                        eqpDomObj.find('.eqp-remaining-cycle').text(eqpConsumedLife);
                        eqpDomObj.find('.eqp-remlife-perc').css('width', totalLifePerc + "%");
                        eqpDomObj.find('.eqp-remcycle-perc').css('width', totalRemainingPerc + "%");
                        eqpDomObj.find('.eqp-remlife-perc').prev().text(totalLifePerc + "%");
                        eqpDomObj.find('.eqp-remcycle-perc').prev().text(totalRemainingPerc + "%");

                        if (eqpConsumedLife >= warningAt) {
                            if (eqpConsumedLife >= stopAt) {
                                eqpDomObj.addClass('bg-faulty').removeClass('bg-faulty-yellow');
                                eqpDomObj.find('.progress-bar').addClass('bg-danger').removeClass('bg-light-yellow').removeClass('bg-green-gradient');
                            } else {
                                //eqpDomObj.addClass('bg-faulty');
                                eqpDomObj.removeClass('bg-faulty').addClass('bg-faulty-yellow');
                                eqpDomObj.find('.progress-bar').addClass('bg-light-yellow').removeClass('bg-green-gradient').removeClass('bg-danger');
                            }
                        } else {
                            eqpDomObj.removeClass('bg-faulty').removeClass('bg-faulty-yellow');
                            eqpDomObj.find('.progress-bar').addClass('bg-green-gradient').removeClass('bg-light-yellow').removeClass('bg-danger');
                        }
                    });
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                // Ajax fail callback function.
                console.log('Error getting cycle step Signal !');
            });

            updateMachineStatus(machineID);
        }


    function updateMachineStatus(machineID) {

        $.getJSON('/CBMDashboard/getMachineStatus', { machineId: machineID }, function (data) {
            $("#PLCStatus").html("");

            if (data.CType == 2) {
                if (data.MDBStatus == 1) {
                    $("#result_" + machineID).css("background", "rgba(38,168,49, 1)");
                    $("#spanStatus").html("Running", "black");
                }
                if (data.MDBStatus == 2) {
                    $("#result_" + machineID).css("background", "rgba(255,99,71, 1)");
                    $("#spanStatus").html("Faulty", "black");
                }
                if (data.MDBStatus == 3) {
                    $("#result_" + machineID).css("background", "rgba(210,190,90, 1)");
                    $("#spanStatus").html("Idle", "black");
                }
                if (data.MDBStatus == 4) {
                    $("#result_" + machineID).css("background", "rgba(255, 220, 50, 1)");
                    $("#spanStatus").html("Disconnected", "black");
                    // $("#PLCStatus").html("Connection Failed");
                    $("#PLCStatus").addClass('blinker1');
                }
            }
            else {
                if (data.MStatus == false) {
                    $("#result_" + machineID).css("background", "rgba(255, 220, 50, 1)");
                    $("#spanStatus").html("Disconnected", "black");
                    $("#PLCStatus").html("OPC Server Disconnected");
                    $("#PLCStatus").addClass('blinker1');
                }
                else if (data.MStatus == true && data.Status.length > 0) {

                    if (data.MStatus == true && data.Status[0].Heart_Bit == true) {
                        if (data.Status[0].isHealthy == true) {
                            $("#result_" + machineID).css("background", "rgba(38,168,49, 1)");
                            $("#spanStatus").html("Running", "black");
                        }
                        else if (data.Status[0].isFaulty == true) {
                            $("#result_" + machineID).css("background", "rgba(255,99,71, 1)");
                            $("#spanStatus").html("Faulty", "black");
                        }
                        else if (data.Status[0].isIdle == true) {
                            $("#result_" + machineID).css("background", "rgba(210,190,90, 1)");
                            $("#spanStatus").html("Idle", "black");
                        }
                        else {
                            //$("#result_" + machineID).css("background", "rgba(255, 220, 50, 1)");
                            $("#result_" + machineID).css("background", "rgba(38,168,49, 1)");
                            $("#spanStatus").html("Connected", "black");
                            //$("#PLCStatus").html("M/C PLC Connection Failed");
                            //$("#PLCStatus").addClass('blinker1');
                        }
                    }
                    else if (data.MStatus == true && data.Status[0].Heart_Bit == false) {
                        $("#result_" + machineID).css("background", "rgba(255, 220, 50, 1)");
                        $("#spanStatus").html("Disconnected", "black");
                        $("#PLCStatus").html("M/C PLC Disconnected");
                        $("#PLCStatus").addClass('blinker1');
                    }
                }
                else if (data.MStatus == true && data.Status.length == 0) {
                    $("#result_" + machineID).css("background", "rgba(255, 220, 50, 1)");
                    $("#spanStatus").html("Disconnected", "black");
                    $("#PLCStatus").html("M/C PLC Disconnected");
                    $("#PLCStatus").addClass('blinker1');
                }
            }
        })
    }

        function MyFunction2(TBMID) {
            $('#FromDate').val("");
            $('#ToDate').val("");
            $('#chartContainer').html();
            $('#chartContainer').empty();

            $('#hdnTBMId').val(TBMID);
            //$('#ccCharat').remove();
            var xAxisLabel = 'Time';
            $("#TBMDashboardDetails").html("<img class=loading-img1 height='150px' style='position=Absolute' src='@(Url.Content("/Content/images/gears.GIF"))'/>");
            $.ajax({
                url: "/TBMDashboard/PreviousTBMData",
                data: "{ 'tbmid': '" + TBMID + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data != "")
                    {
                        $("#TBMDashboardDetails").html(data);
                    }
                    ddl = new Array();
                    UserName = new Array();
                    DesignatedData = new Array();
                    ConsumedData = new Array();
                    //var diff = 3;
                    //var unit = data.unit;
                    //var name = data.paramName;
                    var ParameterName = data.Parameter;
                    var Startdate = data.Startdate;
                    var Enddate = data.EndDate;
                    for (var i = 0; i < data.allTimes.length; i++) {
                        //ddl.push(data.allTimes[i]);
                        var values = data.allTimes[i].split(',');
                        ddl.push('Date - ' + values[0] + '<br/>Token Number - ' + '<b>' + values[2] + '</b>' + '<br/> User Name - ' + '<b>' + values[1] + '</b>' + '<br/> Designated Life - ' + '<b>' + values[3] + '</b>' + '<br/> Consumed Life -' + '<b>' + values[4] + '</b>')

                        DesignatedData.push(data.DesignatedData[i]);
                        ConsumedData.push(data.ConsumedData[i]);
                        UserName.push(data.UserName[i]);
                    };

                   debugger

                    ShowName(ddl, DesignatedData, ConsumedData, UserName, ParameterName, Startdate, Enddate)
                }
            });

        }



        function ShowName(ddl, DesignatedData, ConsumedData, UserName, ParameterName, Startdate, Enddate) {


            Highcharts.chart('chartContainer', {
                credits: {
                    enabled: false
                },

                chart: {
                    zoomType: 'x',

                },
                title: {
                    text:   '<b>' +ParameterName + ' - TBM Reset History Data From -' +Startdate + ' TO ' +Enddate + '</b>',
                    style: {
                        font: 'normal 14px Verdana, sans-serif !important',
                    },
                },
                subtitle: {
                    text: '',
                    style: { right: '80px' }

                },


                xAxis: {
                    //visible:false,
                    categories: ddl,
                    crosshair: true,
                    labels:
                          {
                              formatter: function () {
                                  var item = this.value
                                  var ddlitem = item.split("-");
                                  var finalitem = ddlitem[1].replace("Token Number", " ");
                                  return finalitem;
                              }
                          }

                },

                yAxis: [
                    { // Primary yAxis
                        title: {
                            text: null
                        },
                        labels: {
                            enabled: true
                        }

                    },
                    { // Secondary yAxis
                        title: {
                            text: 'Values'
                        },
                        labels: {
                            enabled: true
                        }
                    }


                ],
                tooltip: {

                    //headerFormat: '{point.key}',
                    //shared: true,
                    //useHTML:true,
                    formatter: function () {
                        return this.point.category;
                    },

                },

                series: [
                    {
                        name: 'Designated Life ',
                        type: 'column',
                        //color: '#339CFF',
                        yAxis: 1,
                        data: DesignatedData,
                        dataLabels: {
                            enabled: true
                        },
                        //data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4,
                        //      194.1, 95.6, 54.4],
                        marker: {
                            fillcolor: 'white',
                            lineWidth: 1,
                            lineColor: Highcharts.getOptions().colors[1]

                        },
                        //tooltip: {
                        //    valueSuffix:UserName
                        //}
                    },

                    {
                        name: 'Consumed Life ',
                        type: 'column',
                        //color: '#339CF1',
                        //tag
                        //FF5733
                        yAxis:1 ,
                        dataLabels: {
                            enabled: false
                        },
                        data: ConsumedData,
                        //data: [1016, 1016, 1015.9, 1015.5, 1012.3, 1009.5, 1009.6, 1010.2,
                        //   1013.1, 1016.9, 1018.2, 1016.7],xB0C
                        marker: {
                            fillcolor: 'white',
                            lineWidth: 1,
                            lineColor: Highcharts.getOptions().colors[1]
                        },
                        //dashStyle: 'shortdot',
                        //tooltip: {
                        //    categories:UserName,
                        //    shared:true
                        //}
                    },



                ],
                center: [150, 120],
                size: 350,
                showInLegend: false,
                dataLabels: {
                    enabled: true

                }

            });

        }

        $("#BtnGenerate").click(function () {
            $('#chartContainer').html();
            $('#chartContainer').empty();
            var fromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            var TBMId = $('#hdnTBMId').val();
            IsValidDate = true
            if(fromDate > ToDate)
            {

            }
            else
            {

                var TBMId = $('#hdnTBMId').val();
                var HData = $("#Hdata").val();
                //$('#ccCharat').remove();
                var xAxisLabel = 'Time';
                $("#TBMDashboardDetails").html("<img class=loading-img1 height='150px' style='position=Absolute' src='@(Url.Content("/Content/images/gears.GIF"))'/>");
                $.ajax({
                    url: "/TBMDashboard/CustomTBMData",
                    data: "{ 'tbmid': '" + TBMId + "', 'fromDate': '" + fromDate + "', 'ToDate': '" + ToDate + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data != "")
                        {
                            $("#TBMDashboardDetails").html(data);
                        }
                        ddl = new Array();
                        UserName = new Array();
                        DesignatedData = new Array();
                        ConsumedData = new Array();
                        //var diff = 3;
                        //var unit = data.unit;
                        //var name = data.paramName;
                        var ParameterName = data.Parameter;
                        var Startdate = data.Startdate;
                        var Enddate = data.EndDate;
                        for (var i = 0; i < data.allTimes.length; i++) {
                            var values = data.allTimes[i].split(',');
                            ddl.push('Date - ' + values[0] + '<br/>Token Number - ' + '<b>' + values[2] + '</b>' + '<br/> User Name - ' + '<b>' + values[1] + '</b>' + '<br/> Designated Life - ' + '<b>' + values[3] + '</b>' + '<br/> Consumed Life -' + '<b>' + values[4] + '</b>')

                            //ddl.push(data.allTimes[i]);
                            DesignatedData.push(data.DesignatedData[i]);
                            ConsumedData.push(data.ConsumedData[i]);
                            UserName.push(data.UserName[i]);
                        };



                        ShowName(ddl, DesignatedData, ConsumedData, UserName, ParameterName, Startdate, Enddate)
                    }
                });
            }

        });
        $("#BtnGenerateExcel").click(function () {

            //$('#ccCharat').html();
            //$('#ccCharat').empty();
            var fromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            var TBMId = $('#hdnTBMId').val();
            //$('#ccCharat').remove();
            var xAxisLabel = 'Time';
            var path = "/TBMDashboard/ExportData?tbmid=" + TBMId + "&fromDate=" + fromDate + "&ToDate=" + ToDate;

            //window.open(path, '_blank');
            window.open(path,'_blank');

            //$.ajax({
            //    url: "/CBMDashboard/CustomCBMData",
            //    data: "{ 'cbmid': '" + CBMId + "', 'fromDate': '" + fromDate + "', 'HData': '" + HData + "'}",
            //    dataType: "json",
            //    type: "POST",
            //    contentType: "application/json; charset=utf-8",
            //    success: function (data) {


            //        ddl = new Array();
            //        cbmData = new Array();


            //        var unit = data.unit;
            //        var name = data.paramName;
            //        var diff = data.datediff;
            //        for (var i = 0; i < data.allTimes.length; i++) {
            //            ddl.push(data.allTimes[i]);
            //            cbmData.push(data.CBMdata[i]);
            //        }
            //        ShowName(ddl, cbmData, xAxisLabel, unit, name, diff)
            //    }
            //});
        });
        $(document).ready(function () {
            updateEquipment();
            repeater = setInterval(updateEquipment, 5000);
            $("#FromDate").datepicker(
       {
           format: 'dd-mm-yyyy'
       });
            $("#ToDate").datepicker(
             {
                 format: 'dd-mm-yyyy'
             });
        });
</script>

