@model REIN_MES_System.Models.RS_Attribution_Parameters

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}


<div class="manager_Line">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Attribute_ID)
            <div class="row">
                <div class="col-sm-3" style="display:none">
                    @Html.LabelFor(model => model.Plant_ID, "Plant Name", htmlAttributes: new { @class = "" })<i style="color:red">*</i>

                    @Html.DropDownListFor(model => model.Plant_ID, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Plant_ID, null, new { @class = "validation_error" })
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.Shop_ID, "Shop Name", htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.DropDownListFor(model => model.Shop_ID, null, "-Select Shop-", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Shop_ID, null, new { @class = "validation_error" })

                </div>

                <div class="col-sm-4">
                    @Html.LabelFor(model => model.Attribute_Type, "Attribute Type", htmlAttributes: new { @class = "" })<i style="color:red">*</i>

                    @Html.DropDownListFor(model => model.Attribute_Type,null,htmlAttributes: new { @class = "form-control", disabled="disabled" })
                    @Html.ValidationMessageFor(model => model.Attribute_Type, null, new { @class = "validation_error" })
                    @Html.HiddenFor(model => model.Attribute_Type)
                </div>

                <div class="col-sm-4">
                    @Html.LabelFor(model => model.Attribute_Desc, "Attribute Description", htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.TextBoxFor(model => model.Attribute_Desc, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.Attribute_Desc, null, new { @class = "validation_error" })
                    @Html.HiddenFor(model => model.Attribute_Desc)
                </div>
            </div>
            <br /><br />
            <div class="">
                <div class="">
                    <input type="submit" value="Save" class="btn btn-primary" /> @Html.ActionLink("Back", "Create", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }

    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
</div>