@model Mahindra_FD.Models.MM_AM_Operator_Zone
@using Mahindra_FD.App_LocalResources

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<div class="col-md-12">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Zone_ID)

            <div class="row">
                <div class="col-md-3 form-group">
                    @Html.LabelFor(model => model.Zone_Name, htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(model => model.Zone_Name, htmlAttributes: new { @class = "form-control", @maxlength = "50" })
                    @Html.ValidationMessageFor(model => model.Zone_Name)
                </div>
            </div>

            <div class="row" style="display:none;">
                <div class="col-md-3 form-group">
                    @Html.LabelFor(model => model.Plant_ID, "Plant_ID", htmlAttributes: new { @class = "" })

                    @Html.DropDownList("Plant_ID", String.Empty)
                    @Html.ValidationMessageFor(model => model.Plant_ID)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 form-group">
                    @Html.LabelFor(model => model.Shop_ID, "Shop_ID", htmlAttributes: new { @class = "" })
                    @Html.DropDownList("Shop_ID",null, String.Empty, htmlAttributes: new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Shop_ID)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 form-group">
                    <input type="submit" value="@ResourceGlobal.Save" class="btn btn-primary" />
                    @Html.ActionLink(ResourceGlobal.Show_All, "Index", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
   
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
