@model REIN_MES_System.Models.RS_OM_OrderRelease

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RS_OM_OrderRelease</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Row_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Row_ID)
                @Html.ValidationMessageFor(model => model.Row_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Plant_ID, "Plant_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Plant_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Plant_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Shop_ID, "Shop_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Shop_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Shop_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Plant_OrderNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Plant_OrderNo)
                @Html.ValidationMessageFor(model => model.Plant_OrderNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_No, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order_No)
                @Html.ValidationMessageFor(model => model.Order_No)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Model_Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Model_Code)
                @Html.ValidationMessageFor(model => model.Model_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Model_Color, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Model_Color)
                @Html.ValidationMessageFor(model => model.Model_Color)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order_Type)
                @Html.ValidationMessageFor(model => model.Order_Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country_ID)
                @Html.ValidationMessageFor(model => model.Country_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Priority)
                @Html.ValidationMessageFor(model => model.Priority)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order_Status)
                @Html.ValidationMessageFor(model => model.Order_Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_Transfered, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Is_Transfered)
                @Html.ValidationMessageFor(model => model.Is_Transfered)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_Purgeable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Is_Purgeable)
                @Html.ValidationMessageFor(model => model.Is_Purgeable)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inserted_User_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inserted_User_ID)
                @Html.ValidationMessageFor(model => model.Inserted_User_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inserted_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inserted_Date)
                @Html.ValidationMessageFor(model => model.Inserted_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Updated_User_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Updated_User_ID)
                @Html.ValidationMessageFor(model => model.Updated_User_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Updated_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Updated_Date)
                @Html.ValidationMessageFor(model => model.Updated_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Is_Active)
                @Html.ValidationMessageFor(model => model.Is_Active)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_Deleted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Is_Deleted)
                @Html.ValidationMessageFor(model => model.Is_Deleted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks)
                @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
