@model REIN_MES_System.Models.RS_MT_Machines
@using REIN_MES_System.App_LocalResources;

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<script src="~/Content/theme/plugins/daterangepicker/moment.min.js"></script>
<script src="~/Content/theme/plugins/DateTimePicker/bootstrap-datetimepicker.min.js"></script>
<style>
    table {
        border: 1px;
        font-size: 12px;
        text-align: center;
    }

        table .tr > td {
            text-wrap: initial;
            text-align: center;
        }

        table tr.progress-signal {
            background-color: yellow;
            text-align: center;
            color: black;
            font-weight: bold;
        }

    .table-scroll {
        height: 240px !important;
        overflow-y: scroll !important;
        overflow-x: hidden;
        padding-right: 0px;
    }

    .form-control {
        border-radius: 10px !important;
    }
</style>
<div class="col-md-12 col-lg-12 col-sm-12">
    @using (Html.BeginForm("Create", "Machines", FormMethod.Post, new { @class = "col-md-12", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-horizontal">
            <div class="row breakClass">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-3" style="display:none;">
                        @Html.LabelFor(model => model.Plant_ID, new { @class = "" })<i style="color:red">*</i>
                        @Html.DropDownListFor(model => model.Plant_ID, null, ResourceDisplayName.Select_Plant, htmlAttributes: new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.Plant_ID, null, new { @class = "validation_error" })
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.Shop_ID, ResourceDisplayName.Shop_Name, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.DropDownListFor(model => model.Shop_ID, (SelectList)ViewBag.Shop_ID, ResourceDisplayName.Select_Shop, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Shop_ID, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.Line_ID, ResourceDisplayName.Line_Name, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.DropDownListFor(model => model.Line_ID, (SelectList)ViewBag.Line_ID, ResourceDisplayName.select_Line, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Line_ID, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.Station_ID, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.DropDownListFor(model => model.Station_ID, (SelectList)ViewBag.Station_ID, ResourceDisplayName.Select_Station, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Station_ID, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.Machine_Number, ResourceDisplayName.Machine_No, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.TextBoxFor(model => model.Machine_Number, htmlAttributes: new { @class = "form-control", @maxlength = "50" })
                    @Html.ValidationMessageFor(model => model.Machine_Number, null, new { @class = "validation_error" })
                </div>
            </div>
            <div class="row breakClass">
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.Machine_Name, ResourceDisplayName.Machine_Name, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.TextBoxFor(model => model.Machine_Name, htmlAttributes: new { @class = "form-control", @maxlength = "100" })
                    @Html.ValidationMessageFor(model => model.Machine_Name, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.Machine_Description, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.TextBoxFor(model => model.Machine_Description, htmlAttributes: new { @class = "form-control", @maxlength = "200" })
                    @Html.ValidationMessageFor(model => model.Machine_Description, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.Machine_Category_ID, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.DropDownListFor(model => model.Machine_Category_ID, (SelectList)ViewBag.Machine_Category_ID, ResourceDisplayName.Select_Category, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Machine_Category_ID, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.Manufaturing_Year, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.TextBoxFor(model => model.Manufaturing_Year, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Manufaturing_Year, null, new { @class = "validation_error" })
                </div>
            </div>
           
            <div class="row breakClass">
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.M_Type_ID, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.DropDownListFor(model => model.M_Type_ID, (SelectList)ViewBag.M_Type_ID, "Select Machine Category", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.M_Type_ID, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.Machine_Make, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.TextBoxFor(model => model.Machine_Make, htmlAttributes: new { @class = "form-control", @maxlength = "50" })
                    @Html.ValidationMessageFor(model => model.Machine_Make, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.Machine_Model, htmlAttributes: new { @class = "" })<i style="color:red">*</i>
                    @Html.TextBoxFor(model => model.Machine_Model, htmlAttributes: new { @class = "form-control", @maxlength = "50" })
                    @Html.ValidationMessageFor(model => model.Machine_Model, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.FMEA_Document, htmlAttributes: new { @class = "" })
                    <input type="file" name="files" multiple="multiple" />
                    @Html.ValidationMessageFor(model => model.FMEA_Document, null, new { @class = "validation_error" })
                </div>
                @*<div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.Mail_Trigger_In, "Mail Trigger In", htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.Mail_Trigger_In, new { onchange = "", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Mail_Trigger_In, null, new { @class = "validation_error" })
                </div>*@
            </div>
           
            <div class="row breakClass">
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.M_Asset_Number, htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(model => model.M_Asset_Number, null, htmlAttributes: new { @class = "form-control", @maxlength = "25" })
                    @Html.ValidationMessageFor(model => model.M_Asset_Number, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.IP_Address,ResourceDisplayName.IPADDRESS, htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(model => model.IP_Address, null, htmlAttributes: new { @class = "form-control", @maxlength = "15" })
                    @Html.ValidationMessageFor(model => model.IP_Address, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.Label("Image_Content", "Machine Image", htmlAttributes: new { @class = "control-label" })
                    <input type="file" id="Image_Content" name="upload" />
                    @Html.ValidationMessage("Image_Content", null, new { @class = "validation_error" })
                </div>
            </div>

            <div class="row breakClass">
                <div class="col-md-3 col-lg-3 col-sm-3">
                    <input type="checkbox" id="IsCBM" checked="checked" name="CheckboxGroup" class="CheckboxGroup" />
                    @*@Html.CheckBox("IsCBM")*@
                    @Html.Label(ResourceDisplayName.IsCBM, new { @class = "" })
                    @Html.ValidationMessageFor(model => model.IsCBM)
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    <input type="checkbox" id="IsTBM" name="CheckboxGroup" class="CheckboxGroup" />
                    @*@Html.CheckBox("IsTBM")*@
                    @Html.Label(ResourceDisplayName.IsTBM, new { @class = "" })
                    @Html.ValidationMessageFor(model => model.IsTBM)
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @*@Html.CheckBox("IsMinorStoppage")*@
                    <input type="checkbox" id="IsMinorStoppage" name="CheckboxGroup" class="CheckboxGroup" />
                    @Html.Label(ResourceDisplayName.IsMinorStoppage, new { @class = "" })
                    @Html.ValidationMessageFor(model => model.IsMinorStoppage)
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.LabelFor(model => model.IsActive, new { @class = "" })
                    @Html.ValidationMessageFor(model => model.IsActive)
                </div>
            </div>
            
            <div class="row breakClass" id="CBMRow1" style="display:none">
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.CBM_Matrix1, ResourceDisplayName.CBM_Matrix1, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.CBM_Matrix1, new { onchange = "", @class = "form-control", @maxlength = "2" })
                    @Html.ValidationMessageFor(model => model.CBM_Matrix1, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.CBM_Email1, ResourceDisplayName.Email_ID, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.CBM_Email1, new { onchange = "", @class = "form-control", @maxlength = "100" })
                    @*@Html.CheckBox("IsCBM")*@
                    @Html.ValidationMessageFor(model => model.CBM_Email1, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.CBM_SMS1, ResourceDisplayName.Mobile_No, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.CBM_SMS1, new { onchange = "", @class = "form-control", @maxlength = "10" })
                    @Html.ValidationMessageFor(model => model.CBM_SMS1, null, new { @class = "validation_error" })
                </div>
            </div>
            <div class="row breakClass" id="TBMRow1" style="display:none">
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.TBM_Matrix1, ResourceDisplayName.TBM_Matrix1, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.TBM_Matrix1, new { onchange = "", @class = "form-control", @maxlength = "2" })
                    @Html.ValidationMessageFor(model => model.TBM_Matrix1, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.TBM_Email1, ResourceDisplayName.Email_ID, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.TBM_Email1, new { onchange = "", @class = "form-control", @maxlength = "100" })
                    @*@Html.CheckBox("IsCBM")*@
                    @Html.ValidationMessageFor(model => model.TBM_Email1, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.TBM_SMS1, ResourceDisplayName.Mobile_No, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.TBM_SMS1, new { onchange = "", @class = "form-control", @maxlength = "10" })
                    @Html.ValidationMessageFor(model => model.TBM_SMS1, null, new { @class = "validation_error" })
                </div>
            </div>
            <div class="row breakClass" id="MSRow1" style="display:none">
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.MS_Matrix1, ResourceDisplayName.MS_Matrix1, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.MS_Matrix1, new { onchange = "", @class = "form-control", @maxlength = "2" })
                    @Html.ValidationMessageFor(model => model.MS_Matrix1, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.MS_Occurences1, ResourceDisplayName.MS_Occurences, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.MS_Occurences1, new { onchange = "", @class = "form-control", @maxlength = "2" })
                    @Html.ValidationMessageFor(model => model.MS_Occurences1, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.MS_Email1, ResourceDisplayName.Email_ID, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.MS_Email1, new { onchange = "", @class = "form-control", @maxlength = "100" })
                    @*@Html.CheckBox("IsCBM")*@
                    @Html.ValidationMessageFor(model => model.MS_Email1, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.MS_SMS1, ResourceDisplayName.Mobile_No, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.MS_SMS1, new { onchange = "", @class = "form-control", @maxlength = "10" })
                    @Html.ValidationMessageFor(model => model.MS_SMS1, null, new { @class = "validation_error" })
                </div>
            </div>
           
            <div class="row breakClass" id="CBMRow2" style="display:none">

                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.CBM_Matrix2, ResourceDisplayName.CBM_Matrix2, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.CBM_Matrix2, new { onchange = "", @class = "form-control", @maxlength = "2" })
                    @Html.ValidationMessageFor(model => model.CBM_Matrix2, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.CBM_Email2, ResourceDisplayName.Email_ID, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.CBM_Email2, new { onchange = "", @class = "form-control", @maxlength = "100" })
                    @Html.ValidationMessageFor(model => model.CBM_Email2, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.CBM_SMS2, ResourceDisplayName.Mobile_No, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.CBM_SMS2, new { onchange = "", @class = "form-control", @maxlength = "10" })
                    @Html.ValidationMessageFor(model => model.CBM_SMS2, null, new { @class = "validation_error" })
                </div>

            </div>
            <div class="row breakClass" id="TBMRow2" style="display:none">
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.TBM_Matrix2, ResourceDisplayName.TBM_Matrix2, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.TBM_Matrix2, new { onchange = "", @class = "form-control", @maxlength = "2" })
                    @Html.ValidationMessageFor(model => model.TBM_Matrix2, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.TBM_Email2, ResourceDisplayName.Email_ID, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.TBM_Email2, new { onchange = "", @class = "form-control", @maxlength = "100" })
                    @Html.ValidationMessageFor(model => model.TBM_Email2, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.TBM_SMS2, ResourceDisplayName.Mobile_No, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.TBM_SMS2, new { onchange = "", @class = "form-control", @maxlength = "10" })
                    @Html.ValidationMessageFor(model => model.TBM_SMS2, null, new { @class = "validation_error" })
                </div>
            </div>
            <div class="row breakClass" id="MSRow2" style="display:none">
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.MS_Matrix2, ResourceDisplayName.MS_Matrix2, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.MS_Matrix2, new { onchange = "", @class = "form-control", @maxlength = "2" })
                    @Html.ValidationMessageFor(model => model.MS_Matrix2, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.MS_Occurences2, ResourceDisplayName.MS_Occurences, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.MS_Occurences2, new { onchange = "", @class = "form-control", @maxlength = "2" })
                    @Html.ValidationMessageFor(model => model.MS_Occurences2, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.MS_Email2, ResourceDisplayName.Email_ID, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.MS_Email2, new { onchange = "", @class = "form-control", @maxlength = "100" })
                    @Html.ValidationMessageFor(model => model.MS_Email2, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.MS_SMS2, ResourceDisplayName.Mobile_No, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.MS_SMS2, new { onchange = "", @class = "form-control", @maxlength = "10" })
                    @Html.ValidationMessageFor(model => model.MS_SMS2, null, new { @class = "validation_error" })
                </div>
                <br />
            </div>
           
            <div class="row breakClass" id="CBMRow3" style="display:none">
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.CBM_Matrix3, ResourceDisplayName.CBM_Matrix3, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.CBM_Matrix3, new { onchange = "", @class = "form-control", @maxlength = "2" })
                    @Html.ValidationMessageFor(model => model.CBM_Matrix3, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.CBM_Email3, ResourceDisplayName.Email_ID, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.CBM_Email3, new { onchange = "", @class = "form-control", @maxlength = "100" })
                    @Html.ValidationMessageFor(model => model.CBM_Email3, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.CBM_SMS3, ResourceDisplayName.Mobile_No, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.CBM_SMS3, new { onchange = "", @class = "form-control", @maxlength = "10" })
                    @Html.ValidationMessageFor(model => model.CBM_SMS3, null, new { @class = "validation_error" })
                </div>
            </div>
            <div class="row breakClass" id="TBMRow3" style="display:none">
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.TBM_Matrix3, ResourceDisplayName.TBM_Matrix3, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.TBM_Matrix3, new { onchange = "", @class = "form-control", @maxlength = "2" })
                    @Html.ValidationMessageFor(model => model.TBM_Matrix3, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.TBM_Email3, ResourceDisplayName.Email_ID, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.TBM_Email3, new { onchange = "", @class = "form-control", @maxlength = "100" })
                    @Html.ValidationMessageFor(model => model.TBM_Email3, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.TBM_SMS3, ResourceDisplayName.Mobile_No, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.TBM_SMS3, new { onchange = "", @class = "form-control", @maxlength = "10" })
                    @Html.ValidationMessageFor(model => model.TBM_SMS3, null, new { @class = "validation_error" })
                </div>
            </div>
            <div class="row breakClass" id="MSRow3" style="display:none">
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.MS_Matrix3, ResourceDisplayName.MS_Matrix3, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.MS_Matrix3, new { onchange = "", @class = "form-control", @maxlength = "2" })
                    @Html.ValidationMessageFor(model => model.MS_Matrix3, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.MS_Occurences3, ResourceDisplayName.MS_Occurences, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.MS_Occurences3, new { onchange = "", @class = "form-control", @maxlength = "2" })
                    @Html.ValidationMessageFor(model => model.MS_Occurences3, null, new { @class = "validation_error" })
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.MS_Email3, ResourceDisplayName.Email_ID, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.MS_Email3, new { onchange = "", @class = "form-control", @maxlength = "100" })
                    @Html.ValidationMessageFor(model => model.MS_Email3, null, new { @class = "validation_error" })
                </div>

                <div class="col-md-3 col-lg-3 col-sm-3">
                    @Html.LabelFor(model => model.MS_SMS3, ResourceDisplayName.Mobile_No, htmlAttributes: new { @class = " " })
                    @Html.TextBoxFor(model => model.MS_SMS3, new { onchange = "", @class = "form-control", @maxlength = "10" })
                    @Html.ValidationMessageFor(model => model.MS_SMS3, null, new { @class = "validation_error" })
                </div>
            </div>
          
            <br />
            <div class="row">

                <div class="col-md-offset-0 col-sm-offset-0 col-lg-offset-0 col-md-10 col-sm-10 col-lg-10">
                    <input type="submit" value="@ResourceGlobal.Save" class="btn btn-primary" />
                    @Html.ActionLink(ResourceGlobal.Show_All, "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
                </div>

            </div>
        </div>
    }
</div>

<div id="dialog" title="Error"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Content/theme/plugins/jQueryUI/jquery-ui.min.js"></script>*@
    @Scripts.Render("~/bundles/Select2scripts")
    <link href="~/Content/theme/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <script src="~/Content/theme/plugins/datepicker/bootstrap-datepicker.js"></script>
    @*<script src="~/Content/theme/plugins/datepicker/bootstrap-datepicker.js"></script>*@
}

<script>
        window.onload = function () {
            $('#CBMRow1').css('display', 'block');
            $('#CBMRow2').css('display', 'block');
            $('#CBMRow3').css('display', 'block');
        };
        $(document).ready(function () {
            //$("#Line_ID").select2();
            //$("#Station_ID").select2();
            $(".CheckboxGroup").click(function () {
                debugger;
                $(".CheckboxGroup").removeAttr("checked");
                $(this).removeClass("CheckboxGroup");
                $(this).prop('checked',true);

                var value = this;
                var value1 = value.toString().replace('input#','');
                if(value1 == 'IsCBM')
                {
                    $('#CBMRow1').css('display', 'block');
                    $('#CBMRow2').css('display', 'block');
                    $('#CBMRow3').css('display', 'block');
                    $('#TBMRow1').css('display', 'none');
                    $('#TBMRow2').css('display', 'none');
                    $('#TBMRow3').css('display', 'none');
                    $('#MSRow1').css('display', 'none');
                    $('#MSRow2').css('display', 'none');
                    $('#MSRow3').css('display', 'none');
                }
                if(value1 == 'IsTBM')
                {
                    $('#TBMRow1').css('display', 'block');
                    $('#TBMRow2').css('display', 'block');
                    $('#TBMRow3').css('display', 'block');
                    $('#CBMRow1').css('display', 'none');
                    $('#CBMRow2').css('display', 'none');
                    $('#CBMRow3').css('display', 'none');
                    $('#MSRow1').css('display', 'none');
                    $('#MSRow2').css('display', 'none');
                    $('#MSRow3').css('display', 'none');
                }
                if(value1== 'IsMinorStoppage')
                {
                    $('#MSRow1').css('display', 'block');
                    $('#MSRow2').css('display', 'block');
                    $('#MSRow3').css('display', 'block');
                    $('#CBMRow1').css('display', 'none');
                    $('#CBMRow2').css('display', 'none');
                    $('#CBMRow3').css('display', 'none');
                    $('#TBMRow1').css('display', 'none');
                    $('#TBMRow2').css('display', 'none');
                    $('#TBMRow3').css('display', 'none');
                }
                else {
                    $('#CBMRow1').css('display', 'none');
                    $('#CBMRow2').css('display', 'none');
                    $('#CBMRow3').css('display', 'none');
                    $('#TBMRow1').css('display', 'none');
                    $('#TBMRow2').css('display', 'none');
                    $('#TBMRow3').css('display', 'none');
                    $('#MSRow1').css('display', 'none');
                    $('#MSRow2').css('display', 'none');
                    $('#MSRow3').css('display', 'none');
                }
                $(this).addClass("CheckboxGroup");
            });
            $('#IsCBM').change(function () {
                if (this.checked)
                {
                    $('#CBMRow1').css('display', 'block');
                    $('#CBMRow2').css('display', 'block');
                    $('#CBMRow3').css('display', 'block');
                }
                else {
                    $('#CBMRow1').css('display', 'none');
                    $('#CBMRow2').css('display', 'none');
                    $('#CBMRow3').css('display', 'none');
                }
            });
            $('#IsTBM').change(function () {
                if (this.checked) {
                    $('#TBMRow1').css('display', 'block');
                    $('#TBMRow2').css('display', 'block');
                    $('#TBMRow3').css('display', 'block');
                }
                else {
                    $('#TBMRow1').css('display', 'none');
                    $('#TBMRow2').css('display', 'none');
                    $('#TBMRow3').css('display', 'none');
                }
            });
            $('#IsMinorStoppage').change(function () {
                if (this.checked) {
                    $('#MSRow1').css('display', 'block');
                    $('#MSRow2').css('display', 'block');
                    $('#MSRow3').css('display', 'block');
                }
                else {
                    $('#MSRow1').css('display', 'none');
                    $('#MSRow2').css('display', 'none');
                    $('#MSRow3').css('display', 'none');
                }
            });

            $('#Manufaturing_Year').datepicker({
                format: 'yyyy/mm/dd'
            });

            $("#Mail_Trigger_In").datetimepicker(
                  {
                      format: "HH:mm:ss",
                      allowInputToggle: true,
                      //  minDate: new Date(),
                      //maxDate: '0',
                      collapse: true,
                  });

            $("#Shop_ID").on("change", function () {
                //$("#Line_ID").html("");
                //$("#Station_ID").html("");
                var Shop_ID = $('#Shop_ID').val();
                if (Shop_ID !="") {
                    //alert(Shop_ID);
                    $.getJSON('/Machines/GetLineByShopID', { shopid: Shop_ID }, function (data) {
                        //  alert(data);
                        if (data.length > 0) {
                            $('#Line_ID option').remove();
                            $('#Line_ID').append('<option value=""></option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#Line_ID').append('<option value="' +
                                           data[i].Line_ID + '">' + data[i].Line_Name + '</option>');
                            }
                        }

                    });
                }
                else
                {
                    $("#Line_ID").html("");
                    $("#Station_ID").html("");
                }
            });

            $("#Line_ID").on("change", function () {
                //$("#Station_ID").html("");
                var Line_ID = $('#Line_ID').val();
                if (Line_ID != "") {
                    //alert(Shop_ID);
                    $.getJSON('/Machines/GetStationsByLineID', { lineid: Line_ID }, function (data) {
                        //  alert(data);
                        if (data.length > 0) {
                            $('#Station_ID option').remove();
                            $('#Station_ID').append('<option value=""></option>');
                            for (var i = 0; i < data.length; i++) {
                                $('#Station_ID').append('<option value="' +
                                           data[i].Station_ID + '">' + data[i].Station_Name + '</option>');
                            }
                        }
                    });
                }
                else
                {
                    $('#Station_ID option').remove();
                    $('#Station_ID').append('<option value=""></option>');
                }
            });
        });



</script>

