@model REIN_MES_System.Models.RS_MT_Machines

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RS_MT_Machines</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Machine_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machine_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machine_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FMEA_Document)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FMEA_Document)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Family)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machine_Category_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine_Category_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufaturing_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufaturing_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Status_Machine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Status_Machine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Transfered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Transfered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Purgeable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Purgeable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inserted_Host)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inserted_Host)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inserted_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inserted_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_Host)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_Host)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Employee.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Employee.Employee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Employee1.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Employee1.Employee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Lines.Line_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Lines.Line_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Plants.Plant_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Plants.Plant_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Shops.Shop_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Shops.Shop_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Stations.Station_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Stations.Station_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
