@model REIN_MES_System.Models.RS_Route_Marriage_Shop

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RS_Route_Marriage_Shop</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inserted_Host)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inserted_Host)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inserted_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inserted_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_Host)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_Host)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Employee.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Employee.Employee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Employee1.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Employee1.Employee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Lines.Line_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Lines.Line_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Lines1.Line_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Lines1.Line_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Plants.Plant_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Plants.Plant_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Shops.Shop_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Shops.Shop_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Shops1.Shop_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Shops1.Shop_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Stations.Station_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Stations.Station_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Stations1.Station_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Stations1.Station_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Route_Marriage_Shop_Station }) |
    @Html.ActionLink("Back to List", "Index")
</p>
