@model REIN_MES_System.Models.MM_Plant_Production

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MM_Plant_Production</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plant_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plant_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RS_Shops.Shop_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RS_Shops.Shop_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pro_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
