@model IEnumerable<REIN_MES_System.Models.RS_AM_Operator_Station_Allocation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-striped datatable_completes">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Is_Transferred)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Is_Purgeable)
                </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Inserted_Host)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inserted_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_Host)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RS_AM_Skill_Set.Skill_Set)
            </th>*@
            
            @*<th>
                    @Html.DisplayNameFor(model => model.RS_Employee1.Employee_Name)
                </th>*@
            
            @*<th>
                @Html.DisplayName("Plant Name")
            </th>*@
            <th>
                @Html.DisplayName("Shop Name")
            </th>
            <th>
                @Html.DisplayName("Line Name")
            </th>
            <th>
                @Html.DisplayName("Station Name")
            </th>
            <th>
                @Html.DisplayName("Cell Member Name")
            </th>
            <th>
                @Html.DisplayName("Shift Name")
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.RS_Employee2.Employee_Name)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Is_Transferred)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Is_Purgeable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inserted_Host)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inserted_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated_Host)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RS_AM_Skill_Set.Skill_Set)
                </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.RS_Employee.Employee_Name)
                </td>*@
               
                
                @*<td>
                    @Html.DisplayFor(modelItem => item.RS_Plants.Plant_Name)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.RS_Shops.Shop_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RS_Lines.Line_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RS_Stations.Station_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RS_Employee.Employee_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RS_Shift.Shift_Name)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.RS_Employee2.Employee_Name)
                </td>*@
                <td>
                    <a href="@Url.Action("Edit", "OperatorStationAllocation", new { id = item.OSM_ID })"><i class="fa fa-edit"></i></a> &nbsp;&nbsp;
                    <a href="@Url.Action("Details", "OperatorStationAllocation", new { id = item.OSM_ID })"><i class="fa fa-fw fa-laptop"></i></a> &nbsp;&nbsp;
                    <a href="@Url.Action("Delete", "OperatorStationAllocation", new { id = item.OSM_ID })"><i class="fa fa-trash"></i></a>


                    @*@Html.ActionLink("Edit", "Edit", new { id = item.OSM_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OSM_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OSM_ID })*@
                </td>
            </tr>
        }
    </tbody>
    @section scripts {
        @Scripts.Render("~/Content/theme/plugins/datatables/js")
        @Styles.Render("~/Content/theme/plugins/datatables/css")
        @Scripts.Render("~/Scripts/user_datatable")
    }
</table>
